@import '../../inventory';

.context-menu {
  position: fixed;
  //position: absolute;
  border-radius: v(5);
  box-shadow: 0 v(10) v(42) 0 rgba(0, 0, 0, 0.5);
  border: solid v(1) #2b2b33;
  background-color: #202026;
  z-index: 50;
  font-family: 'Montserrat';
  font-size: v(12);
  font-weight: bold;
  min-width: v(180);

  &__title {
    min-height: v(39);
    padding: v(10) 0;
    margin: 0 v(12);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #292931;
    color: #ffffff;
  }

  &__item {
    height: v(35);
    padding: 0 v(12);
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #ababb9;
    cursor: pointer;
    transition: 150ms;

    &:hover {
      color: #ffffff;
      background-color: #3a3a47;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    &-btn {
      height: v(24) !important;
      width: v(24) !important;
    }
  }

  &__input {
    font-family: 'Montserrat';
    font-size: v(17);
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: v(50);
    height: v(28);
    border-radius: v(2);
    border: solid v(1) #2a2a31;
    background-color: #17171a;
    margin: 0 v(10);
  }
}
