<template>
  <div
    ref="context"
    class="context-menu"
    :style="offset"
    @mouseleave="onMouseLeave"
  >
    <div class="context-menu__title">
      {{ item?.item.name }}
    </div>
    <div>
      <div
        v-for="action in actions"
        :key="action.key"
        class="context-menu__item"
        @click="action.disabled ? () => {} : onSelect(action.key)"
      >
        {{ action.title }}
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { usePositionOffset } from '@/use/usePositionOffset';
import { inject, onMounted, PropType, ref } from 'vue';
import {
  ItemInteractInjection,
  itemInteractProvideKey,
  Position,
} from '@/components/Inventory/helpers';
import { InventoryItem } from '@gta5/gtanetsdk';

export interface ContextMenuItem {
  title: string
  key: string
  disabled: boolean
}

const props = defineProps({
  position: {
    type: Object as PropType<Position>,
    required: true,
  },
  item: {
    type: Object as PropType<InventoryItem>,
    required: true,
  },
  actions: {
    type: Array as PropType<ContextMenuItem[]>,
    required: true,
  },
});

const context = ref<HTMLElement | null>(null);
const pos = ref<Position>({
  x: 0,
  y: 0,
});

const itemInteractProvider = inject<ItemInteractInjection | null>(itemInteractProvideKey, null);
if(!itemInteractProvider) {
  console.warn('please provide Item-interact-provider to interact with ItemContextMenu');
}

const onMouseLeave = (e: MouseEvent) => {
  itemInteractProvider?.onMouseContextLeft(e, props.item);
};

const emit = defineEmits(['select']);

const onSelect = (key: string) => {
  emit('select', { key, item: props.item });
  onMouseLeave({} as MouseEvent);
};

const { offset } = usePositionOffset(pos, context);
onMounted(() => pos.value = props.position);
</script>
<style lang="scss" scoped src="./ItemContextMenu.scss"></style>
