.places {
  max-width: v(450);
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: v(21);
    list-style: none;
    width: fit-content;
  }
}