<template>
  <div class="places">
    <ul class="places__list">
      <Place
        v-for="(place, index) in list"
        :key="index"
        :item="place"
      />
    </ul>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { PlaceItem } from '@/components/Inventory/helpers';
import Place from './components/Place/Place.vue';

const props = defineProps({
  list: {
    type: Array as PropType<PlaceItem[]>,
    required: true,
  }
});

</script>

<style scoped src="./places.scss" lang="scss"></style>