.plates {
  display: flex;
  gap: v(20);
  padding: v(20);
  background: radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  border-radius: v(24);
}

.plate {
  &__name {
    margin-top: 0;
    margin-bottom: v(5);
    text-align: center;
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
  }

  &__picture {
    position: relative;
    width: v(180);
    height: v(93);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__number {
    position: absolute;
    top: 57%;
    left: 50%;
    font-weight: 700;
    font-size: v(22);
    line-height: v(27);
    text-align: center;
    color: #041C70;
    transform: translate(-50%, -50%);
  }
}