<template>
  <div class="plates">
    <div class="plate">
      <h5 class="plate__name">
        Front
      </h5>
      <div class="plate__picture">
        <img
          src="@/assets/images/plate.png"
          alt="plate"
        >
        <span class="plate__number">
          {{ frontNumber }}
        </span>
      </div>
    </div>

    <div class="plate">
      <h5 class="plate__name">
        Rear
      </h5>
      <div class="plate__picture">
        <img
          src="@/assets/images/plate.png"
          alt="plate"
        >
        <span class="plate__number">
          {{ rearNumber }}
        </span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps({
  frontNumber: {
    type: String,
    default: ''
  },
  rearNumber: {
    type: String,
    default: ''
  }
});
</script>

<style scoped lang="scss" src="./plates.scss"></style>