.faq-modal {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: v(58) v(22) v(76);
  min-height: v(712);
  width: v(600);
  padding-top: v(52);
  background: #171717 url("~@/assets/images/fire.png") bottom left 41% no-repeat;
  background-size: cover;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__tabs {
    :deep(.n-tabs-nav) {
      padding: 0 v(72);

      .n-tabs-rail {
        padding: 0;
        background-color: transparent;
      }

      .n-tabs-tab-wrapper {
        font-weight: 700;
        font-size: v(12);
        line-height: v(15);
        text-align: center;
        text-transform: uppercase;
        background: #242424;

        &:last-of-type {
          border-radius: 0 v(21) v(21) 0;

          .n-tabs-tab {
            border-radius: 0 v(21) v(21) 0;
          }
        }

        &:first-of-type {
          border-radius: v(21) 0 0 v(21);

          .n-tabs-tab {
            border-radius: v(21) 0 0 v(21);
          }
        }

        .n-tabs-tab {
          color: #797979;
          padding: v(14) 0 v(13);
        }

        .n-tabs-tab--active {
          z-index: 2;
          background: linear-gradient(#ff5951, #660d05 150%);
          box-shadow: 0 v(3) #550600;
          border-radius: v(5);
          width: 105%;
          height: 110%;
          padding: v(17) 0 v(16);
          color: #fff;
          font-weight: 700;
          color: #fff;
        }
      }
    }
  }
}

.faq-modal-pane {
  padding-top: v(12);

  &__title {
    margin-top: v(13);
    margin-bottom: v(14);
    font-size: v(22);
    line-height: v(27);
  }

  &__description {
    padding-right: v(5);

    :deep(p) {
      margin: 0;
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      color: #9B9B9B;

      &:not(:last-of-type) {
        margin-bottom: v(20);
      }
    }
  }

  :deep(.n-data-table) {
    margin-top: v(12);
    flex-grow: 1;

    .n-data-table-th {
      text-transform: uppercase;
      font-weight: bold;
      font-size: v(12);
      color: #9b9b9b;
      background-color: #242424;
      border-bottom: none;
      padding: v(8) 0;

      &:first-of-type {
        padding-left: v(24);
      }

      &:last-of-type {
        padding-right: v(19);
      }
    }

    .n-data-table-td {
      font-size: v(14);
      font-weight: bold;
      color: #fff;
      background-color: #1c1c1c;
      border-bottom: none;
      padding: v(8) 0;

      &:first-of-type {
        padding-left: v(24);
      }

      &:last-of-type {
        padding-right: v(19);
      }

      &[data-col-key="date"] {
        color: #9b9b9b;
      }

      .r1-icon-svg,
      .r1-icon-png,
      .r1-method-name,
      .r1-coins {
        vertical-align: middle;
      }

      .r1-icon-svg,
      .r1-icon-png {
        margin-right: v(5);
      }

      .faq-number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: v(12);
        line-height: v(15);
        height: v(32);
        width: v(32);
        border-radius: 50%;

        &_red {
          background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
        }

        &_black {
          background: radial-gradient(100% 100% at 50% 0%, #4F4F4F 0%, #171717 100%);
        }
      }

      &[data-col-key="status"] {
        text-align: center;

        .r1-status {
          width: v(10);
          height: v(10);
          border-radius: 50%;
          display: inline-block;
        }

        .r1-status-0 {
          background-color: #6dd400;
        }

        .r1-status-1 {
          background-color: #f7b500;
        }

        .r1-status-2 {
          background-color: #e34d45;
        }
      }
    }

    .n-data-table-tr--striped .n-data-table-td {
      background-color: #242424;
    }
  }

  :deep(.n-pagination) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: v(10);
    font-weight: bold;
    font-size: v(16);

    .n-pagination-item {
      color: #9b9b9b;
      width: v(28);
      min-height: v(28);
      margin: v(10);

      &:hover {
        color: #e34d45;
      }

      &:first-child,
      &:last-child {
        transform: rotate(45deg);
        border-radius: v(8);
        background-color: rgba(23, 23, 23, 70%);
        border: v(2) solid #3b3b3b;

        &:hover .r1-icon-svg {
          filter: drop-shadow(0 0 v(4) #e34d45);
          stroke: #e34d45;
        }

        .n-base-icon {
          transform: rotate(-45deg) translateX(#{v(-1)});
          stroke: #9b9b9b;
        }
      }

      &:last-child {
        .r1-icon-svg {
          transform: rotate(135deg) translateX(#{v(-1)});
        }
      }

      &.n-pagination-item--active {
        position: relative;
        z-index: 1;
        color: #fff;
        border: none;

        &::before {
          z-index: -1;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: radial-gradient(143.67% 143.67% at 50% 0%, #e34d45 0%, #92251f 100%);
          border-radius: v(8);
          transform-origin: center;
          transform: rotate(45deg);
        }

        &:focus {
          border: none;
        }
      }
    }
  }
}