<template>
  <n-config-provider
    abstract
    namespace="r1-ns-casino-layout"
  >
    <n-modal
      v-model:show="isShow"
      :to="props.to"
      :on-mask-click="close"
    >
      <div class="faq-modal">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <n-tabs
          type="segment"
          class="faq-modal__tabs"
        >
          <n-tab-pane
            name="rules"
            tab="Правила игры"
            class="faq-modal-pane"
          >
            <h2 class="faq-modal-pane__title">
              {{ data?.rules?.title }}
            </h2>
            <div
              class="faq-modal-pane__description"
              v-html="data?.rules?.description"
            />
          </n-tab-pane>
          <n-tab-pane
            name="fairPlay"
            tab="Честная игра"
            class="faq-modal-pane"
          >
            <n-data-table
              :loading="loading"
              :columns="columns"
              :data="items"
              striped
              size="small"
              :bordered="false"
              :pagination="pagination"
            />
          </n-tab-pane>
        </n-tabs>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { useVModel } from '@vueuse/core';
import Btn from '@/components/ui/Button/Button.vue';
import { computed, h, reactive, ref } from 'vue';
import { TableColumns } from 'naive-ui/es/data-table/src/interface';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvgVue from '@/components/ui/IconSvg.vue';
const emit = defineEmits(['close']);
const loading = ref(false);
const props = defineProps({
  show: {
    type: Boolean,
    default: true
  },
  to: {
    type: String,
    default: '.layout',
  },
});

const pagination = ref({
  page: 1,
  pageSize: 10,
  itemCount: 1,
  pageCount: 10,
  onChange: (page: number) => {
    pagination.value.page = page;
  },
});

const columns = computed<TableColumns<any>>(() => [
  {
    title: '#',
    key: 'id',
    width: 65,
    render(row: any) {
      return row.id;
    },
  },
  {
    title: 'Время',
    key: 'time',
    width: 95,
    render(row: any) {
      return row.time;
    },
  },
  {
    title: 'Номер',
    key: 'number',
    width: 60,
    render(row: any) {
      return [
        h('div', { class: `faq-number faq-number_${row.number.color}` }, { default: () => row.number.value }),
      ];
    },
  },
  {
    title: 'Банк',
    key: 'bank',
    width: 60,
    render(row: any) {
      return [
        h(IconPng, { name: 'dollar', size: 14 }),
        h('span', {}, { default: () => row.bank }),
      ];
    },
  },
  {
    title: 'Проверка',
    key: 'status',
    width: 55,
    render(row: any) {
      return [
        h(IconSvgVue, { name: 'shield-check', size: 14 })
      ];
    },
  },
]);

const isShow = useVModel(props, 'show');

const close = () => {
  emit('close', false);
};

const data = reactive({
  rules: {
    title: 'Правила рулетки',
    description: `<p>Цель игры в рулетку - угадать, на каком номере и/или цвете
остановится шарик. Для этого вы можете поместить ставку на цвет,
отдельный номер, группу номеров или же на четный/нечетный номер.
Можно сделать до 10 ставок одновременно.</p><p>На столах используется американская рулетка с сектором
"двойное зеро".</p>`
  }
});


const items = computed(() => [
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
  {
    id: 678487,
    time: '23.04.20, 13:45',
    number: {
      color: 'red',
      value: '33'
    },
    bank: '890 666',
    status: 1
  },
]);
</script>

<style scoped lang="scss" src="./faq-modal.scss"></style>