.ads-block {
  padding: v(12);
  font-weight: 700;
  font-size: v(16);
  line-height: v(20);
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: v(12);
  width: v(547);

  &__header {
    display: flex;
    align-items: center;
    gap: v(10);
    margin-bottom: v(12);
  }

  &__name {
    margin: 0;
    font-weight: 700;
    font-size: v(16);
    line-height: v(20);
  }

  &__text {
    margin: 0;
  }
}