<template>
  <div class="ads-block">
    <header class="ads-block__header">
      <avatar :src="data?.avatarSrc" />
      <h5 class="ads-block__name">
        {{ data?.name }}
      </h5>
    </header>
    <p class="ads-block__text">
      {{ data?.text }}
    </p>
  </div>
</template>

<script setup lang="ts">
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import { AdsItem } from '@/services/ads';
import { PropType } from 'vue';

const props = defineProps({
  data: {
    type: Object as PropType<AdsItem>,
    default: () => {{}}
  }
});
</script>

<style scoped lang="scss" src="./ads-block.scss"></style>