.rate-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: v(43) v(20) v(52);
  width: v(315);
  height: v(442);
  background: #171717 url("~@/assets/images/fire_small.png") bottom left 20% no-repeat;
  background-size: cover;
  box-shadow: -10.725px 45.76px 80px rgba(0, 0, 0, 0.2), -6.95138px 29.6592px 46.8519px rgba(0, 0, 0, 0.151852), -4.13111px 17.6261px 25.4815px rgba(0, 0, 0, 0.121481), -2.145px 9.15199px 13px rgba(0, 0, 0, 0.1), -0.873888px 3.72859px 6.51852px rgba(0, 0, 0, 0.0785185), -0.198611px 0.847407px 3.14815px rgba(0, 0, 0, 0.0481481);
  border-radius: v(24);

  &__wreath {
    position: absolute;
    left: 50%;
    top: v(20);
    opacity: 0.4;
    transform: translateX(-50%);

    &::before {
      z-index: 1;
      content: '';
      position: absolute;
      left: 50%;
      top: -50px;
      width: v(103);
      height: v(103);
      border-radius: 50%;
      filter: blur(v(50));
      transform: translateX(-50%);
    }

    &_bronze {
      svg {
        fill: #863F10;
      }

      &::before {
        background: #863F10;
      }
    }

    &_silver {
      svg {
        fill: #acacac;
      }

      &::before {
        background: #acacac;
      }
    }

    &_gold {
      svg {
        fill: #F9C90F;
      }

      &::before {
        background: #F9C90F;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: v(7);
    font-size: v(24);
    line-height: v(29);
  }

  &__subtitle {
    position: relative;
    z-index: 1;
    margin-top: 0;
    margin-bottom: v(59);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }

  &__btn {
    margin-top: auto;
    width: 100%;
    height: v(52);

    :deep(.n-button__content) {
      font-size: v(14);
      line-height: v(17);
      gap: v(2)
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    padding-left: v(4);
    list-style: none;
    width: 100%;

    &-item {
      display: flex;
      align-items: center;
      gap: v(12);
      font-weight: 600;
      font-size: v(14);
      line-height: v(17);

      &:not(:last-of-type) {
        margin-bottom: v(24);
      }
    }
  }
}