<template>
  <div class="rate-card">
    <div :class="['rate-card__wreath', `rate-card__wreath_${card?.color}`]">
      <IconSvg
        name="wreath"
        :size="162"
      />
    </div>
    <h2 class="rate-card__title">
      {{ card?.name }}
    </h2>
    <p class="rate-card__subtitle">
      {{ card?.subtitle }}
    </p>
    <ul class="rate-card__list">
      <li
        v-for="(item, index) in card?.description"
        :key="index"
        class="rate-card__list-item"
      >
        <IconSvg
          :name="item?.iconName"
          :size="18"
          :style="{ color: '#CD443D' }"
        />
        <span>
          {{ item?.text }}
        </span>
      </li>
    </ul>
    <btn
      preset="confirm"
      class="rate-card__btn"
      @click="buyRate"
    >
      Купить за <IconPng
        name="dollar"
        :size="14"
      /> {{ card?.price }}
    </btn>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import { RateItem } from '../../CasinoRates.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import btn from '@/components/ui/Button/Button.vue';
import IconPng from '@/components/ui/IconPng.vue';

const props = defineProps({
  card: {
    type: Object as PropType<RateItem>,
    default: () => {{}}
  }
});

const emit = defineEmits(['buy']);

const buyRate = () => {
  emit('buy', props.card);
};
</script>

<style scoped lang="scss" src="./rate-card.scss"></style>