<template>
  <div
    class="animation-card"
  >
    <div
      class="animation-card__picture"
      @click="handlerClick(data)"
    >
      <img
        :src="data?.src"
        :alt="data?.name"
      >
    </div>
    <div class="animation-card__name">
      {{ data?.name }}
    </div>
    <a
      href="#"
      class="animation-card__share"
      @click.prevent="share"
    >
      <icon-svg
        name="prime-share"
        :size="18"
        fill="#797979"
      />
    </a>
    <a
      href="#"
      class="animation-card__bookmars"
      @click.prevent="addFavorite"
    >
      <icon-svg
        name="bookmars"
        :size="18"
        fill="#797979"
      />
    </a>
  </div>
</template>

<script lang="ts" setup>
import { AnimationItem } from '@/services/animations';
import { PropType } from 'vue';
import IconSvg from '@/components/ui/IconSvg.vue';


const emit = defineEmits(['select']);
const props = defineProps({
  data: {
    type: Object as PropType<AnimationItem>,
    default: () => {{}}
  }
});

const handlerClick = (animation: AnimationItem) => {
  emit('select', animation);
};

const share = () => {
  console.log('share', props.data?.shareLink);
};

const addFavorite = () => {
  console.log('favorite', props.data?.id);
};
</script>

<style scoped lang="scss" src="./animation-card.scss"></style>