.animation-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: v(12);
  width: v(146);
  height: v(137);
  background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #181818 0%, #0E0E0E 100%);
  border: 1px solid #1B1B1B;
  border-radius: v(12);

  &__picture {
    height: v(92);
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    text-align: center;
    color: #9B9B9B;
  }

  &__share {
    position: absolute;
    right: v(38);
    top: v(12);
    z-index: 2;
  }

  &__bookmars {
    position: absolute;
    right: v(12);
    top: v(12);
    z-index: 2;
  }
}