.radio-ads {
  padding: 0 v(25);

  &__label {
    display: inline-block;
    margin-bottom: v(11);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    text-transform: uppercase;
    color: #797979;

    span {
      color: #E34D45;
    }
  }

  &__area {
    margin-bottom: v(32);
  }

  &__btn {
    width: 100%;
    height: v(52);

    :deep(.n-button__content) {
      font-size: v(14);
      line-height: v(17);
      gap: v(2)
    }
  }
}