<template>
  <div>
    <div class="radio-ads">
      <label class="radio-ads__label">Текст <span>*</span></label>
      <n-input
        v-model:value="data.text"
        size="large"
        placeholder="Введите текст..."
        type="textarea"
        class="radio-ads__area"
      />
      <btn
        class="radio-ads__btn"
        preset="confirm"
        @click="publish"
      >
        Опубликовать за
        <icon-png
          name="dollar"
          :size="14"
        /> {{ total }}
      </btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import Btn from '@/components/ui/Button/Button';
import IconPng from '@/components/ui/IconPng.vue';
import { computed, PropType, reactive } from 'vue';

type AdsType = 'run-line' | 'ads'

const props = defineProps({
  price: {
    type: Number,
    default: 2,
    required: true
  },
  type: {
    type: String as PropType<AdsType>,
    default: 'run-line',
    required: true
  }
});
const emit = defineEmits(['publish']);
const data = reactive({
  text: 'But I must explain to you how all this mistaken idea of denouncing\n' +
      'pleasure and praising pain was born and I will give you a complete\n' +
      'account of the system, and expound the actual teachings of the'
});
const total = computed(() => props.price * data.text.length);

const publish = () => {
  emit('publish', { type: props.type, text: data.text, total: total.value });
};
</script>

<style scoped lang="scss" src="./radio-ads.scss"></style>
<style lang="scss">
.radio-ads {
  textarea {
    font-weight: 700;
  }
}
</style>