.feed-gamers {
  position: relative;
  overflow: hidden;

  &__title {
    margin-top: 0;
    margin-bottom: v(24);
    font-size: v(20);
    line-height: v(24);
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    position: relative;
    padding-left: v(50);
    padding-bottom: v(70);
  }
}