<template>
  <div class="feed-gamers">
    <h2 class="feed-gamers__title">
      Лента игроков
    </h2>
    <n-scrollbar :style="{ maxHeight: `${v(561)}` }">
      <div class="feed-gamers__list">
        <FeedCard
          v-for="item in list"
          :key="item?.id"
          :card="item"
        />
      </div>
    </n-scrollbar>
  </div>
</template>

<script setup lang="ts">
import { v } from '@/config';
import { FeedItem } from '@/services/feed';
import { PropType } from 'vue';
import FeedCard from './components/FeedCard/FeedCard.vue';

const props = defineProps({
  list: {
    type: Array as PropType<FeedItem[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./feed-gamers.scss"></style>