<template>
  <div class="radio-list">
    <div
      v-for="(item, index) in items"
      :key="index"
      class="radio-list__item"
    >
      <div class="radio-list__name">
        {{ item.name }}
      </div>
      <div class="radio-list__ads">
        <p>Бегущая строка</p>
        <p>
          <icon-png
            name="dollar"
            size="14"
          /> <span class="radio-list__price">{{ item.linePrice }}</span> /символ
        </p>
      </div>
      <div class="radio-list__ads">
        <p>Объявление</p>
        <p>
          <icon-png
            name="dollar"
            size="14"
          /> <span class="radio-list__price">{{ item.adsPrice }}</span> /символ
        </p>
      </div>
      <btn
        class="radio-list__btn"
        preset="confirm"
        @click="submit(item)"
      >
        Подать
      </btn>
    </div>
  </div>
</template>

<script lang="ts" setup>
import Btn from '@/components/ui/Button/Button';
import IconPng from '@/components/ui/IconPng.vue';
import { computed, PropType } from 'vue';
import { RadioStation, StationsList } from '@/services/radio';

const props = defineProps({
  list: {
    type: Object as PropType<StationsList>,
    default: () => {{}},
  },
});
const items = computed(() => props.list?.items);
const emit = defineEmits(['submit']);
const submit = (station: RadioStation) => {
  emit('submit', station);
};
</script>

<style scoped lang="scss" src="./radio-list.scss"></style>