.radio-list {
  padding: 0 v(25);
  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: v(30);
    align-items: center;
    padding-top: v(14);
    padding-bottom: v(16);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    color: #9B9B9B;
  }

  &__name {
    font-size: v(14);
    line-height: v(17);
  }

  &__price {
    margin-right: v(3);
    font-size: v(14);
    line-height: v(17);
    color: #fff;
  }

  &__ads {
    p {
      margin: 0;
      display: flex;
      align-items: center;

      &:first-of-type {
        margin-bottom: v(3);
      }
    }
  }

  &__btn {
    width: v(134);
    height: v(34);
  }
}