<template>
  <div class="r1-slider">
    <n-slider
      v-model:value="slideValue"
      :min="min"
      :max="max"
    />
    <div class="r1-values">
      <div>{{ min }}</div>
      <div>{{ max }}</div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import { useVModel } from '@vueuse/core';
import { NSlider } from 'naive-ui';

const props = defineProps({
  value: {
    type: Number,
    required: true,
  },
  min: {
    type: Number,
    default: 2,
  },
  max: {
    type: Number,
    default: 32,
  },
});

const slideValue = useVModel(props, 'value');

const emit = defineEmits(['update:value']);

onMounted(() => {
  const value = (props.value < props.min || !props.value) ? props.min :
    (props.value > props.max) ? props.max : props.value;
  emit('update:value', value);
});

</script>

<style lang="scss" scoped src="./Slider.scss"></style>
