.r1-slider {
  margin-top: v(12);
  padding: v(11) v(20);
  width: v(320);
  background: radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  border-radius: 6px;

  .n-slider {
    :deep(.n-slider-rail) {
      border-radius: 0;
      height: v(14);
      background:
          repeating-linear-gradient(
            -45deg,
            #5b1915 0 v(4),
            #812823 v(4) v(8)
          );

      .n-slider-rail__fill {
        border-radius: 0;
        background:
          repeating-linear-gradient(
            -45deg,
            #DD4E47 0 v(4),
            #cc4840 v(4) v(8)
          );
      }

      .n-slider-handle {
        height: v(20);
        width: v(14);
        border-radius: v(3);
        background: linear-gradient(#fff, #dadada, #fff);
        padding: v(3) v(4);

        &::after {
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          border-radius: v(3);
          background: repeating-linear-gradient(transparent, transparent v(2), #ababab v(2), #ababab v(4));
        }
      }
    }
}

  .r1-values {
    font-weight: bold;
    font-size: v(14);
    line-height: v(17);
    text-transform: uppercase;
    color: #797979;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .r1-value {
      font-size: v(32);
      line-height: v(39);
      color: #FFFFFF;
    }
  }
}