html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100%;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.app-holder,
#r1-modal-container {
  user-select: none;
  margin: 0;
  overflow: hidden;

  // background-image: radial-gradient(circle at 50% 50%, #181818, #0e0e0e 54%);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: v(14);
  color: #fff;

  :deep(.r1-ns-default-layout > .n-modal-mask) {
    background: none;
  }

  :deep(svg:focus) {
    outline: none;
  }
}
