@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-Black.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-SemiBoldItalic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-Medium.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-MediumItalic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-Bold.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-SemiBold.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-BoldItalic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-ExtraBold.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-ExtraBoldItalic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-Italic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-BlackItalic.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
          url("@/assets/fonts/Montserrat/subset-Montserrat-Regular.woff2") format("woff2"),
          url("@/assets/fonts/Montserrat/subset-Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller Medium";
  src: url("@/assets/fonts/Muller/MullerMedium.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller Bold";
  src: url("@/assets/fonts/Muller/MullerBold.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Muller Regular";
  src: url("@/assets/fonts/Muller/MullerRegular.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Muller;
  src: url("@/assets/fonts/Muller/MullerMedium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Muller;
  src: url("@/assets/fonts/Muller/MullerBold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Muller;
  src: url("@/assets/fonts/Muller/MullerRegular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Muller;
  src: url("@/assets/fonts/Muller/MullerExtraBold.woff"), url("@/assets/fonts/Muller/MullerExtraBold.woff2");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: SFUIDisplay;
  src: url("@/assets/fonts/SFUIDisplay/subset-SFUIDisplay-Bold.woff2") format("woff2"), url("@/assets/fonts/SFUIDisplay/subset-SFUIDisplay-Bold.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'a_LCDNova';
  src: url('@/assets/fonts/a_LCDNova/a_LCDNova.woff2') format('woff2'),
      url('@/assets/fonts/a_LCDNova/a_LCDNova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('@/assets/fonts/Bebas/BebasNeue-Regular.woff2') format('woff2'),
      url('@/assets/fonts/Bebas/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
