#ads-notices-container {
  .n-notification-container {
    align-items: center;
    // overflow: auto;
    // max-height: 100%;
    // padding-top: v(150);
    // scrollbar-width: none; /* For Firefox */
    // -ms-overflow-style: none; /* For Internet Explorer and Edge */
    // &::-webkit-scrollbar {
    //   width: 0; /* For Chrome, Safari, and Opera */
    // }
  }
  .n-notification {
    padding: 0;
    background-color: transparent;
    width: fit-content;
    box-shadow: none;
  }
  .n-notification-wrapper {
    margin-top: v(20);
  }
  .n-notification-main {
    margin: 0;
    padding: 0;
  }
}