.fish-sell__filter,
.item-sell__filter {
  .n-base-selection-label {
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #ffffff;
    background: #242424;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: v(5);
  }
}

#fish-filter-container,
#items-filter-container {
  .n-base-select-menu {
    background: #1A1A1A;
    border: 1px solid #1B1B1B;
    box-shadow: 0 v(16) v(32) rgba(0, 0, 0, 0.5);
    border-radius: v(6);
  }

  .n-base-select-option {
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    color: #9B9B9B;
  }
}