.r1-number {
  width: v(200);

  &__axis {
    padding-top: v(9);
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #9B9B9B;
  }

  .racing-number {
    position: relative;
    height: v(62);

    :deep(.n-input) {
      height: 100%;
      border-radius: v(10);

      .n-input__border {
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      .n-input__input {
        text-align: center;
        max-width: 70%;
        font-weight: 700;
        font-size: v(16);
        line-height: v(20);
      }

      .n-input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .n-button {
        position: absolute;
        top: 50%;
        left: v(8);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(45deg);
        width: v(32);
        height: v(32);
        background: rgba(23, 23, 23, 70%);
        border-radius: v(8);
        margin-top: v(-16);
        border: 1px solid #3B3B3B;

        &:last-of-type {
          right: v(8);
          left: auto;
          transform: rotate(225deg);

          .r1-icon-svg {
            // transform: rotate(135deg);
          }
        }

        .r1-icon-svg {
          transform: rotate(-45deg);
        }

        .n-icon-slot {
          position: relative;
          top: v(2);
          left: v(2);
          width: v(7);
          height: v(11);
          transform: none;
        }
      }
    }
  }
}