<template>
  <div class="r1-number">
    <n-input-number
      v-model:value.number="data.number"
      class="racing-number"
      size="large"
      :update-value-on-input="false"
      placeholder="0"
      :validator="validator"
      on-update:value="handlerChange"
    >
      <template #minus-icon>
        <icon-svg
          name="chevron-left"
          size="8"
          stroke="#797979"
        />
      </template>
      <template #add-icon>
        <icon-svg
          name="chevron-left"
          size="8"
          stroke="#797979"
        />
      </template>
    </n-input-number>

    <div class="r1-number__axis">
      {{ axis }}
    </div>
  </div>
</template>


<script setup lang="ts">
import { onMounted, reactive } from 'vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const emit = defineEmits(['value']);

const props = defineProps({
  number: {
    type: Number,
    required: true,
  },
  axis: {
    type: String,
    required: true,
  },
});

const data = reactive({
  number: 0
});

const validator = (x: number) => x < 0;

const handlerChange = (val: number) => {
  emit('value', val);
};

onMounted(() => {
  data.number = props.number;
});
</script>

<style scoped lang="scss" src="./Number.scss"></style> -->