.map-area {
  position: absolute;

  &__svg {
    opacity: 0.7;
  }

  &__info {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: 700;
    transform: translate(-50%, -50%);
  }

  &__area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v(6);
    width: v(60);
    height: v(26);
    font-size: v(16);
    line-height: v(20);
    text-transform: uppercase;
    border-radius: v(12);
  }

  &__district {
    margin-top: v(5);
    margin-bottom: v(10);
    font-size: v(10);
    line-height: v(12);
    text-transform: uppercase;
  }

  &__status {
    margin-bottom: v(2);
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
  }

  &__team {
    display: flex;
    align-items: center;
    gap: v(8);
    font-size: v(14);
    line-height: v(17);
  }

  &__team-logo {
    width: v(24);
    height: v(24);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}