<template>
  <div
    class="map-area"
    :style="{ left: left, top: top }"
  >
    <img
      :src="area?.svg"
      alt=""
      class="map-area__svg"
    >

    <div class="map-area__info">
      <div
        class="map-area__area"
        :style="{ backgroundColor: area?.color }"
      >
        <IconSvg
          name="flag"
          :size="14"
        />
        {{ area?.area }}
      </div>

      <div class="map-area__district">
        {{ area?.district }}
      </div>

      <div class="map-area__status">
        {{ area?.status }}
      </div>

      <div class="map-area__team">
        <div class="map-area__team-logo">
          <img
            :src="area?.teamLogo"
            alt=""
          >
        </div>
        {{ area?.team }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { v } from '@/config';
import { computed, PropType } from 'vue';
import { IAreas } from '@/services/areas';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  area: {
    type: Object as PropType<IAreas>,
    default: () => {{}}
  }
});

const left = computed(() => v(props.area?.x) || 0);
const top = computed(() => v(props.area?.y) || 0);
</script>

<style scoped lang="scss" src="./map-area.scss"></style>