.animations-modal {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: v(573);
  width: v(666);
  padding-top: v(52);
  background-image:
          radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__title {
    margin-bottom: v(32);
    text-align: center;
    font-size: v(28);
    line-height: v(34);
  }

  &__header {
    padding: 0 v(25);
  }

  &__list {
    padding-top: v(20);
    flex: 1;

    .list-item {
      display: flex;
      align-items: center;
      padding: 0 v(24);
      height: v(50);
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      color: #9B9B9B;
      cursor: pointer;

      &:hover {
        background: #292929;
        color: #ffffff;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding: 0 v(25);
    height: v(98);

    button {
      width: 100%;
      height: v(52);
    }
  }
}