<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
      :mask-closable="false"
    >
      <div class="animations-modal">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <header class="animations-modal__header">
          <h2 class="animations-modal__title">
            Анимации
          </h2>
          <r-search
            v-model:query="searchQuery"
            class="r1-search"
            @update:query="getSearchQuery"
          />
        </header>

        <div class="animations-modal__list">
          <n-scrollbar :style="{ maxHeight: `${v(293)}` }">
            <div
              v-for="(item, index) in animations"
              :key="index"
              class="list-item"
              @click="selectAnimation(item)"
            >
              {{ item.name }}
            </div>
          </n-scrollbar>
        </div>

        <footer class="animations-modal__footer">
          <btn
            preset="confirm"
            @click="stopAnim"
          >
            Остановить анимацию
          </btn>
        </footer>

        <animation-detail
          v-if="isMounted"
          to="#animation-submodal-container"
          :show="showDetail"
          :title="selected?.name"
          :list="selected?.items"
          @close="showDetail = false"
          @searchQueryDetail="getSearchQueryDetail"
          @selectCard="selectCard"
          @stopAnimation="stopAnim"
        />
        <div id="animation-submodal-container" />
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { v } from '@/config';
import { PropType, ref, watchEffect } from 'vue';
import Btn from '@/components/ui/Button/Button.vue';
import { useMounted, useVModel } from '@vueuse/core';
import { AnimationItem, AnimationList } from '@/services/animations';
import RSearch from '@/components/ui/RSearch/RSearch.vue';
import AnimationDetail from '@/components/animations/animationsModal/components/animationDetail/AnimationDetail.vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  animations: {
    type: Array as PropType<AnimationList[]>,
    default: () => []
  }
});
const emit = defineEmits(['close', 'searchQueryList', 'searchQueryDetail', 'selectCard', 'stopAnimation']);

const show = ref(true);
const searchQuery = ref('');
const showDetail = ref(false);
const selected = ref({});

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  show.value = false;
};

const getSearchQuery = (e: string) => {
  emit('searchQueryList', e);
};

const getSearchQueryDetail = (e: string) => {
  emit('searchQueryDetail', e);
};

const selectCard = (animation: AnimationItem) => {
  emit('selectCard', animation);
};

const stopAnim = () => {
  emit('stopAnimation');
};

const isMounted = useMounted();

const selectAnimation = (animation: AnimationItem) => {
  console.log('selected animation', animation);
  selected.value = animation;
  showDetail.value = true;
};
</script>

<style scoped lang="scss" src="./animations-modal.scss"></style>