<template>
  <div
    ref="details"
    class="item-info"
    :style="offset"
  >
    <div class="item-info__img">
      <img
        :src="item.item.icon"
        alt=""
      >
    </div>
    <div class="r1-title">
      <div
        v-if="item.item.name"
        class="r1-name"
      >
        {{ item.item.name }}
      </div>
      <div class="r1-grade">
        Армейское качество
      </div>
      <div
        v-if="item.item.model"
        class="r1-model"
      >
        {{ item.item.model }}
      </div>
    </div>
    <div
      v-if="item.item.description"
      class="r1-description"
    >
      {{ item.item.description }}
    </div>
    <div
      v-if="item?.boxItems?.length"
      class="r1-box"
    >
      <div class="r1-box__title">
        Предметы внутри
      </div>
      <div class="r1-box__list">
        <div
          v-for="i in item.boxItems.filter(_ => _.item)"
          :key="i.itemId"
          class="r1-box__item"
        >
          <div class="r1-box-item__label">
            <img
              class="r1-box-item__img"
              :src="i.item.icon"
              alt=""
            >
            <div class="r1-box-item__name">
              {{ i.item.name }}
            </div>
          </div>
          <div class="r1-box-item__count">
            <div class="r1-box-item__num">
              {{ i.count }} шт
            </div>
          </div>
        </div>
      </div>
    </div>
    <template
      v-if="item.item?.characteristics?.length"
    >
      <div
        v-for="c in item.item.characteristics"
        :key="c.name"
        class="r1-characteristic"
      >
        <div class="r1-characteristic__label">
          <div class="r1-characteristic__title">
            <div
              class="r1-characteristic__name"
              :class="`r1-characteristic__name--${c.name}`"
            >
              {{ c.name }}
            </div>
            <div class="r1-characteristic__value">
              {{ c.value }}
            </div>
          </div>
        </div>
        <div class="r1-characteristic__diagram">
          <div
            v-for="p in 10"
            :key="p"
            class="r1-characteristic__point"
            :class="{ 'r1-characteristic__point--active': p <= Math.round(+c.value / 10) }"
          />
        </div>
      </div>
    </template>
    <div
      v-if="item.item?.specifications?.length"
      class="r1-specifications"
    >
      <div
        v-for="s in item.item.specifications"
        :key="s.name"
        class="r1-specification"
        :class="`r1-specification--${s.name}`"
      >
        <div class="r1-specification__name">
          {{ s.name }}
        </div>
        <div class="r1-specification__value">
          {{ s.value }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Position } from '@/components/Inventory/helpers';
import { computed, PropType, ref } from 'vue';
import { InventoryItem } from '@/services/inventory';
import { usePositionOffset } from '@/use/usePositionOffset';
import { vh } from '@/helpers';
import { vnum } from '@/config';

const props = defineProps({
  position: {
    type: Object as PropType<Position>,
    required: true,
  },
  item: {
    type: Object as PropType<InventoryItem>,
    required: true,
  },
});

const details = ref<HTMLElement | null>(null);
const pos = computed(() => props.position);
const { offset } = usePositionOffset(pos, details, vh(vnum(20)));

</script>

<style lang="scss" scoped src="./ItemDetails.scss"></style>
