@import "../../index";

.item-info {
  position: fixed;
  z-index: 50;
  user-select: none;
  height: auto;
  width: v(354);
  border-radius: v(24);
  border: solid v(1) #1b1b1b;
  background-color: #1a1a1a;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #fff;
  padding: v(10) v(24) v(24);
  pointer-events: all;
  overflow: hidden;
  backface-visibility: hidden;

  &__img {
    max-width: 100%;
    min-height: v(120);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;

    img {
      margin: v(20);
      max-width: 100%;
      max-height: v(150);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: v(70);
      height: v(70);
      filter: blur(v(70));
      background-color: #69bdfc;
      z-index: -1;
    }
  }

  .r1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    .r1-name {
      font-size: v(16);
    }

    .r1-grade {
      font-size: v(12);
      color: #69bdfc;
    }

    .r1-model {
      font-size: v(12);
      color: #ababb9;
    }
  }

  .r1-description {
    font-size: v(12);
    font-weight: bold;
    line-height: v(18);
    margin: v(26) 0 v(20);
    color: #ababb9;
  }

  .r1-box {
    .r1-box__title {
      font-size: v(10);
      font-weight: bold;
      text-transform: uppercase;
      color: #ababb9;
      margin-bottom: v(16);
    }

    .r1-box__list {
      display: flex;
      flex-direction: column;
      gap: v(16);

      .r1-box__item {
        display: flex;
        justify-content: space-between;

        .r1-box-item__label {
          display: flex;
          gap: v(4);
          font-size: v(12);
          font-weight: bold;

          .r1-box-item__img {
            width: v(24);
          }
        }
      }
    }
  }

  .r1-characteristic {
    margin-bottom: v(20);

    .r1-characteristic__title {
      display: flex;
      justify-content: space-between;

      .r1-characteristic__name {
        display: flex;
        font-size: v(10);
        font-weight: bold;
        text-transform: uppercase;

        &::before {
          content: "";
          width: v(13);
          height: v(13);
          margin-right: v(9);
        }

        &--damage::before {
          background: url("@/assets/icons/lightning.svg") no-repeat center;
          background-size: contain;
        }

        &--accuracy::before {
          background: url("@/assets/icons/shape.svg") no-repeat center;
          background-size: contain;
        }

        &--range::before {
          background: url("@/assets/icons/range.svg") no-repeat center;
          background-size: contain;
        }
      }

      .r1-characteristic__value {
        font-size: v(12);
        font-weight: bold;
        color: #ababb9;
      }
    }

    .r1-characteristic__diagram {
      display: flex;
      justify-content: space-between;
      gap: v(3);

      .r1-characteristic__point {
        flex-grow: 1;
        height: v(10);
        background-color: #7e221d;
        border-radius: v(2);
        transform: skewX(-10deg);
      }

      .r1-characteristic__point--active {
        background-color: #e34d45;
      }
    }
  }

  .r1-specifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .r1-specification {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;

      .r1-specification__name {
        font-size: v(10);
        text-transform: uppercase;
        color: #ababb9;
      }

      .r1-specification__value {
        font-size: v(14);
      }

      &--ammo {
        .r1-specification__value {
          color: #f5a623;
        }
      }
    }
  }
}
