.r1-modal {
  width: v(500);
  //min-height: v(300);
  position: relative;

  overflow: hidden;
  border-radius: v(24);
  box-shadow: 0 v(20) v(30) #0006;
  background: url("./images/bg-modal.png") top center no-repeat;
  background-color: #000;
  background-size: cover;

  .r1-close {
    position: absolute;
    top: v(32);
    right: v(32);
    z-index: 5;

    :deep(path) {
      fill: rgba(216, 216, 216, .5);
    }
  }
}
