<template>
  <n-config-provider
    abstract
    namespace="r1-ns-modal-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
      @after-leave="emit('close')"
    >
      <div class="r1-modal">
        <btn
          class="r1-close"
          preset="exit-quarternary"
          @click="emit('close')"
        />
        <router-view />
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script lang="ts" setup>
import Btn from '@/components/ui/Button/Button.vue';
import { ref } from 'vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
});

const emit = defineEmits(['close']);

const show = ref(true);
</script>

<style lang="scss" scoped src="./ModalMain.scss"></style>
