<route>
{
  "name": "fishing-modal",
  "meta": { "title": "Рыба", "layout": "default" }
}
</route>
<template>
  <div class="fishing-modal">
    <fish-modal
      v-if="fish"
      namespace="default-layout"
      to="#r1-modal-container"
      :fish="fish"
      @releaseFish="release"
      @getFish="get"
    />
  </div>
</template>

<script setup lang="ts">
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, ref } from 'vue';
import { storeProxy } from '@/store';
import FishModal from '@/components/pages/fishModal/fishModal.vue';
const { handleError } = useHandleError();

const fishes = computed(() => storeProxy.fishing.fishes);
const fish = ref(null);

const getData = async() => {
  try {
    await storeProxy.fishing.getFishes();
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  getData().then(() => fish.value = fishes.value?.items[0]);
});

const release = (fish: FishCard) => {
  console.log('release', fish);
};

const get = (fish: FishCard) => {
  console.log('get fish', fish);
};
</script>

<style scoped>

</style>