<route>
{
  "name": "fishing-sell",
  "meta": { "title": "Продажа рыбы", "layout": "default" }
}
</route>

<template>
  <div>
    <fish-sell
      to="#r1-modal-container"
      :filter="filters"
      :fishes-list="fishes"
      @filter-value="setFilter"
      @releaseFish="releaseFish"
    />
    <div id="fish-filter-container" />
  </div>
</template>

<script lang="ts" setup>
import FishSell from '@/components/pages/fishSell/FishSell';
import { storeProxy } from '@/store';
import { computed, onMounted, ref } from 'vue';
import { useHandleError } from '@gta5/vueplugin';
const { handleError } = useHandleError();

const filters = computed(
  {
    get: () => storeProxy.fishing.filters,
    set: value => storeProxy.fishing.filters.filter(item => item.value === value)
  }
);

const fishesList = computed(() => storeProxy.fishing.fishes);
let fishes = ref([]);

const getData = async() => {
  try {
    await storeProxy.fishing.getFishes();
    await storeProxy.fishing.getFilters();
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  getData().then(() => fishes.value = fishesList.value.items);
});

const setFilter = (type: string) => {
  console.log('filter type', type);
  fishes.value = fishesList.value.items.filter(item => item.filter === type);
};

const releaseFish = (fishes: any) => {
  console.log('release', fishes);
};

</script>

<style lang="scss" scoped src="./sell.scss"></style>