<template>
  <div class="sell-items-page">
    <sell-item-modal
      to="#r1-modal-container"
      :items-list="items"
      @filter-value="setFilter"
      @releaseFish="releaseFish"
    />
    <div id="items-filter-container" />
  </div>
</template>

<script setup lang="ts">
import SellItemModal from '@/components/SellItemsModal/SellItemModal.vue';
import { storeProxy } from '@/store';
import { computed, onMounted } from 'vue';
import { useHandleError } from '@gta5/vueplugin';
const { handleError } = useHandleError();

const setFilter = (type: string) => {
  console.log('filter type', type);
};

const releaseFish = (fishes: any) => {
  console.log('release', fishes);
};

const items = computed(() => storeProxy.items.items);

const getData = async() => {
  try {
    await storeProxy.items.getItemsList();
  } catch (err: any) {
    handleError(err);
  }
};

onMounted(() => {
  getData();
});
</script>

<style scoped lang="scss" src="./sell-items.scss"></style>