<template>
  <div class="cargo-item">
    <h3 class="cargo-item__address">
      <IconSvg
        name="location"
        fill="#9B9B9B"
        :size="17"
      />
      {{ data.address }}
    </h3>
    <footer class="cargo-item__footer">
      <div class="cargo-item-place">
        <span class="cargo-item-place__name">
          Груз
        </span>
        <span class="cargo-item-place__val">
          <IconSvg
            name="blocks"
            fill="#DADADA"
            :size="14"
          />
          {{ data?.cargo }}
        </span>
      </div>

      <div class="cargo-item-place">
        <span class="cargo-item-place__name">
          Кол-во
        </span>
        <span class="cargo-item-place__val">
          <IconSvg
            name="package"
            fill="#9B9B9B"
            :size="16"
          />
          {{ data?.countCurrent }} / {{ data?.countTotal }}
        </span>
      </div>
    </footer>
  </div>
</template>

<script setup lang="ts">
import { CargoItem } from '@/services/cargo';
import { PropType } from 'vue';
import IconSvg from '@/components/ui/IconSvg.vue';


const props = defineProps({
  data: {
    type: Object as PropType<CargoItem>,
    default: () => {{}}
  }
});
</script>

<style scoped lang="scss" src="./cargo.scss"></style>