.cargo-item {
  padding: v(15) v(12);
  background: linear-gradient(270deg, rgba(46, 46, 46, 0.0001) 0%, rgba(46, 46, 46, 0.7) 69.06%);
  border-radius: v(5);

  &__address {
    display: flex;
    align-items: center;
    padding-left: v(5);
    gap: v(8);
  }

  &__footer {
    display: flex;
    gap: v(16);
  }
}

.cargo-item-place {
  display: flex;
  flex-flow: column nowrap;

  &__name {
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #797979;
  }

  &__val {
    display: flex;
    align-items: center;
    padding-top: v(5);
    gap: v(6);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }
}