<template>
  <div class="wheel-page">
    <div class="wheel-page__content">
      <Bet
        class="wheel-page__bet"
        :default-value="1000"
        @update:default-value="start"
      />
    </div>
    <div class="wheel-page__right">
      <FeedGamers :list="feed" />
      <CasinoInfoPanel>
        <template #top>
          <h5 class="title">
            Прокрутов сегодня
          </h5>
          <div class="value">
            <IconSvg
              name="reload"
              :size="25"
            />
            <span>{{ data.circles }}</span>
          </div>
        </template>
        <template #bottom>
          <h5 class="title">
            Выигрышей  на сумму
          </h5>
          <div class="value">
            <IconPng
              name="dollar"
              :size="22"
            />
            <span>{{ data.cashWin }}</span>
          </div>
        </template>
      </CasinoInfoPanel>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'wheel',
};
</script>

<script setup lang="ts">
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, reactive } from 'vue';
import FeedGamers from '@/components/casino/FeedGamers/FeedGamers.vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
import Bet from '@/components/casino/Bet/Bet.vue';
const { handleError } = useHandleError();

const data = reactive({
  circles: '167',
  cashWin: '100 546',
});

const feed = computed(() => storeProxy.feed.feedList);

const getData = async() => {
  try {
    await storeProxy.feed.getFeedList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

const start = (e: any) => {
  console.log('start val', e);
};
</script>

<style scoped lang="scss" src="./wheel.scss"></style>