.wheel-page {
  display: flex;
  padding-top: v(241);
  height: 100%;

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    padding-right: 21%;
  }

  &__right {
    width: v(280);
  }

  &__bet {
    margin: 0;
    transform: translateY(v(32));
  }
}