<template>
  <div class="truckdriver-page">
    <div class="cargo-items">
      <Cargo
        v-for="item in cargoList"
        :key="item?.id"
        :data="item"
      />
    </div>
    <footer class="destination">
      <TruckDestination destination="Доставьте груз в Сэнди-Шорс" />
    </footer>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'racing',
};
</script>

<script setup lang="ts">
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted } from 'vue';
import Cargo from '@/components/truckdriver/cargo/Cargo.vue';
import TruckDestination from '@/components/truckdriver/destination/TruckDestination.vue';

const { handleError } = useHandleError();
const cargoList = computed(() => storeProxy.cargo.cargo);

const getData = async() => {
  try {
    await storeProxy.cargo.getCargoList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});
</script>

<style scoped lang="scss" src="./truckdriver.scss"></style>