.truckdriver-page {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-left: v(261);
  padding-top: v(44);

  .cargo-items {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: v(10);
  }

  .destination {
    margin: auto;
    margin-bottom: v(27);
  }
}