.black-jack-page {
  display: flex;
  padding-top: v(241);
  height: 100%;

  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    padding-right: 21%;
  }

  &__right {
    width: v(280);
  }

  &__bet {
    margin: 0;
    transform: translateY(v(32));
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v(40);
    justify-items: center;
    align-items: center;

    &__circle {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      height: v(64);
      width: v(64);
      font-weight: 700;
      font-size: v(24);
      line-height: v(29);
    }
  }
}