<template>
  <div class="black-jack-page">
    <div class="black-jack-page__content">
      <Bet
        v-if="!isStarted"
        class="black-jack-page__bet"
        :default-value="1000"
        btn-text="Играть"
        @update:default-value="start"
      />

      <div
        v-else
        class="info"
      >
        <BlackJackUser
          :avatar-src="data.user.avatarSrc"
          :name="data.user.name"
          :points="data.user.points"
          :status="data.user.status"
        />
        <n-progress
          class="info__circle"
          type="circle"
          color="#E34D45"
          :percentage="timer"
          :stroke-width="3"
          :rail-color="'transparent'"
          :gap-offset-degree="180"
        >
          <span style="text-align: center">
            {{ timer }}
          </span>
        </n-progress>
        <BlackJackUser
          :avatar-src="data.diller.avatarSrc"
          :name="data.diller.name"
          :points="data.diller.points"
          :status="data.diller.status"
        />
      </div>
    </div>

    <div class="black-jack-page__right">
      <FeedGamers :list="feed" />
      <CasinoInfoPanel>
        <template #top>
          <h5 class="title">
            Сегодня игр
          </h5>
          <div class="value">
            <IconSvg
              name="black-jack"
              :size="25"
            />
            <span>{{ data.games }}</span>
          </div>
        </template>
        <template #bottom>
          <h5 class="title">
            Выигрышей  на сумму
          </h5>
          <div class="value">
            <IconPng
              name="dollar"
              :size="22"
            />
            <span>{{ data.cashWin }}</span>
          </div>
        </template>
      </CasinoInfoPanel>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'black-jack',
};
</script>

<script setup lang="ts">
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, reactive, ref } from 'vue';
import FeedGamers from '@/components/casino/FeedGamers/FeedGamers.vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
import Bet from '@/components/casino/Bet/Bet.vue';
import BlackJackUser from '@/components/blackJack/BlackJackUser/BlackJackUser.vue';
const { handleError } = useHandleError();

const feed = computed(() => storeProxy.feed.feedList);

const getData = async() => {
  try {
    await storeProxy.feed.getFeedList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

const isStarted = ref(false);
const timer = ref(5);

const data = reactive({
  games: '167',
  cashWin: '100 546',
  user: {
    avatarSrc: './mocks/img/avatar.png',
    name: 'Rey Mibourne',
    points: '21',
    status: 'win'
  },
  diller: {
    avatarSrc: './mocks/img/avatar.png',
    name: 'Диллер',
    points: '13',
    status: 'lose'
  },
});

const start = (e: any) => {
  console.log('start val', e);
  isStarted.value = true;
};
</script>

<style scoped lang="scss" src="./black-jack.scss"></style>