<template>
  <div class="combi-list">
    <div
      v-for="item in list"
      :key="item.id"
      class="combi-list__item"
    >
      <div class="combi-list__rate">
        {{ item?.rate }}
      </div>
      <div
        v-for="index in item?.count"
        :key="index"
        class="combi-list__square"
      />
      <div class="combi-list__name">
        {{ item?.name }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ICombinationItem } from '@/services/slots';
import { PropType } from 'vue';

const props = defineProps({
  list: {
    type: Array as PropType<ICombinationItem[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./combi-list.scss"></style>