.combi-list {
  padding: v(18) 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);

  &__item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);

    &:not(:last-of-type) {
      margin-bottom: v(10);
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(36);
    height: v(28);
    background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
    border-radius: v(5);
    font-size: v(12);
    line-height: v(15);
    margin-right: v(12);
  }

  &__square {
    width: v(18);
    height: v(18);
    background: rgba(227, 77, 69, 0.24);
    border: 1px solid rgba(227, 77, 69, 0.5);
    border-radius: v(4);
    margin-right: v(8);

    &:last-of-type {
      margin-right: v(12);
    }
  }
}