<template>
  <div class="r1-list-loader">
    <div class="lds-roller">
      <div /><div /><div /><div /><div /><div /><div /><div />
    </div>
  </div>
</template>
<style lang="scss" scoped src="./ListLoader.scss"></style>
