<template>
  <slot />
  <slot
    name="positioned"
    :position="mouse"
    :item="focusItem"
    :is-context="isContext"
  />
</template>

<script lang="ts" setup>
import { onMounted, onUnmounted, provide, ref } from 'vue';
import {
  ItemInteractInjection,
  itemInteractProvideKey,
  Position,
} from '@/components/Inventory/helpers';
import { InventoryItem } from '@gta5/gtanetsdk';
import { throttle } from 'lodash';

const isContext = ref(false);
const mouse = ref<Position>({
  x: 0,
  y: 0,
});
const focusItem = ref<InventoryItem | null>(null);

const _onMouseMove = (e: MouseEvent, item: InventoryItem) => {
  mouse.value = {
    x: e.x,
    y: e.y,
  };
};
const onMouseMove = throttle(_onMouseMove, 15);

const onMouseEnter = (e: MouseEvent, item: InventoryItem) => {
  isContext.value = false;
  focusItem.value = item;
};

const onMouseLeave = (e: MouseEvent, item: InventoryItem) => {
  if(!isContext.value) {
    focusItem.value = null;
  }
};

const onMouseDownRight = (e: MouseEvent, item: InventoryItem) => {
  isContext.value = true;
};

const onMouseContextLeft = (e: MouseEvent, item: InventoryItem) => {
  isContext.value = false;
  focusItem.value = null;
};

provide<ItemInteractInjection>(itemInteractProvideKey, {
  onMouseMove,
  onMouseEnter,
  onMouseLeave,
  onMouseDownRight,
  onMouseContextLeft,
});

const preventContextMenu = (e: MouseEvent) => {
  e.preventDefault();
};

onMounted(() => {
  window.addEventListener('contextmenu', preventContextMenu, false);
});

onUnmounted(() => {
  window.removeEventListener('contextmenu', preventContextMenu);
});

</script>
