<template>
  <div class="bet">
    <h5 class="bet__title">
      Ваша ставка
    </h5>
    <n-input-number
      v-model:value="defaultValue"
      :step="10"
      class="bet__number"
      size="large"
      :update-value-on-input="false"
      placeholder="0"
      :validator="validator"
    >
      <template
        #minus-icon
      >
        <Btn preset="minus">
          <template #icon>
            <icon-svg
              name="minus"
              size="8"
              stroke="#797979"
            />
          </template>
        </Btn>
      </template>
      <template #add-icon>
        <Btn preset="plus">
          <template #icon>
            <icon-svg
              name="plus"
              size="8"
              stroke="#797979"
            />
          </template>
        </Btn>
      </template>
      <template #suffix>
        <icon-svg
          name="chips"
          :size="20"
        />
      </template>
    </n-input-number>
    <btn
      preset="confirm"
      class="bet__btn"
      @click="start"
    >
      {{ btnText }}
    </btn>
    <span
      v-if="sum && sum.length"
      class="bet__sum"
    >
      Сумма ваших ставок $ {{ sum }}
    </span>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';
import Btn from '@/components/ui/Button/Button.vue';
import { ref } from 'vue';

const number = ref(100000);
const emit = defineEmits(['update:defaultValue']);
const validator = (x: number) => x > 0;

const props = defineProps({
  defaultValue: {
    type: Number,
    default: 0
  },
  btnText: {
    type: String,
    default: 'Крутить колесо'
  },
  sum: {
    type: String,
    default: ''
  }
});

const start = (e: any) => {
  emit('update:defaultValue', props.defaultValue);
};
</script>

<style scoped lang="scss" src="./bet.scss"></style>