.bet {
  margin: 0 auto;
  padding: v(17) v(60) v(20);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: linear-gradient(270deg, rgba(46, 46, 46, 0.0001) 0%, rgba(46, 46, 46, 0.4) 15.83%, rgba(46, 46, 46, 0.5) 49.69%, rgba(46, 46, 46, 0.4) 84.83%, rgba(46, 46, 46, 0.0001) 100%);
  border-radius: v(5);
  width: v(570);

  &__title {
    margin-top: 0;
    margin-bottom: v(7);
    font-size: v(14);
    line-height: v(17);
    text-align: center;
  }

  &__number {
    position: relative;
    width: 100%;
    margin-bottom: v(21);

    :deep(.n-input-wrapper) {
      display: flex;
      justify-content: center;
      padding-left: v(70);
      padding-right: v(70);

      .n-input-number-suffix {
        display: flex;
        align-items: center;
      }

      .n-input__input {
        flex-grow: initial;
        text-overflow: ellipsis;
      }

      .n-input__input-el {
        width: v(120);
        text-align: right;
        font-weight: 700;
        font-size: v(24);
        line-height: v(29);
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .n-input__placeholder {
        font-weight: 700;
        font-size: v(24);
        line-height: v(29);
        text-align: right;
      }

      .n-input__suffix > .n-button {
        position: absolute;
        left: v(10);
        top: 50%;
        padding: 0;
        width: v(42);
        height: v(32);
        transform: translateY(-50%);

        .n-button__icon {
          display: block;
          width: v(42);
          height: v(32);

          .n-icon-slot {
            width: v(42);
            height: v(32);
          }
        }

        &:last-of-type {
          left: auto;
          right: v(30);
        }
      }
    }
  }

  &__btn {
    margin: 0 auto;
    height: v(52);
  }

  &__sum {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: v(10);
    line-height: v(12);
    text-align: center;
    color: #797979;
  }
}