<template>
  <div class="free-card">
    <div class="free-card__image">
      <img
        :src="imageSrc.default"
        alt=""
      >
      <span class="free-card__chips">
        {{ card?.value }}
      </span>
    </div>
    <btn
      preset="confirm"
      class="free-card__btn"
      @click="getFree"
    >
      Получить
    </btn>
  </div>
</template>

<script setup lang="ts">
import Btn from '@/components/ui/Button/Button.vue';
import { FreeCard } from '@/services/chips';
import { computed, PropType } from 'vue';

const props = defineProps({
  card: {
    type: Object as PropType<FreeCard>,
    default: () => {{}}
  }
});

const emit = defineEmits(['getChip']);

const imageSrc = computed(() => props.card?.color.length ? require(`@/assets/images/chip_${props.card?.color}.png`) : require(`@/assets/images/chip_black.png`));

const getFree = () => {
  emit('getChip', props.card);
};
</script>

<style scoped lang="scss" src="./free-card.scss"></style>