.free-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__image {
    position: relative;
    margin-bottom: v(32);
    height: v(190);
    width: v(190);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__chips {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 700;
    font-size: v(22);
    line-height: v(27);
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &__btn {
    height: v(55);
    width: v(183);
  }
}