.wallet {
  position: absolute;
  top: v(41);
  right: v(38);
  font-family: 'Bebas Neue';
  font-weight: 700;
  font-size: v(26);
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wallet-row {
  display: flex;
  align-items: center;
  gap: v(12);

  &:not(:last-of-type) {
    margin-bottom: v(10);
  }
}