<template>
  <div class="wallet">
    <div class="wallet-row wallet-row_cash">
      <IconSvg
        name="cash"
        :size="21"
      />
      <span>
        {{ cash }}
      </span>
    </div>
    <div class="wallet-row wallet-row_card">
      <IconSvg
        name="card"
        :size="22"
      />
      <span>
        {{ card }}
      </span>
    </div>
    <div class="wallet-row wallet_-rowchips">
      <IconSvg
        name="chips"
        :size="22"
      />
      <span>
        {{ chips }}
      </span>
    </div>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  cash: {
    type: String,
    default: ''
  },
  card: {
    type: String,
    default: ''
  },
  chips: {
    type: String,
    default: ''
  },
});
</script>

<style scoped lang="scss" src="./casino-wallet.scss"></style>