.bets-gamers {
  position: relative;
  margin-top: v(138);
  margin-left: auto;
  width: v(280);
  overflow: hidden;

  &__title {
    margin-top: 0;
    margin-bottom: v(24);
    font-size: v(20);
    line-height: v(24);
    text-align: center;
    text-transform: uppercase;
  }

  &__list {
    position: relative;
    padding-left: v(50);
    padding-bottom: v(30);
  }

  &__empty {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: v(570);
    text-align: center;

    h4 {
      margin-top: 0;
      margin-bottom: v(8);
      font-size: v(16);
      line-height: v(20);
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      color: #9B9B9B;
      max-width: 90%;
    }
  }
}