<template>
  <div class="bets-gamers">
    <h2 class="bets-gamers__title">
      Ставки игроков
    </h2>
    <n-scrollbar :style="{ maxHeight: `${v(573)}` }">
      <div
        v-if="list && list.length"
        class="bets-gamers__list"
      >
        <BetsCard
          v-for="item in list"
          :key="item?.id"
          :card="item"
        />
      </div>
      <div
        v-else
        class="bets-gamers__empty"
      >
        <h4>Нет ставок</h4>
        <p>Стол свободный, сделайте первую ставку</p>
      </div>
    </n-scrollbar>
  </div>
</template>

<script setup lang="ts">
import { v } from '@/config';
import { BetGamerItem } from '@/services/bets';
import { PropType } from 'vue';
import BetsCard from './components/FeedCard/BetsCard.vue';

const props = defineProps({
  list: {
    type: Array as PropType<BetGamerItem[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./bets-gamers.scss"></style>