<template>
  <div class="ads-wrapper" />
</template>

<script setup lang="ts">
import { useNotification } from 'naive-ui';
import { h, onMounted, PropType } from 'vue';
import AdsMarquee from '@/components/ads/marquee/AdsMarquee.vue';
import AdsBlock from '@/components/ads/block/AdsBlock.vue';
import { AdsItem } from '@/services/ads';
const notification = useNotification();

const props = defineProps({
  list: {
    type: Array as PropType<AdsItem[]>,
    default: () => []
  }
});

onMounted(() => {

  props.list.map(item => {
    notification.create({
      closable: false,
      content: () => item.type === 'runline' ? h(AdsMarquee, {
        text: item?.text,
        name: item?.name,
        avatar: item?.avatarSrc,
        phone: item?.phone,
        call: item?.call
      }) :
        h(AdsBlock, {
          data: item
        })
    });
  });


  // notification.create({
  //   title: "Lucas Simões",
  //   closable: false,
  //   description: () => h(MarqueeVue, { text: 'some text1111' }),
  //   type: 'default',
  //   avatar: () =>
  //     h(NAvatar, {
  //       size: 'small',
  //       round: true,
  //       src: 'https://07akioni.oss-cn-beijing.aliyuncs.com/07akioni.jpeg'
  //     }),
  // });
});

</script>

<style scoped lang="scss" src="./ads-wrapper.scss"></style>