<template>
  <div
    class="poker-user"
    :class="[computedClass, userClass]"
  >
    <n-progress
      v-if="data?.thinks"
      class="poker-user__timer"
      type="circle"
      color="#E34D45"
      :percentage="timer"
      :stroke-width="3"
      :rail-color="'transparent'"
      :gap-offset-degree="180"
    >
      <span style="text-align: center">
        {{ timer }}
      </span>
    </n-progress>

    <div
      v-if="isUser"
      class="poker-user__cards"
    >
      <div
        v-for="card in data?.cards"
        :key="card?.id"
        class="poker-user__card"
      >
        <img
          :src="card?.img"
          alt=""
        >
      </div>
    </div>

    <div
      v-else
      class="poker-user__cards"
    >
      <div
        class="poker-user__card_small"
      >
        <IconSvg
          name="card-back"
          :size="43"
        />
      </div>
      <div
        class="poker-user__card_small"
      >
        <IconSvg
          name="card-back"
          :size="43"
        />
      </div>
    </div>

    <div class="poker-user__info">
      <div class="poker-user__avatar">
        <img
          :src="data?.avatar"
          alt=""
        >
        <span class="poker-user__name">{{ data?.name }}</span>
        <IconSvg
          v-if="data?.winner"
          class="poker-user__wreath"
          name="wreath"
          :size="162"
          fill="#FFCE50"
        />
      </div>

      <div class="poker-user__cash">
        <IconPng
          name="dollar"
          :size="22"
        />
        <span>
          {{ data?.cash }}
        </span>
      </div>

      <div
        v-if="data?.status"
        class="poker-user__status"
      >
        {{ data?.status }}
      </div>
    </div>
    <div
      v-if="data?.pass"
      class="poker-user__pass"
    >
      Пас
    </div>
  </div>
</template>

<script setup lang="ts">
import { IGamer } from '@/services/poker';
import { computed, PropType, ref } from 'vue';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  data: {
    type: Object as PropType<IGamer>,
    default: () => {{}}
  },
  isUser: {
    type: Boolean,
    default: false
  },
  reverse: {
    type: Boolean,
    default: false
  },
});

const timer = ref(10);

const computedClass = computed(() => {
  if(props.data?.pass && props?.reverse) return 'poker-user_pass poker-user_reverse';
  if(props.data?.winner && props?.reverse) return 'poker-user_winner poker-user_reverse';
  if(props.data?.thinks && props?.reverse) return 'poker-user_thinks poker-user_reverse';
  if(props.data?.pass) return 'poker-user_pass';
  if(props.data?.winner) return 'poker-user_winner';
  if(props.data?.thinks) return 'poker-user_thinks';
  if(props.reverse) return 'poker-user_reverse';
  return 'poker-user';
});

const userClass = computed(() => {
  if(!props.isUser) return 'poker-user_gamer';
  return '';
});
</script>

<style scoped src="./poker-gamer.scss" lang="scss"></style>