.poker-user {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: v(14);

  &_gamer {
    gap: v(10);

    .poker-user__cards {
      gap: v(10);
    }
  }

  &_reverse {
    flex-flow: row-reverse nowrap;

    .poker-user__timer {
      right: auto;
      left: v(-70);
    }
  }

  &_pass {
    > * {
      opacity: 0.4;
    }

    > .poker-user__pass {
      opacity: 1;
    }
  }

  &_winner {
    .poker-user__name,
    .poker-user__status {
      z-index: 2;
      background: #FFCE50;
      border-color: #FFCE50;
      color: #C64700;
    }
  }

  &_thinks {
    .poker-user__status {
      background: #242424;
      border-color: #242424;
    }
  }

  &__avatar {
    overflow: hidden;
    position: relative;
    width: v(170);
    height: v(200);
    border-radius: v(24);
    box-shadow: 0 v(14) v(32) rgba(0, 0, 0, 0.5);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    position: absolute;
    bottom: v(12);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: v(120);
    height: v(28);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    transform: translateX(-50%);
    background: radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
    border-radius: v(6);
  }

  &__cards {
    display: flex;
    gap: v(14);
    padding-top: v(20);
  }

  &__card {
    width: v(120);
    height: v(160);
    cursor: pointer;
    transition: transform 0.2s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      transform: translateY(v(-20));
      transition: transform 0.2s;
    }

    &_small {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: v(30);
      width: v(75);
      height: v(100);
      background: radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
      border: 1px solid #2F2F2F;
      border-radius: v(7);
    }
  }

  &__cash {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: v(12);
    margin-bottom: v(12);
    z-index: 1;
    font-weight: 700;
    font-size: v(22);
    line-height: v(27);
    text-align: center;

    span {
      padding-top: v(2);
    }
  }

  &__status {
    margin: 0 auto;
    padding: v(8) v(20);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    background: linear-gradient(178.04deg, #FF5951 -113.42%, #660D05 143.44%);
    border: 1px solid rgba(242, 242, 242, 0.0972192);
    border-radius: v(6);
    width: fit-content;
  }

  &__pass {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: v(18);
    line-height: v(22);
    width: 100%;
    height: 100%;
  }

  &__wreath {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }

  &__timer {
    position: absolute;
    right: v(-70);
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    height: v(52);
    width: v(52);
    font-weight: 700;
    font-size: v(24);
    line-height: v(29);
  }
}