$w: 70;
$h: 70;
$g: 3;

.inventory {
  .left {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

  .left,
  .right {
    width: v(460);
  }

  .right {
    display: flex;
    flex-flow: column nowrap;
    gap: v(40);
  }

  .center {
    display: flex;
    align-items: center;
    width: v(274);
    height: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 v(33) v(33);
  }

  .draggable_provider {
    height: 100%;
    overflow: hidden;
    .r1-filter-btn {
      border: v(1) solid #fff2;
      border-radius: v(5);
      background-color: #242424;
      padding: v(8) v(12) v(9) v(12);
      min-width: v(140);
      font-size: v(11.5);
      color: #fff;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      gap: v(5);

      .r1-icon-svg {
      }
    }

    .r1-interact-provider {
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: space-between;

      :deep(.n-scrollbar) {
        height: 100%;
        padding-right: v(24);

        .n-scrollbar-rail--vertical {
          .n-scrollbar-rail__scrollbar {
            width: v(3);
          }
        }
      }

      .r1-grid {
        padding: v(3) v(3) 0;
      }

      :deep(.r1-departments.n-scrollbar) {
        width: auto;
        padding-right: v(3);

        .r1-grid {
          padding-bottom: v(35);
          height: v(300);
          overflow: hidden;
        }
      }
    }
  }
}

.inventory-self {
  height: v(640);
}

.inventory-wearing {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, v($w));
  grid-template-rows: repeat(6, v($h));
  gap: v(12);
  justify-content: center;
  padding-top: v(40);
  width: 100%;
  height: 100%;
}

.inventory-character {
  position: absolute;
  left: 50%;
  top: v(124);
  display: block;
  width: v(251);
  height: v(588);
  transform: translateX(-50%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.inventory-header {
  display: flex;
  align-items: center;
}

.inventory-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: v(18);
  line-height: v(22);
  margin-bottom: v(25);
  text-transform: uppercase;

  svg {
    margin-left: v(10);
  }
}

.inventory-grid {
  background: transparent url('@/assets/images/grid_bg.png') 0 0 repeat-y;
  background-size: contain;
  max-height: v(508);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #1b1b1b;
    border-radius: v(12);
  }
}

.inventory-wearing__item {
  position: relative;
  display: flex;
  height: auto;
  z-index: 1;

  .grid_header {
    display: none;
  }

  &_hat {
    grid-area: 1 / 2 / 2 / 3;
  }

  &_eyes {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: v(12);
  }

  &_ears {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: v(12);
  }

  &_mask {
    margin-top: v(12);
    left: v(-24);
    grid-area: 2 / 1 / 3 / 2;
  }

  &_neck {
    margin-top: v(12);
    right: v(-24);
    grid-area: 2 / 3 / 3 / 4;
  }

  &_outerwear {
    margin-top: v(24);
    left: v(40);
    grid-area: 3 / 1 / 4 / 2;
  }

  &_tshirt {
    margin-top: v(24);
    right: v(40);
    grid-area: 3 / 3 / 4 / 4;
  }

  &_gloves {
    margin-top: v(32);
    left: v(-24);
    grid-area: 4 / 1 / 5 / 2;
  }

  &_wrist1 {
    margin-top: v(32);
    right: v(-24);
    grid-area: 4 / 3 / 5 / 4;
  }

  &_pants {
    left: v(40);
    margin-top: v(82);
    grid-area: 5 / 1 / 6 / 2;
  }

  &_backpack {
    right: v(40);
    margin-top: v(82);
    grid-area: 5 / 3 / 6 / 4;
  }

  &_footwear {
    margin-top: v(125);
    grid-area: 6 / 2 / 7 / 3;
  }
}

.inventory-business {
  height: v(200);
}

.inventory-garage {
  height: v(215);
}

.inventory-quick {
  padding-top: v(26);

  .grid_header {
    margin-bottom: v(13);
  }

  &__title {
    margin: 0;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #9B9B9B;
  }
}

.inventory-fields {
  display: flex;
  align-items: center;
  gap: v(16);
  padding-right: v(24);

  .field {
    label {
      display: inline-block;
      margin-bottom: v(10);
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      text-transform: uppercase;
      color: #797979;
    }

    :deep(.n-input__input-el) {
      font-weight: 700;
      font-size: v(16);
      line-height: v(20);
    }
  }
}

.inventory-buttons {
  display: flex;
  justify-content: center;
  gap: v(20);
  padding-right: v(24);
  margin-top: v(-20);

  button {
    height: v(52);
    width: v(190);
  }
}