<template>
  <div class="inventory">
    <draggable-provider
      #="{ addContainer, removeContainer, focused, updateIsMoveAllowed }"
      class="inventory__wrapper"
      @drop="onDrop"
      @drop-target="onDropTarget"
      @not-allowed="onNotAllowed"
    >
      <item-interact-provider>
        <template
          #positioned="{
            position,
            item,
            isContext
          }"
        >
          <item-details
            v-if="item && !isContext"
            :position="position"
            :item="item"
          />
        </template>
        <div class="left">
          <div class="inventory-self">
            <grid
              id="inventoryGrid"
              :items="inventoryList.items"
              :limit="inventoryList.limit"
              :columns="6"
              :focused-cells="focused"
              :loading="data.loading"
              @mounted="addContainer"
              @destoyed="removeContainer"
              @move-allowed="(val: any) => updateIsMoveAllowed('left', val)"
            >
              <template #header="{ onUpdateFilter, gridItems }">
                <grid-header
                  :count="inventoryList.items.length"
                  :limit="inventoryList.limit"
                  :name="inventoryList.title"
                >
                  <template #suffix>
                    <grid-filter
                      :items="gridItems"
                      :filters="
                        new Set([
                          'guns',
                          'food',
                          'resource',
                          'clothes',
                          'others',
                          'cars'
                        ])
                      "
                      @filter="
                        e => {
                          inventoryFilters = e;
                          return onUpdateFilter(e);
                        }
                      "
                    >
                      <div class="r1-filter-btn">
                        {{ inventoryActiveFilterLabel }}
                        <IconSvg
                          name="chevron-down"
                          fill="transparent"
                          stroke="#797979"
                          :size="10"
                        />
                      </div>
                    </grid-filter>
                  </template>
                </grid-header>
              </template>
            </grid>
          </div>
          <div class="inventory-quick">
            <grid
              id="quickAccessGrid"
              :items="quickAccessGrid.items"
              :limit="quickAccessGrid.limit"
              :columns="5"
              :focused-cells="focused"
              :loading="data.loading"
              is-quick
              @mounted="addContainer"
              @destoyed="removeContainer"
              @move-allowed="(val: any) => updateIsMoveAllowed('quick', val)"
            >
              <template #header>
                <h5 class="inventory-quick__title">
                  Быстрый доступ
                </h5>
              </template>
            </grid>
          </div>

          <Controlling />
        </div>
      </item-interact-provider>

      <div
        v-if="!data.loading"
        class="center"
      >
        <div class="inventory-wearing">
          <picture class="inventory-character">
            <img
              src="@/assets/images/character.png"
              srcset="@/assets/images/character@2x.png"
              alt=""
            >
          </picture>

          <grid
            id="eyesGrid"
            :items="eyesList.items"
            :limit="eyesList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="eyes"
            class="inventory-wearing__item inventory-wearing__item_eyes"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('eyes', val)"
          />

          <grid
            id="hatGrid"
            :items="hatList.items"
            :limit="hatList.limit"
            :columns="1"
            grid-type="hat"
            :loading="data.loading"
            :focused-cells="focused"
            class="inventory-wearing__item inventory-wearing__item_hat"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('hat', val)"
          />

          <grid
            id="earsGrid"
            :items="earsList.items"
            :limit="earsList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="ears"
            class="inventory-wearing__item inventory-wearing__item_ears"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="maskGrid"
            :items="maskList.items"
            :limit="maskList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="mask"
            class="inventory-wearing__item inventory-wearing__item_mask"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="neckGrid"
            :items="neckList.items"
            :limit="neckList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="neck"
            class="inventory-wearing__item inventory-wearing__item_neck"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="outerwearGrid"
            :items="outerwearList.items"
            :limit="outerwearList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="outerwear"
            class="inventory-wearing__item inventory-wearing__item_outerwear"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="tshirtGrid"
            :items="tshirtList.items"
            :limit="tshirtList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="tshirt"
            class="inventory-wearing__item inventory-wearing__item_tshirt"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="glovesGrid"
            :items="glovesList.items"
            :limit="glovesList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="gloves"
            class="inventory-wearing__item inventory-wearing__item_gloves"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="wrist1Grid"
            :items="wrist1List.items"
            :limit="wrist1List.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="wrist1"
            class="inventory-wearing__item inventory-wearing__item_wrist1"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="pantsGrid"
            :items="pantsList.items"
            :limit="pantsList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="pants"
            class="inventory-wearing__item inventory-wearing__item_pants"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="backpackGrid"
            :items="backpackList.items"
            :limit="backpackList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="backpack"
            class="inventory-wearing__item inventory-wearing__item_backpack"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />

          <grid
            id="footwearGrid"
            :items="footwearList.items"
            :limit="footwearList.limit"
            :columns="1"
            :loading="data.loading"
            grid-type="footwear"
            class="inventory-wearing__item inventory-wearing__item_footwear"
            is-once
            @mounted="addContainer"
            @destoyed="removeContainer"
            @move-allowed="(val: any) => updateIsMoveAllowed('center', val)"
          />
        </div>
      </div>

      <item-interact-provider>
        <template
          #positioned="{
            position,
            item,
            isContext
          }"
        >
          <item-details
            v-if="item && !isContext"
            :position="position"
            :item="item"
          />
        </template>

        <div class="right">
          <div class="inventory-nearby">
            <grid
              id="nearbyGrid"
              :items="nearbyList.items"
              :limit="nearbyList.limit"
              :columns="6"
              :focused-cells="focused"
              :loading="data.loading"
              @mounted="addContainer"
              @destoyed="removeContainer"
              @move-allowed="(val: any) => updateIsMoveAllowed('right', val)"
            >
              <template #header>
                <grid-header
                  :count="nearbyList.items.length"
                  :limit="nearbyList.limit"
                  :name="nearbyList.title"
                >
                  <template #suffix>
                    <btn
                      preset="get-all"
                      :disabled="emptyNearbyList"
                      @click="getAllNearby"
                    >
                      Забрать все
                    </btn>
                  </template>
                </grid-header>
              </template>
            </grid>
          </div>

          <div class="inventory-business">
            <grid
              id="businessGrid"
              :items="businessList.items"
              :limit="businessList.limit"
              :columns="6"
              :focused-cells="focused"
              :loading="data.loading"
              @mounted="addContainer"
              @destoyed="removeContainer"
              @move-allowed="(val: any) => updateIsMoveAllowed('left', val)"
            >
              <template #header="{ onUpdateFilter, gridItems }">
                <grid-header
                  :count="businessList.items.length"
                  :limit="businessList.limit"
                  :name="businessList.title"
                  :avatar="businessList.avatarSrc"
                >
                  <template #suffix>
                    <grid-filter
                      :items="gridItems"
                      :filters="
                        new Set([
                          'guns',
                          'food',
                          'resource',
                          'clothes',
                          'others',
                          'cars'
                        ])
                      "
                      @filter="
                        e => {
                          businessFilters = e;
                          return onUpdateFilter(e);
                        }
                      "
                    >
                      <div class="r1-filter-btn">
                        {{ businessActiveFilterLabel }}
                        <IconSvg
                          name="chevron-down"
                          fill="transparent"
                          stroke="#797979"
                          :size="10"
                        />
                      </div>
                    </grid-filter>
                  </template>
                </grid-header>
              </template>
            </grid>
          </div>

          <div class="inventory-garage">
            <grid
              id="garageGrid"
              :items="garageList.items"
              :limit="garageList.limit"
              :columns="6"
              :focused-cells="focused"
              :loading="data.loading"
              @mounted="addContainer"
              @destoyed="removeContainer"
              @move-allowed="(val: any) => updateIsMoveAllowed('right', val)"
            >
              <template #header="{ onUpdateFilter, gridItems }">
                <grid-header
                  :count="garageList.items.length"
                  :limit="garageList.limit"
                  :name="garageList.title"
                  :location="garageList.location"
                >
                  <template #suffix>
                    <grid-filter
                      :items="gridItems"
                      :filters="
                        new Set([
                          'guns',
                          'food',
                          'resource',
                          'clothes',
                          'others',
                          'cars'
                        ])
                      "
                      @filter="
                        e => {
                          garageFilters = e;
                          return onUpdateFilter(e);
                        }
                      "
                    >
                      <div class="r1-filter-btn">
                        {{ garageActiveFilterLabel }}
                        <IconSvg
                          name="chevron-down"
                          fill="transparent"
                          stroke="#797979"
                          :size="10"
                        />
                      </div>
                    </grid-filter>
                  </template>
                </grid-header>
              </template>
            </grid>
          </div>

          <div class="inventory-places">
            <Places :list="places" />
          </div>
        </div>
      </item-interact-provider>
    </draggable-provider>
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, reactive, ref } from 'vue';
import IconSvg from "@/components/ui/IconSvg.vue";
import Grid from "@/components/Inventory/Grid/Grid.vue";
import GridHeader from "@/components/Inventory/Grid/components/GridHeader/GridHeader.vue";
import GridFilter from "@/components/Inventory/Grid/components/GridFilter/GridFilter.vue";
import { GridItemFilter } from "@/components/inventory/Grid/components/GridFilter/GridFilter.vue";
import DraggableProvider from "@/components/Inventory/DraggableProvider/DraggableProvider.vue";
import {
  DropItemEvent, getGridIndexByCoords,
  TargetDropItemEvent,
} from '@/components/Inventory/helpers';
import { storeProxy } from "@/store";
import { InventoryGrid, InventoryItem } from '@gta5/gtanetsdk';
import { useAlert, useHandleError } from '@gta5/vueplugin';
import ItemInteractProvider
  from '@/components/Inventory/ItemInteractProvider/ItemInteractProvider.vue';
import ItemDetails from '@/components/Inventory/widgets/ItemDetails/ItemDetails.vue';
import Btn from '@/components/ui/Button/Button.vue';
import Places from '@/components/Inventory/Places/Places.vue';
import Controlling from '@/components/Inventory/Controlling/InventoryControlling.vue';
const { handleError } = useHandleError();
const { showAlert, showError } = useAlert();

const inventoryFilters = ref<GridItemFilter[]>([]);
const businessFilters = ref<GridItemFilter[]>([]);
const garageFilters = ref<GridItemFilter[]>([]);

const inventoryActiveFilterLabel = computed(() => {
  const active = inventoryFilters.value.filter(_ => _.active);
  const count = active.length;
  if (count === 0) {
    return "Все";
  } else if (count === 1) {
    return active[0].name;
  } else {
    return `Выбрано ${count}`;
  }
});

const businessActiveFilterLabel = computed(() => {
  const active = businessFilters.value.filter(_ => _.active);
  const count = active.length;
  if (count === 0) {
    return "Все";
  } else if (count === 1) {
    return active[0].name;
  } else {
    return `Выбрано ${count}`;
  }
});

const garageActiveFilterLabel = computed(() => {
  const active = garageFilters.value.filter(_ => _.active);
  const count = active.length;
  if (count === 0) {
    return "Все";
  } else if (count === 1) {
    return active[0].name;
  } else {
    return `Выбрано ${count}`;
  }
});

const getGrid = (source: any) => {
  switch (source) {
  case 'inventoryGrid':
    return inventoryList.value;
    break;
  case 'nearbyGrid':
    return nearbyList.value;
    break;
  case 'businessGrid':
    return businessList.value;
    break;
  case 'garageGrid':
    return garageList.value;
    break;
  case 'hatGrid':
    return hatList.value;
    break;
  case 'eyesGrid':
    return eyesList.value;
    break;
  case 'neckGrid':
    return neckList.value;
    break;
  case 'earsGrid':
    return earsList.value;
    break;
  case 'outerwearGrid':
    return outerwearList.value;
    break;
  case 'tshirtGrid':
    return tshirtList.value;
    break;
  case 'maskGrid':
    return maskList.value;
    break;
  case 'wrist1Grid':
    return wrist1List.value;
    break;
  case 'pantsGrid':
    return pantsList.value;
    break;
  case 'glovesGrid':
    return glovesList.value;
    break;
  case 'backpackGrid':
    return backpackList.value;
    break;
  case 'footwearGrid':
    return footwearList.value;
    break;
  case 'quickAccessGrid':
    return quickAccessGrid.value;
    break;
  default:
    return false;
  }
};

const onDropTarget = async (e: TargetDropItemEvent) => {
  console.log("on drop target", { e });
  const sourceId = e.sourceGridId;
  const targetId = e.targetGridId;
  let sourceGrid: InventoryGrid = getGrid(sourceId);
  let targetGrid: InventoryGrid = getGrid(targetId);

  const sourceItem = sourceGrid.items.find(_ => _.id === parseInt(e.sourceId));
  const targetItem = targetGrid.items.find(_ => _.id === parseInt(e.targetId));
  if(!sourceItem || !targetItem) return console.warn('cannot find item');
  if(targetItem.item.id !== sourceItem.item.id || !targetItem.item.canStack)
    return showAlert('Данные предметы не стакаются!', 'info');
};

const onDrop = async (e: DropItemEvent) => {
  const sourceId = e.sourceGridId;
  const targetId = e.targetGridId;
  let sourceGrid: InventoryGrid = getGrid(sourceId);
  let targetGrid: InventoryGrid = getGrid(targetId);

  const sourceItem: InventoryItem | undefined = sourceGrid.items.find((_: InventoryItem) => _.id === parseInt(e.sourceId) || _.idString === e.sourceId);
  if(!sourceItem) return console.warn('cannot find item');
  if(sourceItem?.loading) return console.warn('cannot drag loading item');
  try {
    await storeProxy.inventory.moveItem({
      inventoryItemId: sourceItem.id,
      count: sourceItem.count,
      gridId: targetGrid.id,
      index: getGridIndexByCoords(e.cell, 6),
      sourceGridId: sourceGrid.id,
    });
  } catch(err) {
    handleError(err);
  }
};

const onNotAllowed = (e: DropItemEvent) => {
  const sourceId = e.sourceGridId;
  const grid: InventoryGrid = getGrid(sourceId);
  const sourceItem = grid.items.find(_ => _.id === parseInt(e.sourceId));
  showError(`Невозможно переместить "${sourceItem?.item.name}" в данную ячейку`);
};

const getAllNearby = async () => {
  try {
    await storeProxy.inventory.moveAllNearbyItems({ gridId: nearbyList.value.id, items: nearbyList.value.items });
  } catch(err) {
    handleError(err);
  }
};

const data = reactive({
  loading: true,
});

const getData = async () => {
  try {
    await storeProxy.inventory.getItems();
    await storeProxy.inventory.getPlaces();
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  Promise.all([getData()]).finally(() => data.loading = false);
});

const inventoryList = computed(() => storeProxy.inventory.inventoryGrid);
const nearbyList = computed(() => storeProxy.inventory.nearbyGrid);
const hatList = computed(() => storeProxy.inventory.hatGrid);
const eyesList = computed(() => storeProxy.inventory.eyesGrid);
const earsList = computed(() => storeProxy.inventory.earsGrid);
const neckList = computed(() => storeProxy.inventory.neckGrid);
const outerwearList = computed(() => storeProxy.inventory.outerwearGrid);
const tshirtList = computed(() => storeProxy.inventory.tshirtGrid);
const maskList = computed(() => storeProxy.inventory.maskGrid);
const wrist1List = computed(() => storeProxy.inventory.wrist1Grid);
const pantsList = computed(() => storeProxy.inventory.pantsGrid);
const glovesList = computed(() => storeProxy.inventory.glovesGrid);
const backpackList = computed(() => storeProxy.inventory.backpackGrid);
const footwearList = computed(() => storeProxy.inventory.footwearGrid);
const businessList = computed(() => storeProxy.inventory.businessGrid);
const garageList = computed(() => storeProxy.inventory.garageGrid);
const quickAccessGrid = computed(() => storeProxy.inventory.quickAccessGrid);
const places = computed(() => storeProxy.inventory.placesList);
const emptyNearbyList = computed(() => storeProxy.inventory.nearbyGrid.items.length < 1);

</script>

<style scoped lang="scss" src="./index.scss"></style>
