.item-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: v(208);
  background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #181818 0%, #0E0E0E 100%);
  border: 1px solid #1B1B1B;
  border-radius: v(12);
  cursor: pointer;
  font-weight: 700;
  text-align: center;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(147);
    height: v(147);
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    margin: 0;
    font-size: v(16);
    line-height: v(20);
    margin-bottom: v(6);
  }

  &__price {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: v(16);
    line-height: v(20);
  }

  &__check {
    position: absolute;
    right: v(-8);
    top: v(-8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(32);
    height: v(32);
    border-radius: 50%;
    background-color: #E34D45;
  }

  &_active {
    border: 2px solid #E34D45;
  }
}