<template>
  <div
    :class="active ? 'item-card item-card_active' : 'item-card'"
    @click="handlerClick"
  >
    <span
      v-if="active"
      class="item-card__check"
    >
      <icon-svg
        name="check"
        :size="12"
      />
    </span>
    <picture class="item-card__picture">
      <img
        :src="card?.img"
        :alt="card?.name"
      >
    </picture>
    <h3 class="item-card__name">
      {{ card?.name }}
    </h3>
    <p class="item-card__price">
      <icon-png
        name="dollar"
        :size="16"
      />
      <span>
        {{ card?.price }}
      </span>
    </p>
  </div>
</template>

<script setup lang="ts">
import { IItem } from '@/services/items';
import { PropType, ref } from 'vue';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  card: {
    type: Object as PropType<IItem>,
    default: () => {{}}
  }
});
const emit = defineEmits(['select']);

const active = ref(false);

const handlerClick = () => {
  active.value = !active.value;
  emit('select', { card: props.card, isActive: active.value });
};
</script>

<style scoped lang="scss" src="./item-card.scss"></style>