.rate-chips {
  &__title {
    margin-top: 0;
    margin-bottom: v(20);
    font-size: v(20);
    line-height: v(24);
    text-transform: uppercase;
  }
}

.rate-chips-item {
  display: flex;
  align-items: center;
  gap: v(7);

  &:first-of-type {
    margin-bottom: v(28);
  }

  &__title {
    margin: 0;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #797979;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: v(6);
    margin-top: v(7);
    margin-bottom: 0;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }

  &__info {
    padding-left: v(7);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(42);
    height: v(42);
    background: rgba(23, 23, 23, 0.7);
    border: 1px solid #3B3B3B;
    backdrop-filter: blur(14.271px);
    border-radius: v(10.5);
    transform: rotate(45deg);

    svg {
      transform: rotate(-45deg);
    }
  }
}