<template>
  <div class="rate-chips">
    <h2 class="rate-chips__title">
      Текущий
      <br>
      курс фишек
    </h2>
    <div class="rate-chips-item">
      <div class="rate-chips-item__icon">
        <IconSvg
          name="wallet"
          :size="24"
        />
      </div>
      <div class="rate-chips-item__info">
        <h3 class="rate-chips-item__title">
          Покупка
        </h3>
        <p class="rate-chips-item__price">
          <IconSvg
            name="chips"
            :size="18"
          />
          <span> 1  =  </span>
          <IconPng
            name="dollar"
            :size="14"
          />
          {{ buy }}
        </p>
      </div>
    </div>
    <div class="rate-chips-item">
      <div class="rate-chips-item__icon">
        <IconSvg
          name="basket"
          :size="20"
        />
      </div>
      <div class="rate-chips-item__info">
        <h3 class="rate-chips-item__title">
          Продажа
        </h3>
        <p class="rate-chips-item__price">
          <IconSvg
            name="chips"
            :size="18"
          />
          <span> 1  =  </span>
          <IconPng
            name="dollar"
            :size="14"
          />
          {{ sell }}
        </p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
const props = defineProps({
  buy: {
    type: String,
    default: ''
  },
  sell: {
    type: String,
    default: ''
  },
});
</script>

<style scoped lang="scss" src="./rate-chips.scss"></style>