<template>
  <div class="rates">
    <div class="rates__list">
      <RateCard
        v-for="(item, index) in rates"
        :key="index"
        :card="item"
        @buy="buyRate"
      />
    </div>
    <footer class="rates__footer">
      <h5>Ограниченное количество</h5>
      <p>Поспешите, количество Priority Pass - ограничено</p>
    </footer>
  </div>
</template>

<script setup lang="ts">
export interface RateItem {
  name: string;
  subtitle: string;
  description: RateDescription[];
  price: string;
  color: string;
}

export interface RateDescription {
  iconName: string;
  text: string
}
import { PropType } from 'vue';
import RateCard from './components/RateCard/RateCard.vue';

const props = defineProps({
  rates: {
    type: Array as PropType<RateItem[]>,
    default: () => []
  }
});

const emit = defineEmits(['buy']);

const buyRate = (card: RateItem) => {
  emit('buy', card);
};
</script>

<style scoped lang="scss" src="./rates.scss"></style>