.rates {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: v(54);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v(32);
  }

  &__footer {
    margin-top: v(32);
    padding: v(19) v(17);
    background: linear-gradient(270deg, rgba(46, 46, 46, 0.0001) 0%, rgba(46, 46, 46, 0.4) 15.83%, rgba(46, 46, 46, 0.5) 49.69%, rgba(46, 46, 46, 0.4) 84.83%, rgba(46, 46, 46, 0.0001) 100%);
    border-radius: v(5);
    text-align: center;

    h5 {
      margin: 0;
      margin-bottom: v(6);
      font-weight: 700;
      font-size: v(15);
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: v(12);
      line-height: v(15);
      color: #9B9B9B;
    }
  }
}