.r1-avatar-container {
  position: relative;


  .r1-online-status {
    z-index: 5;
    position: absolute;
    bottom: v(0);
    right: v(0);
    border-radius: 50%;
  }

  .r1-online-status-online {
    background-color: #7ed321;
  }

  .r1-online-status-offline {
    background-color: #E34D45;
  }

  .r1-avatar {
    position: relative;
    display: flex;
    overflow: hidden;

    &_hover {
      cursor: pointer;
    }

    &_skeleton {
      &::after {
        content: '';
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        --bezier: cubic-bezier(0.4, 0, 0.2, 1);
        --color-start: rgba(255, 255, 255, 0.12);
        --color-end: rgba(255, 255, 255, 0.18);
        animation: 2s skeleton-loading infinite cubic-bezier(0.36, 0, 0.64, 1);
      }
    }

    &.r1-vip {
      .r1-img-wrap {
        border: v(3) solid #ffd16c;
      }

      &::after {
        display: block;
        position: absolute;
        content: "VIP";
        background: linear-gradient(#ffd16c, #dfa525);
        border-radius: v(12);
        line-height: v(15);
        font-weight: bold;
        text-transform: uppercase;
        color: #b9600e;
        padding: 0 v(6);
        bottom: v(-10);
        left: 50%;
        transform: translateX(-50%);
      }
    }


    &.r1-romb {
      transform: rotate(-45deg);
      border-radius: v(9);
      overflow: hidden;

      &.r1-big-radius {
        border-radius: v(17);
      }

      img {
        transform: rotate(45deg) scale(1.3);
        object-fit: cover;
      }
    }

    &.r1-romb-large {
      transform: rotate(-45deg);
      border-radius: v(9);
      overflow: hidden;

      &.r1-big-radius {
        border-radius: v(17);
      }

      img {
        transform: rotate(45deg) scale(1.4);
        object-fit: cover;
      }
    }

    &.r1-square {
      display: flex;
      overflow: hidden;

      img {
        object-fit: contain;
      }
    }

    &.r1-rounded {
      border-radius: 50%;
      overflow: hidden;
      width: fit-content;
      height: fit-content;

      img {
        display: block;
        object-fit: cover;
      }
    }

    &.r1-shield {
      img {
        mask-image: url("@/assets/images/shild-mask.svg");
        mask-size: cover;
        object-fit: cover;
      }

      &::after {
        mask-image: url("@/assets/images/shild-mask.svg");
        mask-size: cover;
        object-fit: cover;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background: var(--color-start);
  }
  40% {
    background: var(--color-end);
  }
  80% {
    background: var(--color-start);
  }
  100% {
    background: var(--color-start);
  }
}
