<template>
  <div class="r1-avatar-container">
    <div
      v-if="status !== null"
      class="r1-online-status"
      :class="{ 'r1-online-status-online': status, 'r1-online-status-offline': !status }"
      :style="{ width: onlineStatusSize, height: onlineStatusSize }"
    />

    <div
      class="r1-avatar"
      :class="[props.avatarClass, { 'r1-avatar_skeleton': loading, 'r1-avatar_hover': $attrs?.onClick }]"
      :style="{ width, height }"
    >
      <img
        v-show="!loading"
        :style="{ width, height }"
        :src="srcWithFallback"
        @error="onImageError"
      >
      <div
        v-if="loading"
        :style="{ width, height }"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { v } from '@/config';
const props = defineProps({
  size: {
    type: Number,
    default: 40,
  },
  height: {
    type: Number,
    default: undefined,
  },
  src: {
    type: String,
    default: '',
  },
  loading: {
    type: Boolean,
    default: false,
  },
  status: {
    type: Boolean,
    default: null,
  },
  avatarClass: {
    type: Array,
    default: () => ['r1-rounded'],
  },
});
const imageError = ref(false);

const width = computed(() => v(props.size));
const height = computed(() => v(props.height || props.size));

// eslint-disable-next-line @typescript-eslint/no-var-requires
const srcWithFallback = computed(() => props.src && !imageError.value ? props.src : require('@/assets/images/fallback-avatar.png').default);

watch(() => props.src, () => {
  imageError.value = false;
});

const onImageError = () => {
  imageError.value = true;
};

const onlineStatusSize = computed(() => v(props.size / 3));
</script>

<style lang="scss" src='./Avatar.scss' scoped></style>
