.r1-popover {
  background: radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  border-radius: 0.55vh;
  padding: 0.55vh 1.1vh;
  font-size: 1.1vh;
  line-height: 1.2vh;
  text-align: center;
  text-transform: uppercase;
}