<template>
  <div class="draggable_provider">
    <slot
      :add-container="onAddContainer"
      :remove-container="onRemoveContainer"
      :focused="gridFocus"
      :update-is-move-allowed="updateIsMoveAllowed"
    />
  </div>
</template>

<script lang="ts" setup>
import {
  DraggableContainer, DragOutContainerEvent, DragOverContainerEvent,
  DragStartEvent,
  DragStopEvent,
  DroppableOptions, MirrorMoveEvent,
} from '@shopify/draggable';
import { computed, PropType, ref, watch } from 'vue';
import { useDraggable } from '../../../use/useDraggable';
import { vnum } from '../../../config';
import { throttle } from 'lodash';
import { vh } from '../../../helpers';
import {
  Drag,
  DropItemEvent,
  getIdFromHtmlElement,
  GridFocus, Position, TargetDropItemEvent,
} from '../helpers';
import { useKeyModifier } from '@vueuse/core';


const props = defineProps({
  container: {
    type: (Object || Array) as PropType<DraggableContainer>,
    default: () => [],
  },
  options: {
    type: Object as PropType<DroppableOptions>,
    default: () => ({
      // eslint-disable-next-line vue/valid-define-props
      distance: vh(vnum(10)),
      draggable: '.draggable',
      dropzone: '.droppable',
      classes: {
        mirror: 'mirror',
      },
      mirror: {
        constrainDimensions: true,
      },
    }),
  },
  cellSize: {
    type: Number,
    // eslint-disable-next-line vue/valid-define-props
    default: () => vh(vnum(72)),
  },
});

const isMoveAllowed = ref(true);
const updateIsMoveAllowed = (id: string, value: boolean) => {
  if(id !== drag.value.target.gridId) return; // если на другом гриде фокус, то игнорим
  if(value === isMoveAllowed.value) return;
  isMoveAllowed.value = value;
};

const emit = defineEmits(['drop', 'drop-target', 'not-allowed', 'ctrl:update', 'shift:update']);

const ctrl = useKeyModifier('Control');
watch(ctrl, () => emit('ctrl:update', ctrl.value));
const shift = useKeyModifier('Shift');
watch(shift, () => emit('shift:update', shift.value));

const drag = ref<Drag>({
  sourceContainer: null, // Контейнер из которого тянем
  targetContainer: null, // Контейнер над которым сейчас курсор
  cell: { x: 0, y: 0 }, // Ячейка над которой курсор
  size: { x: 0, y: 0 }, // Размер предмета в "руках"
  target: {
    gridId: '', // ID грида в фокуса
    itemId: '', // Предмет который сейчас под курсором(для стака)
  },
  source: {
    gridId: '', // ID грида с которого тянем
    itemId: '', // Предмет который тянем
  },
});

const clearDrag = () => {
  drag.value.size = { x: 0, y: 0 };
  drag.value.cell = { x: 0, y: 0 };
  drag.value.target = {
    gridId: '',
    itemId: '',
  };
  drag.value.source = {
    gridId: '',
    itemId: '',
  };
  drag.value.sourceContainer = null;
  drag.value.targetContainer = null;
};

const gridFocus = computed<GridFocus>(() => ({
  cursor: drag.value.cell,
  size: drag.value.size,
  id: drag.value.target.gridId,
}));

const { draggable } = useDraggable(props.container, props.options);

const onAddContainer = (...containers: HTMLElement[]) => {
  draggable.addContainer(...containers);
};

const onRemoveContainer = (...containers: HTMLElement[]) => {
  draggable.removeContainer(...containers);
};

const onDragStart = (e: DragStartEvent) => {
  // заполняем сразу инфу о том, что мы взяли в драг и откуда
  drag.value.sourceContainer = e.sourceContainer;
  drag.value.source.itemId = getIdFromHtmlElement(e.source);
  drag.value.source.gridId = getIdFromHtmlElement(e.sourceContainer);
};
draggable.on('drag:start', onDragStart);

const onDragStop = (e: DragStopEvent) => {

  const event: DropItemEvent = {
    sourceGridId: drag.value.source.gridId,
    sourceId: drag.value.source.itemId,

    targetGridId: drag.value.target.gridId,

    cell: drag.value.cell,
  };

  if(drag.value.target.itemId) // если дропнули предмет на какой-то другой предмет
    emit('drop-target', {
      ...event,
      targetId: drag.value.target.itemId,
    } as TargetDropItemEvent);
  else if(isMoveAllowed.value) // если дропнули предмет на свободные ячейки
    emit('drop', event);
  else // если дроп не разрешен в данные ячейки
    emit('not-allowed', event);

  clearDrag();
};
draggable.on('drag:stop', onDragStop);


const onMirrorMove = (e: MirrorMoveEvent) => {
  // получаем id предмета, на который наведены
  const mirrorPath = (e.originalEvent as MouseEvent & { path: HTMLElement[] }).path;
  const overDraggableItem = mirrorPath.find(_ => _.classList?.contains(props.options?.draggable?.replace(/\./g, '') || ''));
  if(overDraggableItem)
    drag.value.target.itemId = getIdFromHtmlElement(overDraggableItem);
  else if(drag.value.target.itemId)
    drag.value.target.itemId = '';


  const mirror = e.mirror.getBoundingClientRect();
  const { x, y } = e.source.dataset;
  const cellSize = props.cellSize;
  const parentRect = drag.value.targetContainer?.getBoundingClientRect();

  const cellXY: Position = { x: 0, y: 0 };

  if(!parentRect) return;

  cellXY.x = mirror.x - parentRect.left + cellSize / 2;
  cellXY.y = mirror.y - parentRect.top + cellSize / 2;

  cellXY.x = Math.ceil(cellXY.x / cellSize) - 1;
  cellXY.y = Math.ceil(cellXY.y / cellSize) - 1;

  if(
    cellXY.x === drag.value.cell.x && cellXY.y === drag.value.cell.y ||
    cellXY.x < 0 && cellXY.y < 0
  ) return;

  drag.value.cell = cellXY;
  drag.value.size = { x: parseInt(x || '-1'), y: parseInt(y || '-1') };
};
const throttledMirrorMove = throttle(onMirrorMove, 15);
draggable.on('mirror:move', throttledMirrorMove);


const onDragOutContainer = (e: DragOutContainerEvent) => {
  // console.info('dragOutContainer', e);
};
draggable.on('drag:out:container', onDragOutContainer);


const onDragOverContainer = (e: DragOverContainerEvent) => {
  const gridId = getIdFromHtmlElement(e.overContainer);
  if(gridId && drag.value.target.gridId !== gridId) drag.value.target.gridId = gridId;
  drag.value.targetContainer = e.overContainer;
};
draggable.on('drag:over:container', onDragOverContainer);
</script>
