<template>
  <div class="destination">
    <div class="destination__icon">
      <IconSvg
        name="location"
        fill="#fff"
        :size="20"
      />
    </div>
    <p class="destination__text">
      {{ destination }}
    </p>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';
const props = defineProps({
  destination: {
    type: String,
    default: ''
  }
});
</script>

<style scoped lang="scss" src="./truck-destination.scss"></style>