.destination {
  display: flex;
  align-items: center;
  gap: v(12);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(40);
    height: v(40);
    background: linear-gradient(173.35deg, #FF5951 -105.07%, #660D05 132.87%);
    border: 1px solid rgba(242, 242, 242, 0.0972192);
    border-radius: 50%;
  }

  &__text {
    margin: 0;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }
}