<template>
  <div class="feed-card">
    <Avatar
      :src="card?.avatarSrc"
      :avatar-class="['r1-romb', 'feed-card__avatar']"
      :size="55"
    />
    <div class="feed-card__wrapper">
      <div class="feed-card__info">
        <h5 class="feed-card__name">
          {{ card?.name }}
        </h5>
        <p class="feed-card__status">
          {{ card?.status }}
        </p>
      </div>
      <picture class="feed-card__equip">
        <img
          :src="card?.equipSrc"
          alt=""
        >
      </picture>
    </div>
  </div>
</template>

<script setup lang="ts">
import { FeedItem } from '@/services/feed';
import { PropType } from 'vue';
import Avatar from '@/components/ui/Avatar/Avatar.vue';

const props = defineProps({
  card: {
    type: Object as PropType<FeedItem>,
    default: () => {{}}
  },
});
</script>

<style scoped src="./feed-card.scss" lang="scss"></style>