.feed-card {
  position: relative;
  padding-top: v(8);
  padding-bottom: v(7);
  font-weight: 700;
  height: v(72);

  &:not(:last-of-type) {
    margin-bottom: v(8);
  }

  &__wrapper {
    background: radial-gradient(1086.53% 1086.53% at 50% 0%, rgba(109, 114, 120, 0.24) 0%, rgba(109, 114, 120, 0.0001) 100%);
    border-radius: v(12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: v(38);
    padding-right: v(5);
  }

  .r1-avatar-container {
    position: absolute;
    top: 50%;
    left: v(-36);
    transform: translateY(-50%);
  }

  &__name {
    margin: 0;
    font-size: v(12);
    line-height: v(15);
  }

  &__status {
    margin: 0;
    font-size: v(10);
    line-height: v(12);
    color: #797979;
  }

  &__equip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: v(89);
    height: v(46);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}