<template>
  <header class="modal-main-header">
    <exit @close="close" />
  </header>
</template>

<script setup lang="ts">
import Exit from './components/Exit/Exit.vue';

const emit = defineEmits(['close']);

const close = () => {
  emit('close');
};
</script>

<style lang="scss" src="./ModalMainHeader.scss" scoped></style>
