<template>
  <div class="filter__item">
    <label class="checkbox checkbox_wide">
      <input
        v-model="model.active"
        type="checkbox"
      >
      <span class="checkbox__checkmark" />
      <span class="checkbox__title">
        {{ model.name }}
        <span
          v-if="value.count !== null"
          class="checkbox__count"
        >
          {{ value.count }}
        </span>
      </span>
    </label>
  </div>
</template>
<script lang="ts" setup>
import { useVModel } from '@vueuse/core';
import { PropType, Ref } from 'vue';
import { GridItemFilter } from '@/components/Inventory/Grid/components/GridFilter/GridFilter.vue';

const props = defineProps({
  value: {
    type: Object as PropType<GridItemFilter>,
    required: true,
  },
});

const model: Ref<GridItemFilter> = useVModel(props, 'value');
</script>
<style lang="scss" src="./GridFilterToggle.scss"></style>
