.filter {
  min-width: v(210);

  &__item {
    user-select: none;
    margin-bottom: v(16);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .checkbox {
    position: relative;
    font-family: Montserrata, sans-serif;
    font-size: v(12);
    font-weight: bold;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;

      &:checked {
        ~ .checkbox__checkmark {
          &::after,
          &::before {
            opacity: 1;
          }
        }
      }
    }

    &__checkmark {
      width: v(18);
      height: v(18);
      border-radius: v(2);
      border: solid v(1) #fff1;
      background-color: #242424;
      margin-right: v(8);
      position: relative;
      overflow: hidden;
      transition: 150ms;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: 150ms;
        opacity: 0;
      }

      &::before {
        background: radial-gradient(209.59% 209.59% at 50% 0%, #d74d45 0%, #530d09 100%);
      }

      &::after {
        background-image: url("./assets/check.svg");
        background-size: v(10) v(7);
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      flex: 1;
      padding-top: v(4);
    }

    &__count {
      margin-left: v(10);
      color: #ababb9;
    }

    &_wide {
      width: 100%;
    }

    &:hover {
      .checkbox {
        &__checkmark {
          border-color: #393944;
        }
      }

      input {
        &:checked {
          ~ .checkbox__checkmark {
            &::before {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}
