<template>
  <div class="poker-page">
    <div class="poker-page__content">
      <div class="poker-page__left">
        <PokerGamer
          :data="gamerFirst"
        />
        <PokerGamer
          :data="gamerThree"
        />
      </div>

      <div class="poker-page__center">
        <div class="poker-page__table table">
          <picture
            v-for="card in table"
            :key="card.id"
            class="table__card"
          >
            <img
              :src="card?.img"
              alt=""
            >
          </picture>
        </div>

        <div class="poker-page__user">
          <PokerGamer
            :data="user"
            is-user
          />
        </div>
      </div>

      <div class="poker-page__right">
        <PokerGamer
          :data="gamerSecond"
          reverse
        />
        <PokerGamer
          :data="gamerFour"
          reverse
        />
      </div>
    </div>
    <Bet
      class="poker-page__bet"
      :default-value="1000"
      btn-text="Сделать ставку"
      @update:default-value="start"
    />
  </div>
</template>

<script lang="ts">
export default {
  layout: 'poker'
};
</script>

<script setup lang="ts">
import Bet from '@/components/casino/Bet/Bet.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed } from '@vue/reactivity';
import { onMounted } from 'vue';
import PokerGamer from '@/components/poker/PokerGamer/PokerGamer.vue';
const { handleError } = useHandleError();

const table = computed(() => storeProxy.poker.table);
const user = computed(() => storeProxy.poker.user);
const gamerFirst = computed(() => storeProxy.poker.gamerFirst);
const gamerSecond = computed(() => storeProxy.poker.gamerSecond);
const gamerThree = computed(() => storeProxy.poker.gamerThree);
const gamerFour = computed(() => storeProxy.poker.gamerFour);

const start = (e: string) => {
  console.log('start val', e);
};

const getData = async() => {
  try {
    await storeProxy.poker.getTableCards();
    await storeProxy.poker.getGamerUser();
    await storeProxy.poker.getGamer('1');
    await storeProxy.poker.getGamer('2');
    await storeProxy.poker.getGamer('3');
    await storeProxy.poker.getGamer('4');
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  getData();
});

</script>

<style scoped lang="scss" src="./poker.scss"></style>