.poker-page {
  height: 100%;

  &__left,
  &__right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: v(150);
  }

  &__bet {
    position: absolute;
    left: 50%;
    bottom: v(32);
    transform: translateX(-50%);
  }

  &__content {
    display: grid;
    grid-template-columns: v(340) 1fr v(340);
    align-items: center;
    padding-left: v(40);
    padding-right: v(40);
    height: 100%;
  }

  &__center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__user {
    padding-right: v(250);
  }

  .table {
    display: flex;
    gap: v(12);
    margin-bottom: v(92);

    &__card {
      display: block;
      width: v(105);
      height: v(140);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}