.history-games {
  margin: 0 auto;

  &__title {
    font-size: v(12);
    line-height: v(15);
    text-align: center;
    text-transform: uppercase;
    color: #797979;
  }

  &__grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v(8);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(44);
    height: v(44);
    border-radius: 50%;
    font-weight: 700;
    font-size: v(16);
    line-height: v(20);

    &_red {
      background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
    }

    &_black {
      background: radial-gradient(100% 100% at 50% 0%, #4F4F4F 0%, #171717 100%);
    }
  }
}