<template>
  <div class="history-games">
    <h2 class="history-games__title">
      История игр
    </h2>
    <div class="history-games__grid">
      <div
        v-for="item in history"
        :key="item?.id"
        :class="['history-games__item', `history-games__item_${item?.color}`]"
      >
        {{ item?.value }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { HistoryItem } from '@/services/roulette';
import { PropType } from 'vue';

const props = defineProps({
  history: {
    type: Array as PropType<HistoryItem[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./history-games.scss"></style>