<template>
  <div class="controlling">
    <div class="controlling-item">
      <div class="controlling-item__label">
        ПКМ
      </div>
      <p class="controlling-item__text">
        Использовать
      </p>
    </div>
    <div class="controlling-item">
      <div class="controlling-item__label">
        ЛКМ
      </div>
      <p class="controlling-item__text">
        Перенести
      </p>
    </div>
    <div class="controlling-item">
      <div class="controlling-item__label">
        Exit
      </div>
      <p class="controlling-item__text">
        Назад
      </p>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss" src="./inventory-controlling.scss"></style>