.controlling {
  display: flex;
  align-items: center;
  gap: v(32);
  margin-top: auto;
}

.controlling-item {
  display: flex;
  align-items: center;
  font-size: v(14);
  line-height: v(17);

  &__label {
    margin-right: v(8);
    padding: v(7) v(10);
    background: radial-gradient(100% 100% at 50% 0%, #373737 0%, #131313 100%);
    border: 1px solid #656565;
    box-shadow: inset 0 0 16px 0.5px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 600;
  }
}