<template>
  <div class="r1-search">
    <n-input
      v-model:value="queryValue"
      class="r1-input"
      size="large"
      placeholder="поиск…"
      @update-value="updateSearchValueHandler"
      @keyup.enter="$emit('submit')"
    >
      <template #suffix>
        <icon-svg
          class="n-input-suffix-icon"
          name="loupe"
          stroke="#797979"
          :stroke-width="2"
          fill="transparent"
          :size="18"
        />
      </template>
    </n-input>
    <n-select
      v-if="isTypesOn"
      v-model:value="typeValue"
      :to="props.to"
      class="r1-select"
      :options="props.types"
      @update-value="updateTypeValueHandler"
    />
  </div>
</template>

<script lang="ts" setup>
import IconSvg from '@/components/ui/IconSvg.vue';
import { PropType, ref } from 'vue';
import { SelectBaseOption } from 'naive-ui/lib/select/src/interface';
import { useVModel } from '@vueuse/core';

type Options = {
  label: string,
  value: string,
};

const props = defineProps({
  query: {
    type: String,
    required: true,
  },
  type: {
    type: [String, Number, null] as PropType<string | number | null>,
    default: () => null,
  },
  types: {
    type: Array as PropType<Array<Options>>,
    default: () => undefined,
  },
  to: {
    type: String,
    default: () => undefined,
  },
});

const emit = defineEmits(['update:typeValue', 'update:query', 'submit']);

const isTypesOn = ref(props.types !== undefined);
const typeValue = ref(props.type);
const queryValue = useVModel(props, 'query');

const updateTypeValueHandler = (value: string | number | null, option: SelectBaseOption | null) => {
  typeValue.value = value;
  emit('update:typeValue', option);
};

const updateSearchValueHandler = (value: string) => {
  emit('update:query', value);
};
</script>

<style lang="scss" src="./RSearch.scss" scoped></style>
