.r1-search {
  display: flex;
  gap: v(10);
  font-weight: bold;
  text-transform: uppercase;

  .r1-input {
    :deep(.n-input__input-el) {
      font-weight: bold;
    }
  }


  .r1-select {
    width: v(300);

    :deep(.n-base-loading),
    :deep(.n-base-suffix) {
      right: v(10);
    }
  }
}
