<template>
  <prison-modal
    namespace="default-layout"
    to="#r1-modal-container"
    :fields="data"
    #="{ showSub }"
    @confirm="confirmChange"
  >
    <div class="prison-modal">
      <avatar
        :src="prisonInfo?.judgeAvatar"
        :size="140"
        :avatar-class="['r1-romb-large']"
        class="prison-modal__avatar"
      />
      <h5 class="prison-modal__name">
        {{ prisonInfo?.name }}
      </h5>
      <div class="prison-modal__free">
        <p>Освобождение через</p>
        <div
          v-if="prisonInfo?.timer"
          class="prison-modal__timer"
        >
          <countdown
            :time="prisonInfo?.timer * 1000"
            format="mm : ss"
          />
        </div>

        <btn
          preset="cancel"
          size="large"
          @click="showSub"
        >
          Увеличить срок
        </btn>
      </div>

      <div class="prison-modal__list">
        <div class="list-item">
          <p class="list-item__name">
            Статья
          </p>
          <p class="list-item__text">
            {{ prisonInfo?.article }}
          </p>
        </div>
        <div class="list-item">
          <p class="list-item__name">
            Арестовал
          </p>
          <p class="list-item__text">
            <avatar
              :src="prisonInfo?.judgeAvatar"
              :size="28"
            />
            <span>
              {{ prisonInfo?.judgeName }}
            </span>
          </p>
        </div>
        <div class="list-item">
          <p class="list-item__name">
            Сумма залога
          </p>
          <p class="list-item__text">
            <icon-png
              name="dollar"
              :size="16"
            />
            {{ prisonInfo?.deposit }}
          </p>
        </div>
      </div>
      <btn
        preset="confirm"
        size="large"
        @click="release"
      >
        Освободить под залог
      </btn>
    </div>
  </prison-modal>
</template>

<script setup lang="ts">
import PrisonModal from '@/components/pages/prisonModal/PrisonModal.vue';
import { storeProxy } from '@/store';
import { computed, onMounted, reactive } from 'vue';
import Countdown from 'vue3-countdown';
import Btn from '@/components/ui/Button/Button.vue';
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import IconPng from '@/components/ui/IconPng.vue';

const prisonInfo = computed(() => storeProxy.prisonModal.prisonInfo);

const getData = async () => {
  try {
    await storeProxy.prisonModal.getPrisonInfo();
  } catch (e) {
    console.log(e);
  }
};

onMounted(() => {
  getData();
});

const data = reactive({
  hours: '12',
  minutes: '21',
  reason: 'Плохо себя вёл'
});

const release = () => {
  console.log('Освободить');
};

const confirmChange = () => {
  console.log('Подтвердить новый срок');
};
</script>

<style scoped lang="scss" src="./prison.scss"></style>