.prison-modal {
  padding: v(82) v(24) v(34);

  button {
    width: 100%;
  }

  &__avatar {
    display: flex;
    justify-content: center;
    margin: 0 auto v(36);
  }

  &__name {
    text-align: center;
    font-size: v(24);
    line-height: v(29);
    margin-bottom: v(22);
  }

  &__free {
    text-align: center;

    p {
      margin: 0;
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      color: #9B9B9B;
    }
  }

  &__timer {
    font-weight: 700;
    font-size: v(24);
    line-height: v(29);
    margin-bottom: v(14);
  }

  &__list {
    padding-top: v(27);
    padding-bottom: v(25);
  }


  .list-item {
    &:not(:last-of-type) {
      margin-bottom: v(32);
    }

    &__avatar {
      margin-right: v(10);
    }

    &__name {
      margin-top: 0;
      margin-bottom: v(8);
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
      text-transform: uppercase;
      color: #797979;
    }

    &__text {
      display: flex;
      align-items: center;
      margin: 0;
      font-weight: 700;
      font-size: v(16);
      line-height: v(20);

      span {
         margin-left: v(10);
       }
    }
  }
}