@import "../index";

.grid-cell {
  height: 100%;
  width: 100%;
  min-height: v($h);
  min-width: v($w);
  border: v(1) solid #1b1b1b;
  border-radius: v(12);
  position: relative;
  background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #181818 0%, #0e0e0e 100%);

  & .mirror {
    opacity: 1;
  }

  &.draggable__allowed {
    background-color: #393944;
    opacity: 0.35;
  }

  &.draggable__blocked {
    background-color: #e34d45;
    opacity: 0.35;
  }

  &_wearing {
    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_quick {
    position: relative;

    &-num {

    }

    &-name {

    }
  }
}

