<template>
  <div
    :key="cell.index"
    class="droppable grid-cell"
    :class="computedClass"
    :data-index="cell.index"
  >
    <IconSvg
      v-if="props.itemType"
      :name="props.itemType"
      fill="#262626"
      :size="iconSize(props.itemType)"
      class="item__icon"
    />
    <slot name="num" />
    <slot name="item" />
    <slot name="name" />
  </div>
</template>
<script lang="ts" setup>
import IconSvg from '@/components/ui/IconSvg.vue';
import { computed, PropType } from 'vue';
import { CellType } from '@/components/Inventory/helpers';

const props = defineProps({
  cell: {
    type: Object as PropType<CellType>,
    required: true,
  },
  isDropAllowed: {
    type: Boolean,
    required: true,
  },
  itemType: {
    type: String as PropType<'hat' | 'eyes' | 'wrist1' | 'wrist2' | 'neck' | 'ears' | 'outerwear' | 'tshirt' | 'pants' | 'mask' | 'footwear' | 'gloves'>,
    default: null
  }
});

const computedClass = computed(() => {
  if(props.cell.occupied) return null;
  if(props.cell.isFocused && props.isDropAllowed) return 'draggable__allowed';
  if(props.cell.isFocused && !props.isDropAllowed) return 'draggable__blocked';
  if(props.itemType) return 'grid-cell_wearing';
  return null;
});

const iconSize = (name: string) => {
  switch (name) {
  case 'hat':
    return 36;
    break;
  case 'eyes':
    return 42;
    break;
  case 'neck':
    return 42;
    break;
  case 'tshirt':
    return 42;
    break;
  case 'gloves':
    return 42;
    break;
  case 'wrist1':
    return 40;
    break;
  case 'pants':
    return 28;
    break;
  case 'footwear':
    return 50;
    break;

  default:
    return 36;
    break;
  }
};
</script>
<style lang="scss" scoped src="./Cell.scss"></style>
