@import "../index.scss";

.inventory {
  &__item {
    width: v($w);
    height: v($h);
    border: solid v(1) #464652;
    border-radius: v(12);
    background-image: radial-gradient(circle at 50% 0, #2d2d35, #1f1f25 89%);
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: v(-1);
    left: v(-1);
    z-index: 5;

    &-icon-no-width {
      max-width: 90%;
      max-height: 90%;
      width: auto;
      height: auto;
    }

    &-quantity {
      position: absolute;
      bottom: v(2);
      right: v(4);
      font-family: Montserrat;
      font-size: v(12);
      font-weight: bold;
      color: #ababb9;
    }

    &::after {
      border-radius: v(12);
      content: "";
      position: absolute;
      top: v(-1);
      right: v(-2);
      bottom: v(-2);
      left: v(-1);
      border: solid v(3) #7b7b90;
      opacity: 0;
      pointer-events: none;
      transition: 50ms;
    }

    &.inventory__item-quick:not(:hover) {
      z-index: 6;

      &::after {
        opacity: 1;
        border: v(2) solid #e03333;
      }
    }

    &.mirror {
      z-index: 9999;
    }

    &:hover:not(.inventory__item-exchange) {
      z-index: 6;

      &::after {
        border-radius: v(12);
        opacity: 1;
      }
    }

    &:hover.inventory__item-exchange {
      cursor: not-allowed;
    }

    &-exchange {
      &::before {
        content: "🔒";
        text-align: right;
        position: absolute;
        padding: v(5);
        box-sizing: border-box;
        color: rgba(255, 255, 255, 50%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 50%);
      }
    }

    &-activated {
      &::before {
        content: "🔥";
        text-align: right;
        position: absolute;
        padding: v(5);
        box-sizing: border-box;
        color: rgb(127, 198, 96);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 20%);
      }
    }

    &_width {
      &_2 {
        //width: v(147);
        $n: 2;

        width: v($w * $n + $g * ($n - 1));
      }

      &_3 {
        //width: v(220);
        $n: 3;

        width: v($w * $n + $g * ($n - 1));
      }

      &_4 {
        //width: v(293);
        $n: 4;

        width: v($w * $n + $g * ($n - 1));
      }

      &_5 {
        //width: v(369);
        $n: 5;

        width: v($w * $n + $g * ($n - 1));
      }

      &_6 {
        //width: v(443);
        $n: 6;

        width: v($w * $n + $g * ($n - 1));
      }

      &_7 {
        $n: 7;

        width: v($w * $n + $g * ($n - 1));
      }

      &_8 {
        $n: 8;

        width: v($w * $n + $g * ($n - 1));
      }
    }

    &_height {
      &_2 {
        //height: v(147);
        $n: 2;

        height: v($h * $n + $g * ($n - 1));
      }

      &_3 {
        //height: v(220);
        $n: 3;

        height: v($h * $n + $g * ($n - 1));
      }

      &_4 {
        //height: v(293);
        $n: 4;

        height: v($h * $n + $g * ($n - 1));
      }

      &_5 {
        //width: v(369);
        $n: 5;

        height: v($h * $n + $g * ($n - 1));
      }

      &_6 {
        //width: v(443);
        $n: 6;

        height: v($h * $n + $g * ($n - 1));
      }

      &_7 {
        //width: v(517);
        $n: 7;

        height: v($h * $n + $g * ($n - 1));
      }

      &_8 {
        $n: 8;

        height: v($h * $n + $g * ($n - 1));
      }
    }

    &_grey {
      border-color: #464652;
      background: radial-gradient(circle at 50% 0, #2d2d35, #1f1f25 89%);

      &::after {
        border-radius: v(12);
        border-color: #7b7b90;
      }
    }

    &_blue {
      border-color: #4795cf;
      background: radial-gradient(circle at 50% 0, #4897d1, #093353 89%);

      &::after {
        border-radius: v(12);
        border-color: #4795cf;
      }
    }

    &_navy-blue {
      border-color: #544def;
      background: radial-gradient(circle at 50% 19%, #5742d0, #1a0953 85%);

      &::after {
        border-radius: v(12);
        border-color: #544def;
      }
    }

    &_purple {
      border-color: #8638ba;
      background: radial-gradient(circle at 50% 0, #9342d0, #480953 89%);

      &::after {
        border-radius: v(12);
        border-color: #8638ba;
      }
    }

    &_red {
      border-color: #e34d45;
      background: radial-gradient(circle at 50% 0, #d74d45, #530d09 102%);

      &::after {
        border-radius: v(12);
        border-color: #e34d45;
      }
    }

    &_broken {
      border-color: transparent;
      background: rgba(227, 77, 69, 30%);

      &::after {
        border-radius: v(12);
        border-color: rgba(227, 77, 69, 30%);
      }
    }

    &_row {
      &_1 {
        top: 0;
      }

      &_2 {
        top: v($h);
      }

      &_3 {
        top: v(2 * $h);
      }

      &_4 {
        top: v(3 * $h);
      }

      &_5 {
        top: v(4 * $h);
      }

      &_6 {
        top: v(5 * $h);
      }

      &_7 {
        top: v(6 * $h);
      }

      &_8 {
        top: v(7 * $h);
      }

      &_9 {
        top: v(8 * $h);
      }

      &_10 {
        top: v(9 * $h);
      }

      &_11 {
        top: v(10 * $h);
      }

      &_12 {
        top: v(11 * $h);
      }

      &_13 {
        top: v(12 * $h);
      }

      &_14 {
        top: v(13 * $h);
      }

      &_15 {
        top: v(14 * $h);
      }

      &_16 {
        top: v(15 * $h);
      }

      &_17 {
        top: v(16 * $h);
      }

      &_18 {
        top: v(17 * $h);
      }

      &_19 {
        top: v(18 * $h);
      }

      &_20 {
        top: v(19 * $h);
      }
    }

    &_column {
      &_1 {
        left: 0;
      }

      &_2 {
        left: v($w);
      }

      &_3 {
        left: v(2 * $w);
      }

      &_4 {
        left: v(3 * $w);
      }

      &_5 {
        left: v(4 * $w);
      }

      &_6 {
        left: v(5 * $w);
      }

      &_7 {
        left: v(6 * $w);
      }

      &_8 {
        left: v(7 * $w);
      }
    }
  }
}
