<template>
  <div
    :data-x="item.item.x"
    :data-y="item.item.y"
    :data-id="item.id || item.idString"
    class="draggable inventory__item item"
    :class="[widthClass, heightClass, rarityClass, typeClass]"
    @mouseenter="onMouseEnter"
    @mouseleave="onMouseLeave"
    @mousemove="onMouseMove"
    @mousedown.right="onMouseDownRight"
  >
    <simple-loader :loading="item.loading" />
    <img
      :src="item.item.icon"
      class="inventory__item-icon inventory__item-icon-no-width item"
    >
    <div
      v-if="item.item.canStack"
      class="inventory__item-quantity item"
    >
      {{ item.count ? item.count : "" }}
    </div>
  </div>
</template>
<script lang="ts" setup>
import { computed, inject, PropType } from "vue";
import { InventoryItemRarityEnum } from "@gta5/gtanetsdk";
import {
  ItemInteractInjection,
  itemInteractProvideKey
} from "@/components/Inventory/helpers";
import SimpleLoader from "@/components/ui/SimpleLoader/SimpleLoader.vue";
import { InventoryItem } from "@/services/inventory";

const rarityClassEnum: Record<InventoryItemRarityEnum, string> = {
  [InventoryItemRarityEnum.navyBlue]: "inventory__item_navy-blue",
  [InventoryItemRarityEnum.blue]: "inventory__item_blue",
  [InventoryItemRarityEnum.red]: "inventory__item_red",
  [InventoryItemRarityEnum.purple]: "inventory__item_purple",
  [InventoryItemRarityEnum.broken]: "inventory__item_broken",
  [InventoryItemRarityEnum.grey]: "inventory__item_grey"
};

const props = defineProps({
  item: {
    type: Object as PropType<InventoryItem>,
    required: true
  },
});

const widthClass = computed(() =>
  props.item.item.x > 1
    ? ["inventory__item_width_", props.item.item.x].join("")
    : ""
);
const heightClass = computed(() =>
  props.item.item.y > 1
    ? ["inventory__item_height_", props.item.item.y].join("")
    : ""
);
const rarityClass = computed(
  () => rarityClassEnum[props.item.item.rarity] || ""
);

const itemInteractProvider = inject<ItemInteractInjection | null>(
  itemInteractProvideKey,
  null
);
if (!itemInteractProvider) {
  console.warn("please provide Item-interact-provider to interact with Item");
}

const onMouseEnter = (e: MouseEvent) => {
  itemInteractProvider?.onMouseEnter(e, props.item as InventoryItem);
};
const onMouseLeave = (e: MouseEvent) => {
  itemInteractProvider?.onMouseLeave(e, props.item as InventoryItem);
};
const onMouseMove = (e: MouseEvent) => {
  itemInteractProvider?.onMouseMove(e, props.item as InventoryItem);
};
const onMouseDownRight = (e: MouseEvent) => {
  itemInteractProvider?.onMouseDownRight(e, props.item as InventoryItem);
};
</script>
<style lang="scss" scoped src="./Item.scss"></style>
