<template>
  <div class="radar-page">
    <Plates
      :front-number="numbers.frontNumber"
      :rear-number="numbers.rearNumber"
    />
    <footer class="radar-page__footer">
      <Radars
        :front="radarData?.front"
        :front-max="radarData?.frontMax"
        :rear="radarData?.rear"
        :rear-max="radarData?.rearMax"
      />
      <RadarControlling />
    </footer>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'racing',
};
</script>

<script setup lang="ts">
import Plates from '@/components/radar/plates/Plates.vue';
import Radars from '@/components/radar/radars/Radars.vue';
import RadarControlling from '@/components/radar/controlling/RadarControlling.vue';
import { computed } from 'vue';

const numbers = computed(() => {
  return {
    frontNumber: 'JKKODHFU',
    rearNumber: 'JKKODHFU'
  };
});

const radarData = computed(() => {
  return {
    front: {
      speed: '69',
      car: 'Toyota Supra'
    },
    frontMax: {
      speed: '124',
      car: 'Lada Vesta'
    },
    rear: {
      speed: '69',
      car: 'Toyota Supra'
    },
    rearMax: {
      speed: '124',
      car: 'Lada Vesta'
    },
  };
});
</script>

<style scoped lang="scss" src="./radar.scss"></style>