.radars {
  margin-bottom: v(20);
  padding: v(17) v(30) v(20) v(22);
  background: radial-gradient(523.03% 523.03% at 50.39% 50%, rgba(24, 24, 24, 0.7) 0%, rgba(14, 14, 14, 0.7) 100%);
  border-radius: v(24);
  width: v(487);

  .row {
    display: grid;
    grid-template-columns: 1fr v(163) v(163);
    align-items: center;
    gap: 0 v(16);

    &:nth-of-type(2) {
      margin-bottom: v(13);
    }
  }
}

.radar-head {
  margin-bottom: v(6);
  font-weight: 700;
  font-size: v(10);
  line-height: v(12);
  text-align: center;
  text-transform: uppercase;
  color: #797979;
}

.radar-antenna {
  font-weight: 700;
  font-size: v(12);
  line-height: v(15);
  text-transform: uppercase;
}

.radar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: v(15);
  gap: v(6);
  border: 1px solid #1B1B1B;
  border-radius: v(12);
  width: 100%;
  height: v(62);

  &__speed {
    margin: 0;
    font-family: 'a_LCDNova';
    font-weight: 400;
    font-size: v(24);
    line-height: v(18);
    text-align: center;
  }

  &__car {
    font-weight: 700;
    font-size: v(10);
    line-height: v(12);
    text-align: center;
  }

  &_current {
    background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #1D2819 0%, #030303 100%);

    .radar__speed {
      color: #80FF54;
    }
  }

  &_max {
    background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #4D2725 0%, #000000 100%);

    .radar__speed {
      color: #FF3C32;
    }
  }
}