<template>
  <div class="radars">
    <div class="row">
      <div class="col" />
      <div class="col radar-head">
        Только что проехал
      </div>
      <div class="col radar-head">
        Макс. скорость
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="radar-antenna">
          Передняя антенна
        </div>
      </div>
      <div class="col">
        <div class="radar radar_current">
          <h2 class="radar__speed">
            {{ front?.speed }} км/ч
          </h2>
          <span class="radar__car">
            {{ front?.car }}
          </span>
        </div>
      </div>
      <div class="col">
        <div class="radar radar_max">
          <h2 class="radar__speed">
            {{ frontMax?.speed }} км/ч
          </h2>
          <span class="radar__car">
            {{ frontMax?.car }}
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="radar-antenna">
          Задняя антенна
        </div>
      </div>
      <div class="col">
        <div class="radar radar_current">
          <h2 class="radar__speed">
            {{ rear?.speed }} км/ч
          </h2>
          <span class="radar__car">
            {{ rear?.car }}
          </span>
        </div>
      </div>
      <div class="col">
        <div class="radar radar_max">
          <h2 class="radar__speed">
            {{ rearMax?.speed }} км/ч
          </h2>
          <span class="radar__car">
            {{ rearMax?.car }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';


interface Radar {
  speed: string;
  car: string
}

const props = defineProps({
  front: {
    type: Object as PropType<Radar>,
    default: () => {{}}
  },
  rear: {
    type: Object as PropType<Radar>,
    default: () => {{}}
  },
  frontMax: {
    type: Object as PropType<Radar>,
    default: () => {{}}
  },
  rearMax: {
    type: Object as PropType<Radar>,
    default: () => {{}}
  },
});
</script>

<style scoped lang="scss" src="./radars.scss"></style>