.buffs-page {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  padding-bottom: v(150);

  &__list {
    display: flex;
    align-items: center;
    gap: v(12);
  }
}