<template>
  <div class="buffs-page">
    <div class="buffs-page__list">
      <Buff
        v-for="item in buffList"
        :key="item.id"
        :data="item"
      />
    </div>
    <quick-access />
  </div>
</template>

<script lang="ts">
export default {
  layout: 'racing',
};
</script>

<script setup lang="ts">
import QuickAccess from '@/components/QuickAccess/QuickAccess.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted } from 'vue';
import Buff from '@/components/buffs/buff/Buff.vue';
const { handleError } = useHandleError();
const buffList = computed(() => storeProxy.buffs.buffs);
const getData = async() => {
  try {
    await storeProxy.buffs.getBuffsList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});
</script>

<style scoped lang="scss" src="./buffs.scss"></style>