<template>
  <div class="pluses">
    <h2 class="pluses__title">
      Плюсы
      <br>
      Priority pass
    </h2>

    <div class="pluses__list">
      <div
        v-for="(item, index) in plusesList"
        :key="index"
        class="pluses-item"
      >
        <div class="pluses-item__icon">
          <icon-svg
            :name="item?.iconName"
            :size="20"
          />
        </div>
        <div class="pluses-item__text">
          <h5 class="pluses-item__title">
            {{ item?.title }}
          </h5>
          <p class="pluses-item__description">
            {{ item?.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import IconSvg from '@/components/ui/IconSvg.vue';

interface PlusItem {
  iconName: string;
  title: string;
  description: string;
}

const props = defineProps({
  plusesList: {
    type: Array as PropType<PlusItem[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./casino-pluses.scss"></style>