.pluses {
  max-width: v(278);

  &__title {
    margin-bottom: v(20);
    font-weight: 700;
    font-size: v(20);
    line-height: v(24);
    text-transform: uppercase;
  }
}

.pluses-item {
  display: flex;
  gap: v(12);

  &:not(:last-of-type) {
    margin-bottom: v(32);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(40);
    height: v(40);
    border-radius: 50%;
    background-color: #E34D45;
  }

  &__text {
    flex: 1;
  }

  &__title {
    margin-top: 0;
    margin-bottom: v(2);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
  }

  &__description {
    margin: 0;
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    color: #9B9B9B;
  }
}