<template>
  <n-button
    class="r1-btn"
    :class="settings.cls"
    :text="settings.isText"
    :primary="settings.primary"
    :quarternary="settings.isQuarternary"
    :disabled="props.disabled"
  >
    <slot name="icon">
      <icon-svg
        v-if="settings.iconName"
        :name="settings.iconName"
        :size="settings.iconSize"
        :stroke="settings.iconStroke"
        :fill="settings.iconFill"
      />
    </slot>
    <slot>
      {{ settings.text }}
    </slot>
  </n-button>
</template>

<script lang="ts" setup>
import { PropType, computed } from 'vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  preset: {
    type: String as PropType<'exit' | 'exit-quarternary' | 'prev' | 'next' | 'prev-romb' | 'next-romb' | 'ok' | 'opt' | 'try' | 'confirm' | 'cancel' | 'reset' | 'reset-circle' | 'add' | 'trash' | 'more' | 'minus' | 'plus' | 'question-romb' | 'get-all' | 'confirm-price' | 'call' | 'back'>,
    default: null,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});

const settings = computed(() => {
  switch (props.preset) {
  case 'exit':
    return {
      cls: 'r1-btn-exit',
      isText: true,
      iconName: 'close',
      iconSize: 25,
    };
  case 'exit-quarternary':
    return {
      isText: true,
      iconName: 'close-lined',
      iconSize: 18,
      isQuarternary: true,
    };
  case 'back':
    return {
      cls: 'r1-btn-back',
      isText: true,
      iconStroke: '#494949',
      iconName: 'chevron-left',
      iconSize: 14
    };
  case 'prev':
    return {
      cls: 'r1-btn-prev',
      isText: false,
      iconName: 'arrow-left',
      iconSize: 18,
    };
  case 'next':
    return {
      cls: 'r1-btn-next',
      isText: false,
      iconName: 'arrow-left',
      iconSize: 18,
    };
  case 'prev-romb':
    return {
      cls: 'r1-btn-prev-romb',
      isText: false,
      iconName: 'chevron-left',
      iconStroke: '#797979',
      iconSize: 8,
    };
  case 'next-romb':
    return {
      cls: 'r1-btn-next-romb',
      isText: false,
      iconName: 'chevron-left',
      iconStroke: '#797979',
      iconSize: 8,
    };
  case 'opt':
    return {
      cls: 'r1-btn-opt',
      isText: false,
    };
  case 'try':
    return {
      cls: 'r1-btn-try',
      isText: false,
    };
  case 'ok':
    return {
      cls: 'r1-btn-ok',
      isText: false,
      text: 'Применить',
    };
  case 'reset':
    return {
      cls: 'r1-btn-reset',
      isText: false,
      text: 'Сброс',
      iconName: 'redo',
      iconSize: 17,
    };
  case 'reset-circle':
    return {
      cls: 'r1-btn-reset-circle',
      isText: true,
      iconName: 'close-lined',
      iconSize: 12,
    };
  case 'cancel':
    return {
      cls: 'r1-btn-cancel',
      isText: false,
      text: 'Отметить',
    };
  case 'confirm':
    return {
      cls: 'r1-btn-confirm',
      isText: false,
      text: 'Применить',
    };
  case 'add':
    return {
      cls: 'r1-btn-add',
      isText: false,
      text: 'Создать номер',
      primary: true,
    };
  case 'trash':
    return {
      cls: 'r1-btn-trash',
      isText: false,
      iconName: 'trashcan',
      iconSize: 20,
    };
  case 'more':
    return {
      cls: 'r1-btn-more',
      isText: false,
      iconName: 'more',
      iconSize: 23,
      iconFill: '#9b9b9b',
    };
  case 'plus':
    return {
      cls: 'r1-btn-plus',
      isTest: false,
      iconName: 'plus',
      iconSize: 12,
    };
  case 'minus':
    return {
      cls: 'r1-btn-minus',
      isTest: false,
      iconName: 'minus',
      iconSize: 12,
    };
  case 'question-romb':
    return {
      cls: 'r1-btn-question-romb',
      isText: false,
      iconName: 'question',
      iconStroke: '#797979',
      iconSize: 8,
    };
  case 'get-all':
    return {
      cls: 'r1-btn-get-all',
      isText: false,
      text: 'Забрать всё',
    };
  case 'call':
    return {
      cls: 'r1-btn-call',
      iconName: 'phone',
      iconStroke: '#fff',
      iconSize: 14,
      isText: false,
    };
  default:
    return {};
  }
});
</script>

<style lang="scss" scoped src="./Button.scss"></style>
