.r1-btn {
  :deep(.n-button__content) {
    display: flex;
    gap: v(10);
    justify-content: center;
    align-items: center;
  }

  &.r1-btn-exit {
    background-color: #181818;
    border-radius: v(5);
    border-color: none;
    box-shadow: v(2) v(3) #000;
    transform: skewX(10deg);
    padding: v(5) v(30);
    right: v(-5);

    :deep(.n-button__content) {
      transform: skewX(-10deg);
    }
  }

  &.r1-btn-prev,
  &.r1-btn-next,
  &.r1-btn-minus,
  &.r1-btn-plus {
    transform: skewX(-10deg);

    :deep(.n-button__content) {
      transform: skewX(10deg);
    }
  }

  &.r1-btn-next {
    .r1-icon-svg {
      transform: rotate(180deg);
    }
  }

  &.r1-btn-minus,
  &.r1-btn-plus {
    :deep() {
      .n-button__border,
      .n-button__state-border {
        --n-border: #{v(1)} solid #4a4a4a;
      }
    }
  }

  &.r1-btn-prev-romb,
  &.r1-btn-next-romb,
  &.r1-btn-question-romb {
    transform: rotate(45deg);
    width: v(30);
    height: v(30);
    background: rgba(23, 23, 23, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.r1-btn-prev-romb,
  &.r1-btn-question-romb {
    :deep(.r1-icon-svg) {
      transform: rotate(-45deg);
    }
  }

  &.r1-btn-next-romb {
    .r1-icon-svg {
      transform: rotate(135deg);
    }
  }

  &.r1-btn-reset-circle {
    padding: v(4);
    border-radius: 50%; // circle (n-button property) is not working for some reason
    background-image: linear-gradient(173.35deg, #ff5951 -105.07%, #660d05 132.87%);

    :deep(.n-button__content) {
      svg,
      path {
        fill: white;
        stroke: white;
      }
    }
  }

  &.r1-btn-opt,
  &.r1-btn-ok,
  &.r1-btn-reset,
  &.r1-btn-try,
  &.r1-btn-cancel,
  &.r1-btn-confirm,
  &.r1-btn-add,
  &.r1-btn-trash {
    text-transform: uppercase;
    font-weight: bold;
    transform: skewX(-15deg);

    :deep(.n-button__content) {
      transform: skewX(15deg);
    }
  }

  &.r1-btn-opt,
  &.r1-btn-ok,
  &.r1-btn-reset,
  &.r1-btn-try {
    padding: v(25) v(20);
    font-size: v(14);
  }

  &.r1-btn-cancel,
  &.r1-btn-confirm {
    padding: v(5) v(30);
    font-size: v(12);
  }

  &.r1-btn-trash {
    padding: v(5) v(20);
    font-size: v(12);
    background-image: radial-gradient(718.51% 379.88% at 94.57% -143.8%, #545454 0%, #191919 100%);
    box-shadow: v(2) v(4) #101010;
  }

  &.r1-btn-add {
    padding: v(20) v(30);
    font-size: v(12);
    background-image: linear-gradient(#d74d45, #530d09 100%);
    box-shadow: v(2) v(4) #460400;

    &:hover:not(.n-button--disabled) {
      background-image: linear-gradient(#d74d45 15%, #530d09 150%);
    }
  }

  &.r1-btn-opt {
    background-image: radial-gradient(circle at 50% 0, #5742d0, #1a0953);
    box-shadow: v(2) v(4) #1b0a56;

    &:hover:not(.n-button--disabled) {
      background-image: radial-gradient(circle at 50% 0, #5742d0 50%, #1a0953);
    }
  }

  &.r1-btn-try {
    padding: v(25);
    background-image: radial-gradient(circle at 50% -50%, #545454, #191919);
    box-shadow: v(2) v(4) #101010;

    &:hover:not(.n-button--disabled) {
      background-image: radial-gradient(circle at 50% -30%, #545454, #191919);
    }
  }

  &.r1-btn-ok {
    padding: v(25) v(50);
    background-image: linear-gradient(#ff5951, #660d05);
    box-shadow: v(2) v(4) #4d0802;

    &:hover:not(.n-button--disabled) {
      background-image: linear-gradient(#ff5951 15%, #660d05);
    }
  }

  &.r1-btn-reset {
    background-color: #171717;
  }

  &.r1-btn-cancel {
    background-image: radial-gradient(circle at 50% -150%, #545454, #191919);
    box-shadow: v(1) v(2) #101010;

    &:hover:not(.n-button--disabled) {
      background-image: radial-gradient(circle at 50% -100%, #545454, #191919);
    }
  }

  &.r1-btn-confirm {
    background-image: radial-gradient(circle at 50% -100%, #d74d45, #530d09);
    box-shadow: v(1) v(2) #460400;

    &:hover:not(.n-button--disabled) {
      background-image: radial-gradient(circle at 50% -50%, #d74d45, #530d09);
    }
  }

  &.r1-btn-get-all {
    font-size: v(12);
    line-height: v(15);
    color: #fff;
    border-radius: v(8);
    background: linear-gradient(176.32deg, #FF5951 -43.96%, #660D05 140.81%);
    text-transform: uppercase;
  }

  &.r1-btn-call {
    width: v(32);
    height: v(32);
    border-radius: 50%;
    background: linear-gradient(180deg, #0DAF36 0%, #008F24 100%);
  }

  &.r1-btn-back {
    color: #494949;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }
}
