.casino-page {
  display: grid;
  grid-template-columns: v(278) 1fr v(280);
  padding-top: v(220);
  height: 100%;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &_chips {
    padding-top: v(136);

    .casino-page__left {
      padding-top: v(85);
    }

    .casino-page__right {
      padding-top: v(105);
    }
  }
}