<template>
  <div class="casino-page">
    <CasinoPluses :pluses-list="data?.pluses" />
    <CasinoRates
      :rates="data.rates"
      @buy="buyRate"
    />
    <FeedGamers :list="feed" />
    <CasinoInfoPanel>
      <template #top>
        <h5 class="title">
          Осталось пропусков
        </h5>
        <div class="value">
          <IconSvg
            name="pass"
            :size="20"
          />
          <span>{{ data.pass }}</span>
        </div>
      </template>
      <template #bottom>
        <h5 class="title">
          Выдано на сумму
        </h5>
        <div class="value">
          <IconPng
            name="dollar"
            :size="22"
          />
          <span>{{ data.cash }}</span>
        </div>
      </template>
    </CasinoInfoPanel>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'casino'
};
</script>

<script setup lang="ts">
import { computed, onMounted, reactive } from 'vue';
import CasinoPluses from '@/components/casino/Pluses/CasinoPluses.vue';
import CasinoRates, { RateItem } from '@/components/casino/Rates/CasinoRates.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import FeedGamers from '@/components/casino/FeedGamers/FeedGamers.vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
const { handleError } = useHandleError();

const data = reactive({
  pluses: [
    {
      iconName: 'bar',
      title: 'Бесконечный бар',
      description: 'Алкогольные напитки и не только в любом количестве'
    },
    {
      iconName: 'squares',
      title: 'Доступ в VIP зоны',
      description: 'Играйте и отдыхайте в особых VIP зонах казино'
    },
    {
      iconName: 'charts',
      title: 'Повышенные ставки',
      description: 'Выше ставки - выше выигрыши и выше азарт'
    },
    {
      iconName: 'gift',
      title: 'Бесплатные фишки',
      description: 'Получайте 5 или более фишек каждый день'
    },
  ],
  rates: [
    {
      name: 'Standart',
      subtitle: 'Опробуйте все возможности',
      description: [
        {
          iconName: 'cup',
          text: 'Членство на 3 дня'
        },
        {
          iconName: 'gift',
          text: 'Каждый день 5 фишек'
        },
      ],
      price: '67 899',
      color: 'bronze'
    },
    {
      name: 'Medium',
      subtitle: 'Для опытных игроков',
      description: [
        {
          iconName: 'cup',
          text: 'Членство на 7 дней'
        },
        {
          iconName: 'gift',
          text: 'Каждый день 10 фишек'
        },
        {
          iconName: 'squares',
          text: 'Зеленая зона'
        },
      ],
      price: '67 899',
      color: 'silver'
    },
    {
      name: 'Professional',
      subtitle: 'Для профессионалов игры',
      description: [
        {
          iconName: 'cup',
          text: 'Членство на 3 дня'
        },
        {
          iconName: 'gift',
          text: 'Каждый день 5 фишек'
        },
        {
          iconName: 'squares',
          text: 'Зеленая и красная зона'
        },
      ],
      price: '67 899',
      color: 'gold'
    },
  ],
  pass: '32',
  cash: '10 000'
});

const feed = computed(() => storeProxy.feed.feedList);

const getData = async() => {
  try {
    await storeProxy.feed.getFeedList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

const buyRate = (rate: RateItem) => {
  console.log('buy', rate);
};
</script>

<style scoped lang="scss" src="./casino.scss"></style>