<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
      :mask-closable="false"
    >
      <div class="r1-modal">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <slot
          :show-sub="showSubMod"
        />
        <prison-sub-modal
          v-if="isMounted"
          v-model:fields="localFields"
          to="#r1-submodal-container"
          :show="data.showSubModal"
          @close="data.showSubModal = false"
          @confirm="emit('confirm')"
        />
        <div id="r1-submodal-container" />
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { PropType, reactive, ref, watchEffect } from 'vue';
import Btn from '@/components/ui/Button/Button.vue';
import PrisonSubModal from './components/PrisonSubModal/PrisonSubModal.vue';
import { useMounted, useVModel } from '@vueuse/core';
import { PrisonAddFields } from '@/services/prisonModal';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  fields: {
    type: Object as PropType<PrisonAddFields>,
    required: true,
  },
});
const emit = defineEmits(['close', 'confirm']);

const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  show.value = false;
};

const data = reactive({
  showSubModal: false
});

const showSubMod = () => {
  data.showSubModal = true;
};

const isMounted = useMounted();
const localFields = useVModel(props, 'fields');
</script>

<style scoped lang="scss" src="./prison-modal.scss"></style>