.r1-modal {
  min-height: v(727);
  max-height: 90vh;
  width: v(500);
  position: fixed;
  left: 15%;
  background-image:
    radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }
}