<template>
  <div class="quick-access">
    <grid
      id="quickAccessGrid"
      :items="quickAccessGrid.items"
      :limit="quickAccessGrid.limit"
      :columns="5"
      :loading="loading"
      is-quick
    />
  </div>
</template>

<script setup lang="ts">
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, ref } from 'vue';
import Grid from '@/components/Inventory/Grid/Grid.vue';
const { handleError } = useHandleError();

const grid = ref<HTMLElement>();
const loading = ref(true);
const emit = defineEmits(['mounted']);

const getData = async () => {
  try {
    await storeProxy.inventory.getItems();
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  getData().finally(() => loading.value = false);
});

const quickAccessGrid = computed(() => storeProxy.inventory.quickAccessGrid);
</script>

<style scoped lang="scss" src="./quick-access.scss"></style>