@import "../index";

.grid {
  display: grid;
  gap: v($g);

  &_wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  &_header {
    width: 100%;
    margin-bottom: v(20);
  }

  &_cols--quick {
    grid-template-columns: repeat(5, v($w));
    gap: v(21);

    .quick-cell-num {
      position: absolute;
      left: v(-3);
      top: v(-3);
      display: flex;
      z-index: 10;
      justify-content: center;
      align-items: center;
      width: v(22);
      height: v(22);
      background: radial-gradient(100% 100% at 50% 0%, #373737 0%, #131313 100%);
      border: 1px solid #656565;
      box-shadow: inset 0 0 16px 0.5px rgba(0, 0, 0, 0.24);
      border-radius: v(4);
      font-weight: 700;
      font-size: v(12);
      line-height: v(15);
    }

    .quick-cell-name {
      position: absolute;
      top: calc(100% + 0.55556vh);
      left: 50%;
      font-weight: 700;
      font-size: v(10);
      line-height: v(12);
      text-align: center;
      text-transform: uppercase;
      transform: translateX(-50%);
    }
  }

  &_cols-5 {
    grid-template-columns: repeat(5, v($w));
  }

  &_cols-6 {
    grid-template-columns: repeat(6, v($w));
  }

  &_cols-7 {
    grid-template-columns: repeat(7, v($w));
  }

  &_cols-8 {
    grid-template-columns: repeat(8, v($w));
  }

  &_cols-9 {
    grid-template-columns: repeat(9, v($w));
  }
}
