<template>
  <keep-alive :include="['cell']">
    <div class="grid_wrapper">
      <div
        v-if="!isOnce && $slots.header"
        class="grid_header"
      >
        <slot
          name="header"
          :on-update-filter="onUpdateFilter"
          :grid-items="items"
        />
      </div>
      <n-scrollbar
        v-if="!isOnce && !isQuick"
        :style="{ maxHeight }"
      >
        <list-loader v-if="loading" />
        <div
          :id="id"
          ref="grid"
          class="grid"
          :data-id="id"
          :class="computedClass"
        >
          <template
            v-for="cell in cells"
            :key="cell.index"
          >
            <cell
              :cell="cell"
              :is-drop-allowed="isMoveAllowed"
              :is-quick="isQuick"
            >
              <template
                v-if="cell.item"
                #item
              >
                <item
                  :item="cell.item"
                />
              </template>
            </cell>
          </template>
        </div>
      </n-scrollbar>

      <div v-else>
        <list-loader v-if="loading" />
        <div
          :id="id"
          ref="grid"
          class="grid"
          :data-id="id"
          :class="computedClass"
        >
          <template
            v-for="cell in cells"
            :key="cell.index"
          >
            <cell
              :cell="cell"
              :is-drop-allowed="isMoveAllowed"
              :item-type="gridType"
            >
              <template
                v-if="isQuick"
                #num
              >
                <span class="quick-cell-num">
                  {{ cell.index + 1 }}
                </span>
              </template>

              <template
                v-if="cell.item"
                #item
              >
                <item
                  :item="cell.item"
                />
              </template>

              <template
                v-if="isQuick"
                #name
              >
                <span class="quick-cell-name">
                  {{ cell.item?.item.name }}
                </span>
              </template>
            </cell>
          </template>
        </div>
      </div>
    </div>
  </keep-alive>
</template>
<script lang="ts" setup>
import { computed, onMounted, onUnmounted, PropType, ref, watch } from "vue";
import Cell from "@/components/Inventory/Cell/Cell.vue";
import Item from "@/components/Inventory/Item/Item.vue";
import { InventoryItem } from "@gta5/gtanetsdk";
import {
  CellType,
  getAvailableCells,
  GridFocus,
  Position,
  xyIndex
} from "@/components/Inventory/helpers";
import { GridItemFilter } from "@/components/Inventory/Grid/components/GridFilter/GridFilter.vue";
import ListLoader from "@/components/ui/ListLoader/ListLoader.vue";

const cells = ref<CellType[]>([]);

const grid = ref<HTMLElement>();

const props = defineProps({
  id: {
    type: String,
    required: true
  },
  items: {
    type: Array as PropType<InventoryItem[]>,
    default: () => []
  },
  limit: {
    type: Number,
    required: true
  },
  columns: {
    type: Number,
    default: 6
  },
  focusedCells: {
    type: (Object || null) as PropType<GridFocus | null>,
    default: null
  },
  maxHeight: {
    type: String,
    default: "100%"
  },
  loading: {
    type: Boolean,
    default: false
  },
  gridType: {
    type: String as PropType<'hat' | 'eyes' | 'wrist1' | 'wrist2' | 'neck' | 'ears' | 'outerwear' | 'tshirt' | 'pants' | 'mask' | 'footwear' | 'gloves' | 'backpack'>,
    default: null
  },
  isOnce: {
    type: Boolean,
    default: false
  },
  isQuick: {
    type: Boolean,
    default: false
  }
});

// const cellsVisibility = ref<Record<number, boolean>>({});
// let initializedObserver = false;
// const observer = new IntersectionObserver((entries: IntersectionObserverEntry[]) => {
//   entries.forEach((entry: IntersectionObserverEntry) => {
//     if(entry.isIntersecting) {
//       const index = (entry.target as HTMLElement).dataset.index || '-1';
//       cellsVisibility.value[parseInt(index)] = true;
//     }
//   });
// }, {
//   root: document.querySelector(`.grid[data-id="${props.id}"]`),
//   threshold: 0.5,
// });
//
// const initializeGridObserver = () => {
//   observer.disconnect();
//   const cells = [...document.querySelectorAll(`.grid[data-id="${props.id}"] .grid-cell`)];
//   if(initializedObserver || !cells.length) return;
//   cells.forEach(cell => observer.observe(cell));
//   initializedObserver = true;
//   console.log('initializeGridObserver', cells);
// };

const emit = defineEmits(["mounted", "destroyed", "moveAllowed"]);
const computedClass = computed(() => {
  if(props.isQuick) return 'grid_cols--quick';
  return `grid_cols-${props.columns}`;
});

const activeFilters = ref<GridItemFilter[]>([]);
const isActiveFilters = computed(() => !!activeFilters.value.length);
const onUpdateFilter = (filters: GridItemFilter[]) => {
  activeFilters.value = filters.filter(_ => _.active);
};

const items = computed<InventoryItem[]>(() => props.items);

const filteredItems = computed<InventoryItem[]>(() => {
  if (!activeFilters.value.length) return items.value;
  return items.value.filter(item => {
    return activeFilters.value.some(_ => _.filter(item));
  });
});

/* FOCUS CELLS */
const getCellByPosition = (cellXY: Position): CellType | undefined => {
  return cells.value.find(cell => cell.x === cellXY.x && cell.y === cellXY.y);
};

const getCellsUnderFocus = (cursor: Position, size: Position): CellType[] => {
  return xyIndex({ x: size.x, y: size.y })
    .map(position =>
      getCellByPosition({ x: position.x + cursor.x, y: position.y + cursor.y })
    )
    .filter(cell => !!cell) as CellType[];
};

const focusedCells = ref<CellType[]>([]);
watch(
  () => props.focusedCells,
  () => {
    if (props.focusedCells?.id !== props.id && focusedCells.value.length)
      return focusedCells.value.forEach(
        cell => cell.isFocused && (cell.isFocused = false)
      );

    if (
      !props.focusedCells ||
      props.focusedCells.size.x === 0 ||
      props.focusedCells.size.y === 0 ||
      props.focusedCells?.id !== props.id
    )
      return;

    const targetCells = getCellsUnderFocus(
      props.focusedCells.cursor,
      props.focusedCells.size
    );
    focusedCells.value.forEach(
      cell => cell.isFocused && (cell.isFocused = false)
    );
    targetCells.map(cell => (cell.isFocused = true));
    focusedCells.value = targetCells;
  },
  { deep: true }
);

const isMoveAllowed = computed<boolean>(() => {
  if (props.focusedCells?.id !== props.id) return true;
  if (!props.focusedCells || focusedCells.value.length === 0) return false;
  const allowedCells = focusedCells.value.filter(cell => !cell?.occupied);
  if (
    allowedCells.length !==
    props.focusedCells.size.x * props.focusedCells.size.y
  )
    return false;
  return true;
});

watch(isMoveAllowed, (newVal: boolean) => {
  emit("moveAllowed", newVal);
});

/* FOCUS CELLS END */

/* FILL CELLS */

const collapseItem = (item: InventoryItem): void => {
  const _cells = getAvailableCells(
    { x: item.item.x, y: item.item.y },
    cells.value,
    props.columns
  );
  attachCells(item, _cells);
};

const placeItem = (item: InventoryItem): void => {
  const _cells = item.index.map(index => cells.value[index]);
  attachCells(item, _cells);
};

const removeItem = (item: InventoryItem): void => {
  const _cells = cells.value.filter(_ => item.index.includes(_.index));
  _cells.forEach(cell => {
    cell.occupied = false;
    cell.item = null;
  });
};

const attachCells = (item: InventoryItem, cells: CellType[]): void => {
  if (cells.length === 0) return;
  cells[0].item = item;
  cells.map(cell => (cell ? (cell.occupied = true) : 0));
};

const fillCells = (_limit: number, _columns: number): CellType[] => {
  const limit = _limit + (_columns - (_limit % _columns));
  return [...new Array(limit)].map((el, index) => {
    const row = Math.floor(index / _columns);
    const col = row === 0 ? index : Math.floor(index % _columns);
    return {
      index,
      occupied: false,
      x: col,
      y: row,
      item: null,
      state: null,
      isFocused: false
    };
  });
};

const setupGrid = (items: InventoryItem[]) => {
  cells.value = fillCells(props.limit, props.columns);
  items.forEach(item => {
    isActiveFilters.value
      ? collapseItem(item)
      : item.index.length === 0
        ? collapseItem(item)
        : placeItem(item);
  });
};

/* FILL CELLS END */
watch(
  filteredItems,
  value => {
    setupGrid(value);
  },
  { deep: true }
); /* FILL CELLS END */

onMounted(() => {
  setupGrid(filteredItems.value);
  emit("mounted", grid.value);
});

onUnmounted(() => {
  emit("destroyed", grid.value);
});
</script>
<style lang="scss" scoped src="./Grid.scss"></style>
