<template>
  <div class="slots-page">
    <div class="slots-page__right">
      <Combinations
        :combinations-x2="combinationsX2"
        :combinations-x3="combinationsX3"
      />
      <CasinoInfoPanel>
        <template #top>
          <h2 class="title">
            Сегодня игр
          </h2>
          <div class="value">
            <icon-svg
              name="slot-machine"
              :size="23"
            />
            <span>{{ data.games }}</span>
          </div>
        </template>
        <template #bottom>
          <h5 class="title">
            Выигрышей  на сумму
          </h5>
          <div class="value">
            <icon-png
              name="dollar"
              :size="22"
            />
            <span>{{ data.cash }}</span>
          </div>
        </template>
      </CasinoInfoPanel>
    </div>
    <Bet
      class="slots-page__bet"
      :default-value="1000"
      btn-text="Крутить"
      @update:default-value="start"
    />
  </div>
</template>

<script lang="ts">
export default {
  layout: 'slots'
};
</script>

<script setup lang="ts">import { computed, onMounted, reactive } from 'vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import Combinations from '@/components/slots/Combinations/Combinations.vue';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import Bet from '@/components/casino/Bet/Bet.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
const { handleError } = useHandleError();

const data = reactive({
  games: '167',
  cash: '100 546',
});

const combinationsX2 = computed(() => storeProxy.slots.combinationsX2);
const combinationsX3 = computed(() => storeProxy.slots.combinationsX3);

const getData = async () => {
  try {
    await storeProxy.slots.getCombinationsX2();
    await storeProxy.slots.getCombinationsX3();
  } catch (err) {
    handleError(err);
  }
};

onMounted(() => {
  getData();
});

const start = (e: string) => {
  console.log('start val', e);
};
</script>

<style scoped lang="scss" src="./slots.scss"></style>