.slots-page {
  display: flex;

  &__right {
    margin-left: auto;
    padding-top: v(189);
    width: v(240);
  }

  &__bet {
    position: absolute;
    left: 50%;
    bottom: v(32);
    transform: translateX(-50%);
  }
}