<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="fair-play-modal">
        <btn
          class="fair-play-modal__back"
          preset="back"
          @click="close"
        >
          Назад
        </btn>
        <btn
          class="fair-play-modal__exit"
          preset="exit-quarternary"
          @click="close"
        />
        <h1 class="fair-play-modal__title">
          Проверка честности
        </h1>
        <picture class="fair-play-modal__picture"><img
          :src="qrCodeSrc"
          alt=""
        ></picture>
        <p class="fair-play-modal__description">
          Для проверки игры отсканируйте QR код и убедитесь в нашей честности через random.org
        </p>
        <p class="fair-play-modal__note">
          <span>*</span> Откроется веб сайт с деталями игры
        </p>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { ref, watchEffect } from 'vue';
import Btn from '../ui/Button/Button.vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  qrCodeSrc: {
    type: String,
    default: '',
  }
});
const emit = defineEmits(['close']);

const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  show.value = false;
};
</script>

<style scoped lang="scss" src="./fair-play-modal.scss"></style>