.fair-play-modal {
  position: relative;
  padding-top: v(52);
  height: v(663);
  width: v(600);
  background: url("~@/assets/images/fire.png"), radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-repeat: no-repeat no-repeat;
  background-position: 55% 100%, 0 0;
  background-size: 120% 60%, cover;
  border-radius: v(24);
  text-align: center;
  overflow: hidden;

  &__exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__back {
    position: absolute;
    top: v(35);
    left: v(32);
  }

  &__title {
    margin-top: 0;
    margin-bottom: v(73);
    font-size: v(28);
    line-height: v(34);
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto v(45);
    width: v(200);
    height: v(200);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    margin: 0 auto v(24);
    max-width: v(385);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }

  &__note {
    margin: 0;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    color: #9B9B9B;

    span {
      color: #E34D45;
    }
  }
}