<template>
  <div class="home">
    <div class="home-tmp-wrap">
      <ol>
        <li>
          <router-link to="/inventory/main/">
            Инвентарь
          </router-link>
        </li>
        <li>
          <router-link to="/inventory/around/">
            Инвентарь (поблизости)
          </router-link>
        </li>
        <li>
          <router-link to="/inventory/exchange/">
            Инвентарь (обмен)
          </router-link>
        </li>
        <li>
          <router-link to="/racingmodal/transport/">
            Модалка транспорт
          </router-link>
        </li>
        <li>
          <router-link to="/racing/">
            Гонка
          </router-link>
        </li>

        <li>
          <router-link to="/prison/">
            Карта заключенного
          </router-link>
        </li>

        <li>
          <router-link to="/fishing/modal/">
            Модалка рыба
          </router-link>
        </li>

        <li>
          <router-link to="/fishing/sell/">
            Продать рыбу
          </router-link>
        </li>

        <li>
          <router-link to="/radiostations/">
            Радиостанции
          </router-link>
        </li>
        <li>
          <router-link to="/animations/">
            Анимации
          </router-link>
        </li>
        <li>
          <router-link to="/ads/">
            Объявления и бегущая строка
          </router-link>
        </li>
        <li>
          <router-link to="/buffs/">
            Бафы и дебафы
          </router-link>
        </li>
        <li>
          <router-link to="/truckdriver/">
            Дальнобойщик
          </router-link>
        </li>
        <li>
          <router-link to="/radar/">
            Радар
          </router-link>
        </li>
        <li>
          <router-link to="/casino/">
            Казино
          </router-link>
        </li>
        <li>
          <router-link to="/casino/chips/buy/">
            Казино покупка фишек
          </router-link>
        </li>
        <li>
          <router-link to="/casino/chips/sell/">
            Казино продажа фишек
          </router-link>
        </li>
        <li>
          <router-link to="/casino/chips/free/">
            Казино бесплатные фишки
          </router-link>
        </li>
        <li>
          <router-link to="/roulette/">
            Рулетка
          </router-link>
        </li>
        <li>
          <router-link to="/wheel/">
            Колесо
          </router-link>
        </li>
        <li>
          <router-link to="/fairplay/">
            Честная игра
          </router-link>
        </li>
        <li>
          <router-link to="/blackjack/">
            Black jack
          </router-link>
        </li>
        <li>
          <router-link to="/sellitems/">
            Продажа предметов
          </router-link>
        </li>
        <li>
          <router-link to="/poker/">
            Покер
          </router-link>
        </li>
        <li>
          <router-link :to="{ path: '/warmaps/', query: { type: 'map' } }">
            Карты
          </router-link>
        </li>
        <li>
          <router-link to="/slots/">
            Автоматы
          </router-link>
        </li>
      </ol>
    </div>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
}

.home-tmp-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  a {
    font-size: v(18);
    margin-bottom: v(8);
    text-transform: uppercase;
    font-weight: 700;
  }
}
</style>
