.bj-user {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-weight: 700;

  &__name {
    margin-top: v(13);
    margin-bottom: v(2);
    font-size: v(14);
    line-height: v(17);
  }

  &__points {
    font-size: v(32);
    line-height: v(39);
  }
}