<template>
  <div class="bj-user">
    <avatar
      :src="avatarSrc"
      :avatar-class="['r1-romb', 'feed-card__avatar']"
      :size="55"
    />
    <div class="bj-user__name">
      {{ name }}
    </div>
    <div
      class="bj-user__points"
      :style="{ color: status === 'win' ? '#7ED321' : '#fff' }"
    >
      {{ points }}
    </div>
  </div>
</template>

<script setup lang="ts">
import Avatar from '@/components/ui/Avatar/Avatar.vue';

const props = defineProps({
  avatarSrc: {
    type: String,
    default: ''
  },
  name: {
    type: String,
    default: ''
  },
  points: {
    type: String,
    default: ''
  },
  status: {
    type: String,
    default: ''
  }
});
</script>

<style scoped lang="scss" src="./black-jack-user.scss"></style>