<template>
  <div class="combinations">
    <h2 class="combinations__title">
      Комбинации
    </h2>

    <combi-list :list="combinationsX2" />

    <combi-list :list="combinationsX3" />

    <div class="combinations__footer">
      <div class="sevens">
        <div class="seven">
          <icon-svg
            name="seven"
            :size="16"
          />
        </div>
        <div class="seven">
          <icon-svg
            name="seven"
            :size="16"
          />
        </div>
        <div class="seven">
          <icon-svg
            name="seven"
            :size="16"
          />
        </div>
      </div>
      <div class="title">
        <img
          src="@/assets/images/jackpot.svg"
          alt=""
        >
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';
import { PropType } from 'vue';
import CombiList from './components/CombiList/CombiList.vue';
import ICombinationItem from '@/services/slots';

const props = defineProps({
  combinationsX2: {
    type: Array as PropType<ICombinationItem[]>,
    default: () => []
  },
  combinationsX3: {
    type: Array as PropType<ICombinationItem[]>,
    default: () => []
  },
});
</script>

<style scoped lang="scss" src="./combinations.scss"></style>