.combinations {
  &__title {
    margin-top: 0;
    margin-bottom: v(2);
    text-align: right;
    font-size: v(20);
    line-height: v(24);
    text-transform: uppercase;
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: v(6);

    .sevens {
      display: flex;
      align-items: center;
      padding-top: v(11);
      gap: v(6);

      .seven {
        display: flex;
        align-items: center;
        justify-content: center;
        height: v(42);
        width: v(29);
        background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
        border-radius: v(5);
      }
    }

    .title {
      width: v(184);
      height: v(89);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}