.fish-sell {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: v(52) 0 v(31);
  max-height: 90vh;
  width: v(762);
  min-height: v(593);
  background-image:
          radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 v(24);
  }

  &__title {
    margin-bottom: 0;
    margin-right: v(25);
    font-size: v(28);
    line-height: v(34);
  }

  &__filter {
    width: v(238);
  }

  &__content {
    flex: 1;
  }

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v(12);
    padding: v(20) v(24) 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: v(40);
    padding-right: v(24);
    padding-top: v(23);

    .n-button {
      height: v(52);
      width: v(340);
    }

    .total {
      p {
        display: flex;
        align-items: center;
        margin: 0;
        &:first-of-type {
          font-weight: 700;
          font-size: v(12);
          line-height: v(15);
          text-transform: uppercase;
          opacity: 0.5;
        }

        &:last-of-type {
          font-weight: 700;
          font-size: v(24);
          line-height: v(29);
        }
      }
    }
  }
}