<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="fish-sell">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <header class="fish-sell__header">
          <h2 class="fish-sell__title">
            Рыба
          </h2>

          <div class="fish-sell__filter">
            <n-select
              v-model:value="filterValue"
              to="#fish-filter-container"
              :options="filter"
              placeholder="Вид рыбы"
              @update-value="handlerFilter"
            />
          </div>
        </header>
        <div class="fish-sell__content">
          <n-scrollbar style="max-height: 363px">
            <div class="fish-sell__grid">
              <fish-card
                v-for="(fish,index) in fishesList"
                :key="index"
                :card="fish"
                @select="getSelected"
              />
            </div>
          </n-scrollbar>
        </div>
        <footer class="fish-sell__footer">
          <div class="total">
            <p>Общий доход:</p>
            <p><icon-png name="dollar" /> {{ data.total }}</p>
          </div>
          <btn
            preset="confirm"
            size="medium"
            @click="release"
          >
            Продать
          </btn>
        </footer>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import Btn from '@/components/ui/Button/Button';
import FishCard from '@/components/pages/fishSell/components/FishCard/FishCard';
import IconPng from '@/components/ui/IconPng';
import { PropType, reactive, ref, watchEffect } from 'vue';
import { FishesCard, FishesTypes } from '@/services/fishing';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  filter: {
    type: Array as PropType<FishesTypes[]>,
    default: () => []
  },
  fishesList: {
    type: Array as PropType<FishesCard[]>,
    default: () => []
  }
});

const emit = defineEmits(['close', 'releaseFish', 'getFish', 'filterValue']);

const show = ref(true);
const filterValue = ref(null);
const data = reactive({
  selectedFishes: [],
  total: 0
});

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  emit('close');
};

const handlerFilter = (val: string) => {
  emit('filterValue', val);
};

const release = () => {
  if(data.selectedFishes.length) {
    emit('releaseFish', data.selectedFishes);
  } else {
    console.log('blank');
  }
};

const getSelected = (fish: any) => {
  const notSelected = data.selectedFishes.some(val => fish.card.id === val.card.id);

  if(fish.isActive) {
    if(!notSelected) {
      data.selectedFishes.push(fish);
      data.total += parseInt(String(fish.card.price).replace(/ /g, ''));
    }
  }

  if(!fish.isActive) {
    data.selectedFishes = data.selectedFishes.filter(val => fish.card.id !== val.card.id);
    data.total -= parseInt(String(fish.card.price).replace(/ /g, ''));
  }
};

</script>

<style scoped lang="scss" src="./fish-sell.scss"></style>