.roulette-timer {
  font-weight: 700;
  font-style: italic;
  font-size: v(48);
  line-height: v(59);
  color: #FEEB4A;
  text-align: center;

  &__title {
    margin: 0;
    font-style: normal;
    font-size: v(12);
    line-height: v(15);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}