<template>
  <div class="roulette-timer">
    <h5 class="roulette-timer__title">
      До начала
    </h5>
    <n-countdown
      :render="renderCountdown"
      :duration="60000 * duration"
      :active="start"
    />
  </div>
</template>

<script setup lang="ts">
import { CountdownProps } from 'naive-ui';
import { h } from 'vue';

const props = defineProps({
  start: {
    type: Boolean,
    default: false
  },
  duration: {
    type: Number,
    default: 10
  }
});

const renderCountdown: CountdownProps['render'] = ({
  minutes,
  seconds
}) => {
  return [
    h(
      'strong',
      [String(minutes).padStart(2, '0')]
    ),
    ' : ',
    h(
      'strong',
      [String(seconds).padStart(2, '0')]
    )
  ];
};
</script>

<style scoped lang="scss" src="./roulette-timer.scss"></style>