.fish-card {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: v(33) v(12) v(16);
  width: 100%;
  height: v(270);
  background: radial-gradient(91.47% 91.47% at 48.8% 51.83%, #181818 0%, #0E0E0E 100%);
  border: 1px solid #1B1B1B;
  border-radius: v(12);
  cursor: pointer;

  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: v(27);
    width: v(154);
    height: v(81);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: v(3);
    font-size: v(16);
    line-height: v(20);
    text-align: center;
  }

  &__type {
    margin: 0;
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
  }


  &__values {
    margin-top: auto;
    width: 100%;
  }

  &__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: v(17);
    }

    span {
      font-weight: 700;
      font-size: v(12);
      line-height: v(15);

      &:first-of-type {
        text-transform: uppercase;
        color: #797979;
      }
    }
  }

  &__blur {
    position: absolute;
    display: block;
    left: v(87);
    top: v(50);
    width: v(56);
    height: v(56);
    filter: blur(v(70));
  }

  &__check {
    position: absolute;
    right: v(-8);
    top: v(-8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(32);
    height: v(32);
    border-radius: 50%;
    background-color: #E34D45;
  }

  &_active {
    border: 2px solid #E34D45;
  }
}