<template>
  <div
    v-if="card"
    :class="active ? 'fish-card fish-card_active' : 'fish-card'"
    @click="handlerClick"
  >
    <span
      v-if="active"
      class="fish-card__check"
    >
      <icon-svg
        name="check"
        :size="12"
      />
    </span>
    <span
      class="fish-card__blur"
      :style="{ background: typeColor(card.type) }"
    />
    <picture class="fish-card__picture">
      <img
        :src="card?.img"
        :alt="card?.name"
      >
    </picture>
    <h5 class="fish-card__name">
      {{ card?.name }}
    </h5>
    <p
      class="fish-card__type"
      :style="{ color: typeColor(card.type) }"
    >
      {{ card?.typeName }}
    </p>
    <div class="fish-card__values">
      <div class="fish-card__value">
        <span>Цена за 1 кг:</span>
        <span>
          <icon-png
            name="dollar"
            :size="12"
          />
          {{ card?.price }}
        </span>
      </div>
      <div class="fish-card__value">
        <span>Вес:</span>
        <span>
          {{ card?.weight }}
        </span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType, ref } from 'vue';
import { FishesCard } from '@/services/fishing';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  card: {
    type: Object as PropType<FishesCard>,
    default: () => {{}},
  }
});
const active = ref(false);
const emit = defineEmits(['select']);

const typeColor = (type: string) => {
  switch (type) {
  case 'common':
    return '#2757FF';
    break;
  case 'medium':
    return '#7ED321';
    break;
  case 'rare':
    return '#FFAC0B';
    break;
  default:
    return '';
  }
};

const handlerClick = () => {
  active.value = !active.value;
  emit('select', { card: props.card, isActive: active.value });
};

</script>

<style scoped lang="scss" src="./fish-card.scss"></style>