<template>
  <n-popover
    trigger="hover"
    placement="top-start"
    :show-arrow="false"
  >
    <template #trigger>
      <div
        class="buff"
        :style="{ borderColor: computedColor }"
      >
        <img
          :src="data?.img"
          :alt="data?.name"
        >
      </div>
    </template>

    <div class="buff-popover">
      <div
        class="buff"
        :style="{ borderColor: computedColor }"
      >
        <img
          :src="data?.img"
          :alt="data?.name"
        >
      </div>
      <div class="buff-popover__description">
        <h5 class="buff-popover__title">
          {{ data?.name }}
        </h5>
        <p class="buff-popover__text">
          {{ data?.description }}
        </p>
      </div>
    </div>
  </n-popover>
</template>

<script setup lang="ts">
import { BuffItem } from '@/services/buffs';
import { computed, PropType } from 'vue';

const props = defineProps({
  data: {
    type: Object as PropType<BuffItem>,
    default: () => {{}}
  }
});

const computedColor = computed(() => {
  if(props.data.type === 'buff') return '#95C902';
  if(props.data.type === 'debuff') return '#9B1C1C';
  return '';
});
</script>

<style scoped lang="scss" src="./buff.scss"></style>