.buff {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: v(5) v(5) v(7);
  width: v(42);
  height: v(42);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.buff-popover {
  padding: v(16) 0;
  display: flex;

  &__description {
    padding-left: v(12);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
  }

  &__text {
    margin: 0;
    max-width: v(200);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    color: #9B9B9B;
  }
}