<template>
  <div class="feed-card">
    <Avatar
      :src="card?.avatarSrc"
      :avatar-class="['r1-romb', 'feed-card__avatar']"
      :size="55"
    />
    <div class="feed-card__wrapper">
      <div class="feed-card__info">
        <h5 class="feed-card__name">
          {{ card?.name }}
        </h5>
        <p class="feed-card__price">
          <icon-png
            name="dollar"
            :size="17"
          />
          <span>
            {{ card?.cash }}
          </span>
        </p>
      </div>
      <div :class="['feed-card__bet', `feed-card__bet_${card?.betColor}`]">
        {{ card?.bet }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import IconPng from '@/components/ui/IconPng.vue';
import { BetGamerItem } from '@/services/bets';

const props = defineProps({
  card: {
    type: Object as PropType<BetGamerItem>,
    default: () => {{}}
  },
});
</script>

<style scoped src="./bets-card.scss" lang="scss"></style>