.feed-card {
  position: relative;
  padding-top: v(8);
  padding-bottom: v(7);
  font-weight: 700;
  height: v(72);

  &:not(:last-of-type) {
    margin-bottom: v(8);
  }

  &__wrapper {
    background: radial-gradient(1086.53% 1086.53% at 50% 0%, rgba(109, 114, 120, 0.24) 0%, rgba(109, 114, 120, 0.0001) 100%);
    border-radius: v(12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: v(38);
    padding-right: v(14);
  }

  .r1-avatar-container {
    position: absolute;
    top: 50%;
    left: v(-36);
    transform: translateY(-50%);
  }

  &__name {
    margin: 0;
    font-size: v(12);
    line-height: v(15);
    text-align: center;
  }

  &__price {
    display: flex;
    align-items: center;
    margin: 0;

    span {
      padding-top: v(2);
      font-size: v(14);
      line-height: v(17);
    }
  }

  &__equip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: v(89);
    height: v(46);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__bet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: v(38);
    width: v(38);
    border-radius: 50%;
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);

    &_red {
      background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
    }

    &_black {
      background: radial-gradient(100% 100% at 50% 0%, #4F4F4F 0%, #171717 100%);
    }
  }
}