<template>
  <radio-modal
    namespace="default-layout"
    to="#r1-modal-container"
    class="radio-stations"
    title="Радиостанции"
  >
    <n-scrollbar style="max-height: 339px">
      <radio-list
        :list="radioStations"
        @submit="submit"
      />
    </n-scrollbar>
  </radio-modal>

  <radio-modal
    namespace="default-layout"
    to="#r1-modal-container"
    class="radio-run-line"
    title="Бегущая строка"
  >
    <radio-ads
      :price="32"
      type="run-line"
      @publish="publishAds"
    />
  </radio-modal>

  <radio-modal
    namespace="default-layout"
    to="#r1-modal-container"
    class="radio-ads"
    title="Объявление"
  >
    <radio-ads
      :price="150"
      type="ads"
      @publish="publishAds"
    />
  </radio-modal>
</template>

<script lang="ts" setup>
import RadioModal from '@/components/radioStations/radioModal/RadioModal';
import { storeProxy } from '@/store';
import { computed, onMounted } from 'vue';
import RadioList from '@/components/radioStations/radioModal/components/radioList/RadioList.vue';
import { RadioStation } from '@/services/radio';
import RadioAds from '@/components/radioStations/radioModal/components/radioAds/radioAds.vue';

export interface AdsData {
  type: string
  text: string
  total: number
}

const getData = async() => {
  try {
    await storeProxy.radio.getRadioStations();
  } catch (e) {
    console.log(e);
  }
};

onMounted(() => {
  getData();
});
const radioStations = computed(() => storeProxy.radio.stations);

const submit = (station: RadioStation) => {
  console.log('submit radio', station);
};

const publishAds = (data: AdsData) => {
  if(data.type === 'ads') {
    console.log('publish ads', data);
  } else {
    console.log('publish run-line', data);
  }
};
</script>

<style scoped lang="scss" src="./radio-stations.scss"></style>