@import "../../inventory";

.r1-context-menu {
  position: fixed;
  z-index: 50;
  user-select: none;
  height: auto;
  width: v(354);
  border-radius: v(24);
  border: solid v(1) #1b1b1b;
  background-color: #1a1a1a;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: #fff;
  padding: v(10) v(27) v(26);
  pointer-events: all;
  overflow: hidden;
  backface-visibility: hidden;

  .r1-img {
    max-width: 100%;
    min-height: v(120);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;

    img {
      margin: v(20);
      max-width: 100%;
      max-height: v(150);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: v(70);
      height: v(70);
      filter: blur(v(70));
      background-color: #69bdfc;
      z-index: -1;
    }
  }

  .r1-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;

    .r1-name {
      font-size: v(16);
    }

    .r1-grade {
      font-size: v(12);
      color: #69bdfc;
    }

    .r1-model {
      font-size: v(12);
      color: #ababb9;
    }
  }

  .r1-available {
    margin-top: v(17);
    font-weight: bold;

    .r1-label {
      font-size: v(14);
    }

    .r1-value {
      font-size: v(32);
    }
  }

  .r1-settings {
    .r1-setting {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: v(12);

      .r1-label {
        font-size: v(12);
        color: #797979;
      }

      .r1-value {
        display: flex;
        justify-items: space-between;
        align-items: center;
        gap: v(12);

        :deep() {
          .n-input__input-el {
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }

  .n-checkbox {
    white-space: normal;
    font-weight: 600;
    font-size: v(14);
    margin-top: v(24);

    &.n-checkbox--checked {
      :deep() {
        .n-checkbox-box {
          background-image: radial-gradient(209.59% 209.59% at 50% 0%, #d74d45 0%, #530d09 100%);

          .n-checkbox-icon {
            padding: v(3);

            svg {
              path {
                stroke: white;
                stroke-width: v(2);
              }
            }
          }
        }
      }
    }
  }

  .r1-btn-ok {
    width: 100%;
    margin-top: v(24);
  }
}
