<template>
  <div
    ref="context"
    class="r1-context-menu"
    :style="offset"
  >
    <div class="r1-img">
      <img
        :src="item.icon"
        alt=""
      >
    </div>
    <div class="r1-title">
      <div
        v-if="item.name"
        class="r1-name"
      >
        {{ item.name }}
      </div>
      <div class="r1-grade">
        Армейское качество
      </div>
      <div
        v-if="item.model"
        class="r1-model"
      >
        {{ item.model }}
      </div>
    </div>
    <!--    <div class="r1-available">-->
    <!--      <div class="r1-label">-->
    <!--        Доступно-->
    <!--      </div>-->
    <!--      <div class="r1-value">-->
    <!--        {{ item.count }}-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="r1-settings">
      <n-checkbox
        v-model:checked="craftItemModel.pick"
      >
        Может брать со склада
      </n-checkbox>
      <div class="r1-setting">
        <div class="r1-label">
          Лимит выдачи
        </div>
        <div class="r1-value">
          <btn
            preset="minus"
            :disabled="craftItemModel.pickMaxItems <= 1 || !craftItemModel.pick"
            @click="craftItemModel.pickMaxItems--"
          />
          <n-input-number
            v-model:value.number="craftItemModel.pickMaxItems"
            placeholder=""
            class="r1-value"
            :min="1"
            :max="99999"
            :update-value-on-input="false"
            :disabled="!craftItemModel.pick"
            :show-button="false"
          />
          <btn
            preset="plus"
            :disabled="craftItemModel.pickMaxItems >= 99999 || !craftItemModel.pick"
            @click="craftItemModel.pickMaxItems++"
          />
        </div>
      </div>
      <div class="r1-setting">
        <div class="r1-label">
          Период лимиты выдачи (в секундах)
        </div>
        <div class="r1-value">
          <btn
            preset="minus"
            :disabled="craftItemModel.pickMaxItemsResetPeriod <= 1 || !craftItemModel.pick"
            @click="craftItemModel.pickMaxItemsResetPeriod--"
          />
          <n-input-number
            v-model:value.number="craftItemModel.pickMaxItemsResetPeriod"
            placeholder=""
            :disabled="!craftItemModel.pick"
            type="text"
            class="r1-value"
            :min="1"
            :max="9999999"
            :show-button="false"
          />
          <btn
            preset="plus"
            :disabled="craftItemModel.pickMaxItemsResetPeriod >= 9999999 || !craftItemModel.pick"
            @click="craftItemModel.pickMaxItemsResetPeriod++"
          />
        </div>
      </div>
    </div>
    <n-checkbox
      v-model:checked="craftItemModel.put"
    >
      Может класть на склад
    </n-checkbox>
    <n-checkbox
      v-model:checked="craftItemModel.move"
    >
      Может перемещать на складе
    </n-checkbox>
    <btn
      preset="ok"
      :disabled="isDisabledButton"
      @click="emit('submit', craftItemModel)"
    >
      Подтвердить
    </btn>
  </div>
</template>
<script lang="ts" setup>
import { usePositionOffset } from '@/use/usePositionOffset';
import { computed, onMounted, PropType, Ref, ref } from 'vue';
import { defaultInventoryItemPermission, Position } from '@/components/Inventory/helpers';
import { CharacterGroupGridPermissionItem, LibraryItem } from '@gta5/gtanetsdk';
import Btn from '@/components/ui/Button/Button.vue';

const emit = defineEmits(['submit']);

const props = defineProps({
  position: {
    type: Object as PropType<Position>,
    required: true,
  },
  item: {
    type: Object as PropType<LibraryItem>,
    required: true,
  },
  value: {
    type: Object as PropType<Partial<CharacterGroupGridPermissionItem>>,
    default: () => ({
      pick: false,
      pickMaxItems: 1,
      pickMaxItemsResetPeriod: 3600,
      put: false,
      move: false,
    }),
  },
});


const craftItemModel: Ref<Partial<CharacterGroupGridPermissionItem>> = ref(defaultInventoryItemPermission());
if(props.value)
  craftItemModel.value = { ...props.value };

const isDisabledButton = computed(() => {
  if(craftItemModel.value.pick)
    return !craftItemModel.value.pickMaxItems || !craftItemModel.value.pickMaxItemsResetPeriod;
  return false;
});

const context = ref<HTMLElement | null>(null);
const pos = ref<Position>({
  x: 0,
  y: 0,
});
const { offset } = usePositionOffset(pos, context);
onMounted(() => pos.value = props.position);
</script>

<style lang="scss" scoped src="./ItemContextMenu.scss"></style>
