<template>
  <div class="chips-free">
    <h2 class="chips-free__title">
      Бесплатные фишки
    </h2>
    <h4 class="chips-free__subtitle">
      Только для обладателей Priority Pass
    </h4>
    <div class="chips-free__list">
      <ChipsFreeCard
        v-for="item in cards"
        :key="item.id"
        :card="item"
        @get-chip="getChip"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
import { FreeCard } from '@/services/chips';
import { PropType } from 'vue';
import ChipsFreeCard from '@/components/casino/ChipsFree/components/FreeCard/ChipsFreeCard.vue';

const props = defineProps({
  cards: {
    type: Array as PropType<FreeCard[]>,
    default: () => []
  }
});

const emit = defineEmits(['getChip']);

const getChip = (data: FreeCard) => {
  emit('getChip', data);
};
</script>

<style scoped lang="scss" src="./chips-free.scss"></style>