.chips-free {
  margin-top: v(150);

  &__title {
    margin-top: 0;
    margin-bottom: v(7);
    font-size: v(24);
    line-height: v(29);
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    font-size: v(14);
    line-height: v(17);
    text-align: center;
    color: #9B9B9B;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v(12);
    padding-top: v(31);
  }
}