.ads-marquee {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: v(16);
  line-height: v(20);

  &__name {
    margin: 0;
    margin-left: v(10);
    font-weight: 700;
    font-size: v(16);
    line-height: v(20);
    white-space: nowrap;
  }

  &__line {
    width: v(480);
    overflow: hidden;
    margin-left: v(16);
  }

  &__btn {
    margin-left: v(11);
  }

  &__phone {
    display: flex;
    align-items: center;
    margin-left: v(18);
    gap: v(10);
    white-space: nowrap;
    font-weight: 700;
    font-size: v(16);
    line-height: v(20);
  }
}