<template>
  <div class="ads-marquee">
    <avatar
      v-if="avatar"
      :src="avatar"
      :size="28"
    />
    <h5 class="ads-marquee__name">
      {{ name }}
    </h5>
    <btn
      v-if="call"
      preset="call"
      class="ads-marquee__btn"
    >
      <template #icon>
        <icon-svg
          name="phone"
          :size="14"
        />
      </template>
    </btn>
    <marquee-text
      :duration="30"
      class="ads-marquee__line"
    >
      {{ text }}
    </marquee-text>
    <p
      v-if="phone && !call"
      class="ads-marquee__phone"
    >
      <icon-svg
        name="phone"
        :size="14"
        fill="#797979"
      />
      {{ phone }}
    </p>
  </div>
</template>

<script setup lang="ts">
import MarqueeText from 'vue-marquee-text-component';
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import Btn from '@/components/ui/Button/Button.vue';
import IconSvg from '@/components/ui/IconSvg.vue';

const props = defineProps({
  avatar: {
    type: String,
    default: ''
  },
  text: {
    type: String,
    default: ''
  },
  name: {
    type: String,
    default: ''
  },
  phone: {
    type: String,
    default: ''
  },
  call: {
    type: Boolean,
    default: false
  }
});
</script>

<style scoped lang="scss" src="./ads-marquee.scss"></style>