.chips-sell {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
  margin-top: v(241);
  width: v(569);
  height: v(196);
  background: linear-gradient(270deg, rgba(46, 46, 46, 0.0001) 0%, rgba(46, 46, 46, 0.4) 15.83%, rgba(46, 46, 46, 0.5) 49.69%, rgba(46, 46, 46, 0.4) 84.83%, rgba(46, 46, 46, 0.0001) 100%);
  border-radius: v(5);

  &__title {
    margin-top: v(17);
    margin-bottom: v(10);
    font-size: v(14);
    line-height: v(17);
    text-align: center;
  }

  &__fields {
    display: grid;
    grid-template-columns: v(180) v(50) v(150);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    margin-bottom: v(20);

    span {
      text-align: center;
    }

    :deep(.n-input__input-el) {
      font-weight: 700;

      + .n-input__placeholder {
        color: #797979;
      }
    }

    :deep(.n-input__prefix) {
      margin-right: v(8);
    }
  }

  &__btn {
    width: v(183);
    height: v(52);
  }
}