<template>
  <div class="chips-sell">
    <h5 class="chips-sell__title">
      Укажите количество фишек
    </h5>

    <div class="chips-sell__fields">
      <n-input
        v-model:value="chipsValue"
        size="large"
        placeholder="ФИШКИ"
        @input="handlerChips"
      >
        <template #prefix>
          <icon-svg
            class="n-input-suffix-icon"
            name="chips"
            :size="16"
          />
        </template>
      </n-input>
      <span> = </span>
      <n-input
        v-model:value="totalValue"
        size="large"
        placeholder="СУММА"
        @input="handlerTotal"
      />
    </div>

    <btn
      preset="confirm"
      class="chips-sell__btn"
      @click="sell"
    >
      Продать
    </btn>
  </div>
</template>

<script setup lang="ts">
import IconSvg from '@/components/ui/IconSvg.vue';
import Btn from '@/components/ui/Button/Button.vue';
import { NInput } from 'naive-ui';
import { ref } from 'vue';

const props = defineProps({
  price: {
    type: String,
    default: '100'
  }
});
const emit = defineEmits(['sell']);

const chipsValue = ref('');
const totalValue = ref('');

const handlerChips = () => {
  totalValue.value = Number(chipsValue.value) * props.price;
};

const handlerTotal = () => {
  chipsValue.value = parseInt(Number(totalValue.value) / props.price);
};

const sell = () => {
  emit('sell', {
    chips: chipsValue.value,
    total: totalValue.value
  });
};

</script>

<style scoped lang="scss" src="./chips-sell.scss"></style>