<template>
  <div class="controlling">
    <div class="controlling-item">
      <div class="controlling-item__label">
        U
      </div>
      <p class="controlling-item__text">
        Начать преследование
      </p>
    </div>
    <div class="controlling-item">
      <div class="controlling-item__label">
        N
      </div>
      <p class="controlling-item__text">
        Пропустить
      </p>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss" src="./radar-controlling.scss"></style>