<template>
  <div
    v-if="loading"
    class="simple-loader"
  >
    <loading-icon />
  </div>
</template>

<script lang="ts" setup>


import LoadingIcon from './components/LoadingIcon/LoadingIcon.vue';

defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
});
</script>

<style scoped lang="scss" src="./SimpleLoader.scss"></style>
