.loading_icon {
  z-index: 10000;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);


  &.small {
    width: v(24);
    height: v(24);
    & div {
      width: v(18);
      height: v(18);
      border: v(3) solid #ffffff;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  &.fit {
    width: 100%;
    height: 100%;
    & div {
      width: 100%;
      height: 100%;
      border: v(3) solid #ffffff;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  &.medium {
    width: v(32);
    height: v(32);
    & div {
      width: v(28);
      height: v(28);
      border: v(5) solid #ffffff;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  &.large {
    width: v(48);
    height: v(48);
    & div {
      width: v(36);
      height: v(36);
      border: v(5) solid #ffffff;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-radius: 50%;
    animation: loadingAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}


@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}