<template>
  <div
    class="loading_icon"
    :class="[size]"
  >
    <div />
    <div />
    <div />
    <div />
  </div>
</template>

<script lang="ts" setup>
import { PropType } from 'vue';

export type LoadingIconSize = 'small' | 'medium' | 'large' | 'fit'

defineProps({
  size: {
    type: String as PropType<LoadingIconSize>,
    default: 'medium',
  },
});

</script>

<style lang="scss" scoped src="./LoadingIcon.scss"></style>
