.r1-exit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: v(60);
  width: v(85);

  .r1-bg {
    position: absolute;
    left: v(15);
    right: v(-5);
    top: v(3);
    bottom: v(3);
    border-radius: v(5);
    transform: skewX(10deg);
    background-color: #1c1c1c;
    box-shadow: 0 v(3) black;
  }

  &:hover .r1-bg {
    box-shadow: 0 v(3) black, 0 v(3) v(6) red;
  }

  .r1-icon-svg {
    position: relative;
    z-index: 1;
    margin-left: v(14);
    pointer-events: none;
  }
}
