<template>
  <n-button
    text
    class="r1-exit"
    @click="close"
  >
    <div class="r1-bg" />
    <icon-svg
      name="close"
      :size="21"
    />
  </n-button>
</template>

<script lang="ts" setup>
import IconSvg from '@/components/ui/IconSvg.vue';

const emit = defineEmits(['close']);

const close = () => {
  emit('close');
};
</script>

<style lang="scss" src="./Exit.scss" scoped></style>
