<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="warmaps-modal">
        <header class="modal-header">
          <div class="modal-header__links">
            <router-link
              :to="{
                query: {
                  type: 'map'
                }
              }"
              :class="isMap ? 'isActive' : ''"
            >
              Карта
            </router-link>
            <router-link
              :to="{
                query: {
                  type: 'feed'
                }
              }"
              :class="isFeed ? 'isActive' : ''"
            >
              Лента захватов
            </router-link>
          </div>

          <div class="modal-header__right">
            <div class="modal-header__notices">
              <icon-svg
                name="bell"
                fill="#fff"
                :size="23"
              />

              <div class="circle" />
            </div>

            <picture class="modal-header__picture">
              <img
                src="@/assets/images/lspd.png"
                alt=""
              >
            </picture>

            <exit @close="close" />
          </div>
        </header>

        <div
          v-if="isMap"
          class="map"
        >
          <div
            ref="target"
            class="map-wrapper"
          >
            <img
              :src="map"
              alt=""
            >
            <map-area
              v-for="(area, index) in areas"
              :key="index"
              :area="area"
            />
          </div>

          <Moveable
            class-name="moveable"
            :target="['.map-wrapper']"
            :draggable="true"
            @drag="onDrag"
          />

          <div class="map__instruction">
            <div class="mouse">
              <icon-svg
                name="mouse"
                :size="22"
              />
            </div>
            <span>Используйте мышку для пролистывания</span>
          </div>
          <div class="map__shadow" />
        </div>

        <div
          v-if="isFeed"
          class="feed"
        >
          feed
        </div>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { computed, PropType, ref, watchEffect } from 'vue';
import Exit from '@/components/ModalMain/components/ModalMainHeader/components/Exit/Exit.vue';
import { useRoute } from 'vue-router';
import IconSvg from '@/components/ui/IconSvg.vue';
import Moveable from "vue3-moveable";
import { IAreas } from '@/services/areas';
import MapArea from './components/MapArea/MapArea.vue';
const route = useRoute();
const target = ref<HTMLElement>(null);
const onDrag = ({ transform }) => {
  target.value.style.transform = transform;
};

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  map: {
    type: String,
    default: '',
  },
  areas: {
    type: Array as PropType<IAreas[]>,
    default: () => []
  }
});

const emit = defineEmits(['close']);
const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  emit('close');
};

const isMap = computed(() => route.query?.type === 'map');
const isFeed = computed(() => route.query?.type === 'feed');
</script>

<style scoped lang="scss" src="./modal-warmaps.scss"></style>