.warmaps-modal {
  position: relative;
  width: v(1402);
  height: v(870);
  border-radius: v(32);
  background: #171717;
  box-shadow: -10.725px 45.76px 80px rgba(0, 0, 0, 0.2), -6.95138px 29.6592px 46.8519px rgba(0, 0, 0, 0.151852), -4.13111px 17.6261px 25.4815px rgba(0, 0, 0, 0.121481), -2.145px 9.15199px 13px rgba(0, 0, 0, 0.1), -0.873888px 3.72859px 6.51852px rgba(0, 0, 0, 0.0785185), -0.198611px 0.847407px 3.14815px rgba(0, 0, 0, 0.0481481);
  text-align: center;
  overflow: hidden;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: v(24);
  height: v(100);
  background-color: #0D0909;

  &__links {
    display: flex;
    align-items: center;
    gap: v(32);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    a {
      color: #9B9B9B;
      outline: none;

      &.isActive {
        color: #fff;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__picture {
    margin-left: v(36);
    margin-right: v(30);
    height: v(78);
    width: v(78);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.map {
  position: relative;
  overflow: hidden;
  max-height: v(770);

  &__instruction {
    position: absolute;
    display: flex;
    align-items: center;
    gap: v(8);
    left: v(32);
    bottom: v(32);
    z-index: 2;
    font-weight: 600;
    font-size: v(14);
    line-height: v(17);

    .mouse {
      display: flex;
      align-items: center;
      justify-content: center;
      width: v(34);
      height: v(34);
      background: radial-gradient(100% 100% at 50% 0%, #373737 0%, #131313 100%);
      border: 1px solid #656565;
      box-shadow: inset 0px 0px 16px 0.5px rgba(0, 0, 0, 0.24);
      border-radius: v(6);
    }
  }

  &__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: v(240);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 3.02%, rgba(0, 0, 0, 0.0001) 105%);
    transform: rotate(180deg);
  }
}

.moveable {
  display: none !important;
}

.map-wrapper {
  position: relative;
  cursor: grab;
}