.r1-vehicle-upgrade {
  display: flex;
  align-items: center;
  margin: v(32) v(24) 0;

  .r1-vehicle-upgrade-carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: v(64);

    .r1-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .r1-grade {
        position: relative;
        background: #242424;
        border-radius: 50%;
        height: v(54);
        width: v(54);

        &:hover {
          background: radial-gradient(89.35% 89.35% at 50% -4.27%, #1E1E1E 0%, #141414 100%);
          border-width: v(2);

          :deep(svg) {
            fill: #FFFFFF;
          }
        }

        &.r1-checked {
          :deep(svg) {
            fill: #FFFFFF;
          }

          .r1-check {
            background: #797979;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            bottom: 0;
            height: v(16);
            width: v(16);
          }
        }
      }
    }
  }

  .r1-nav-btn:hover {
    :deep(svg) {
      stroke: rgba(227, 77, 69, 1);
    }
  }
}