<template>
  <div class="r1-vehicle-upgrade">
    <btn
      v-if="grades.length > itemsPerView"
      class="r1-nav-btn"
      preset="prev-romb"
      @click="prev"
    />
    <n-carousel
      v-model:current-index="index"
      :slides-per-view="itemsPerView"
      :show-dots="false"
      :show-arrow="false"
      class="r1-vehicle-upgrade-carousel"
    >
      <div
        v-for="grade in grades"
        :key="grade.type"
        class="r1-container"
      >
        <n-popover
          trigger="hover"
          raw
          :show-arrow="false"
        >
          <template #trigger>
            <btn
              :class="['r1-grade', { 'r1-checked': grade.checked }]"
              @click="toggle(grade.type)"
            >
              <icon-svg
                :name="grade.icon"
                :size="44"
                folder="icons/grades"
                fill="#797979"
              />
              <div
                v-if="grade.checked"
                class="r1-check"
              >
                <icon-svg
                  name="check"
                  :size="8"
                  fill="#FFFFFF"
                />
              </div>
            </btn>
          </template>
          <popover>
            {{ grade.title }}
          </popover>
        </n-popover>
      </div>
    </n-carousel>
    <btn
      v-if="grades.length > itemsPerView"
      class="r1-nav-btn"
      preset="next-romb"
      @click="next"
    />
  </div>
</template>

<script lang="ts" setup>
import Btn from '@/components/ui/Button/Button.vue';
import Popover from './components/Popover/Popover.vue';
import { computed, PropType, ref } from 'vue';
import { gradesTitles, GradeType } from '@/services/transportModal';
import IconSvg from '@/components/ui/IconSvg.vue';
import { useVModel } from '@vueuse/core';

const props = defineProps({
  itemsPerView: {
    type: Number,
    default: 5,
  },
  value: {
    type: Array as PropType<Array<GradeType>>,
    default: new Array<GradeType>(),
  },
});

const index = ref(0);
const lValue = useVModel(props, 'value');

const grades = computed(() => Object.values(gradesTitles).map(grade => ({
  ...grade,
  checked: props.value.includes(grade.type),
})));

const toggle = (type: GradeType) => {
  const lGrades = new Set<GradeType>(props.value);
  if (lGrades.has(type))
    lGrades.delete(type);
  else
    lGrades.add(type);

  lValue.value = Array.from(lGrades);
};

const prev = () => {
  index.value = (index.value > 0) ? --index.value : grades.value.length - props.itemsPerView;
};

const next = () => {
  index.value = (index.value < grades.value.length - props.itemsPerView) ? ++index.value : 0;
};

</script>

<style lang="scss" scoped src="./VehicleUpgradeCarousel.scss"></style>
