.r1-custom-modal {
  width: v(500);
  font-weight: 700;

  .r1-modal-header {
    position: relative;
    min-height: v(300);
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      border-bottom: v(1) solid rgba(216, 216, 216, .1);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
      backdrop-filter: blur(v(1));
      z-index: 2;
    }

    .r1-content {
      position: relative;
      z-index: 3;
    }
  }

  .r1-modal-body {}

  .r1-modal-info:not(:empty) {
    position: relative;
    display: grid;
    margin: v(32) 0;
    min-height: v(144);
    background: radial-gradient(585.41% 585.41% at 50% 0%, rgba(34, 127, 106, 0.234867) 0%, rgba(19, 19, 19, 0.213341) 100%);

    .n-carousel {
      height: 100%;

      .r1-page {
        height: 100%;
        display: grid;
        grid: repeat(auto-fill, #{v(42)}) / repeat(2, 1fr);
        gap: v(21);
        padding: v(21) v(60);
        text-align: center;
        z-index: 2;

        .r1-item {
          height: v(42);

          .r1-value {
            font-size: v(20);
            line-height: v(22);
            display: flex;
            gap: v(5);
            align-items: center;
            justify-content: center;
          }

          .r1-title {
            font-size: v(10);
            line-height: v(12);
            text-transform: uppercase;
            opacity: .5;
            margin-top: v(5);
          }
        }
      }

      .r1-btns {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: v(24);

        button:hover {
          :deep(svg) {
            stroke: rgba(227, 77, 69, 1);
          }
        }
      }
    }

    &:before,
    &:after {
      content: "";
      background: linear-gradient(270deg, rgba(0,0,0,0.01) 25%, rgba(255,255,255,0.12) 50%, rgba(0,0,0,0.01) 75%);
      position: absolute;
      height: v(1);
      width: 80%;
      top: 0;
      left: 10%;
    }

    &:after {
      top: auto;
      bottom: 0;
    }

  }

  .r1-modal-footer:not(:empty) {}
}