<template>
  <div class="r1-custom-modal">
    <div
      class="r1-modal-header"
      :style="headerTheme"
    >
      <div class="r1-content">
        <slot name="header" />
      </div>
    </div>

    <div class="r1-modal-body">
      <slot name="body" />
    </div>

    <div class="r1-modal-info">
      <slot name="info">
        <n-carousel
          v-if="pages.length"
          :show-dots="false"
          :show-arrow="pages.length > 1"
        >
          <div
            v-for="(p, i) in pages"
            :key="i + '' + Date.now()"
            class="r1-page"
          >
            <div
              v-for="itm in p"
              :key="itm.title"
              class="r1-item"
            >
              <div class="r1-value">
                <icon-img :icon="itm.prefix" />
                {{ itm.value }}
                <icon-img :icon="itm.suffix" />
              </div>
              <div class="r1-title">
                {{ itm.title }}
              </div>
            </div>
          </div>
          <template #arrow="{ prev, next }">
            <div class="r1-btns">
              <btn
                preset="prev-romb"
                @click="prev"
              />
              <btn
                preset="next-romb"
                @click="next"
              />
            </div>
          </template>
        </n-carousel>
      </slot>
    </div>

    <div class="r1-modal-footer">
      <slot name="footer" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, PropType } from 'vue';
import Btn from '@/components/ui/Button/Button.vue';
import IconImg from './components/Icon.vue';
import { InfoItem } from '@/helpers/modalItems';

const props = defineProps({
  headerBg: {
    type: String,
    default: './mocks/img/apartment.png',
  },
  infoItems: {
    type: Array as PropType<Array<InfoItem>>,
    default: new Array<InfoItem>(),
  },
});

const headerTheme = computed(() => ({
  backgroundImage: `url(${props.headerBg})`,
}));

const itemsPerPage = 4;

const pages = computed(() => {
  const lPages: Array<Array<InfoItem>> = new Array<Array<InfoItem>>();
  const items = props.infoItems;

  for (let i = 0; i < Math.ceil(items.length / itemsPerPage); i++) {
    const step = i * itemsPerPage;
    lPages[i] = items.slice(step, step + itemsPerPage);
  }

  return lPages;
});
</script>

<style lang="scss" scoped src="./RModal.scss"></style>
