<template>
  <div class="fair-play-page">
    <fair-play-modal
      namespace="default-layout"
      to="#r1-modal-container"
      :qr-code-src="qrCode"
    />
  </div>
</template>

<script lang="ts">
export default {
  layout: 'wheel',
};
</script>

<script setup lang="ts">
import FairPlayModal from '@/components/fairPlayModal/FairPlayModal.vue';
import { ref } from 'vue';

const qrCode = ref('./images/qr-code.png');
</script>

<style scoped lang="scss" src="./fair-play.scss"></style>