.fish-modal {
  display: flex;
  flex-flow: column nowrap;
  padding: v(52) v(24) v(31);
  min-height: v(628);
  max-height: 90vh;
  width: v(500);
  position: relative;
  background-image:
    radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__title {
    margin-bottom: v(5);
    font-size: v(28);
    line-height: v(34);
    text-align: center;
  }

  &__type {
    margin-top: 0;
    margin-bottom: v(47);
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    text-align: center;
    text-transform: uppercase;
  }

  &__picture {
    position: relative;
    display: flex;
    margin: 0 auto v(63);
    width: v(302);
    height: v(159);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__values {
    margin: 0 auto;
    width: 100%;
    max-width: v(227);
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    &:not(:last-of-type) {
      margin-bottom: v(16);
    }

    span {
      font-weight: 700;
      font-size: v(16);
      line-height: v(20);

      &:first-of-type {
        font-size: v(14);
        line-height: v(17);
        text-transform: uppercase;
        color: #797979;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: v(14);
    margin-top: auto;

    button {
      height: v(52);
    }
  }

  &__blur {
    position: absolute;
    display: block;
    left: v(185);
    top: v(169);
    width: v(130);
    height: v(130);
    filter: blur(v(150));
    -webkit-filter: blur(v(150));
    -moz-filter: blur(v(150));
    -o-filter: blur(v(150));
    -ms-filter: blur(v(150));
    transform: scale(0.8);
  }
}