<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="fish-modal">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <h2 class="fish-modal__title">
          {{ fish?.name }}
        </h2>
        <p
          class="fish-modal__type"
          :style="{ color: typeColor(fish.type) }"
        >
          {{ fish?.typeName }}
        </p>
        <span
          class="fish-modal__blur"
          :style="{ background: typeColor(fish.type) }"
        />
        <picture class="fish-modal__picture">
          <img
            :src="fish?.img"
            :alt="fish?.name"
          >
        </picture>
        <div class="fish-modal__values">
          <div class="fish-modal__value">
            <span>Цена за 1 кг:</span>
            <span>
              <icon-png
                name="dollar"
                :size="16"
              />
              {{ fish?.price }}
            </span>
          </div>
          <div class="fish-modal__value">
            <span>Вес:</span>
            <span>{{ fish?.weight }} кг.</span>
          </div>
        </div>
        <div class="fish-modal__buttons">
          <Btn
            preset="cancel"
            @click="releaseFish"
          >
            Отпустить
          </Btn>
          <Btn
            preset="confirm"
            @click="getFish"
          >
            Забрать
          </Btn>
        </div>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { PropType, ref, watchEffect } from 'vue';
import Btn from '@/components/ui/Button/Button.vue';
import FishCard from '@/services/fishing';
import IconPng from '@/components/ui/IconPng.vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  fish: {
    type: Object as PropType<FishCard>,
    required: true,
  },
});

const emit = defineEmits(['close', 'releaseFish', 'getFish']);

const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  emit('close');
};

const typeColor = (type: string) => {
  switch (type) {
  case 'common':
    return '#2757FF';
    break;
  case 'medium':
    return '#7ED321';
    break;
  case 'rare':
    return '#FFAC0B';
    break;
  default:
    return '';
  }
};

const releaseFish = () => {
  emit('releaseFish', props.fish);
};

const getFish = () => {
  emit('getFish', props.fish);
};
</script>

<style scoped lang="scss" src="./fish-modal.scss"></style>