<template>
  <div class="roulette-page">
    <Button
      preset="question-romb"
      class="roulette-page__faq-btn"
      @click="showModal"
    >
      <template #icon>
        <icon-svg
          name="question"
          :size="18"
        />
      </template>
    </Button>
    <HistoryGames :history="history" />
    <RouletteTimer
      v-if="data.start"
      class="roulette-page__timer"
      :start="data.start"
      :duration="1"
    />
    <div class="roulette-page__content">
      <BetsGamers :list="betsList" />
      <CasinoInfoPanel>
        <template #top>
          <div class="bets">
            <div class="bets-item">
              <div class="bets-icon bets-icon_red">
                <IconSvg
                  name="user"
                  :size="18"
                />
              </div>
              <span>
                {{ data.bets.red }}
              </span>
            </div>

            <div class="bets-item">
              <div class="bets-icon bets-icon_black">
                <IconSvg
                  name="user"
                  :size="18"
                />
              </div>
              <span>
                {{ data.bets.black }}
              </span>
            </div>
          </div>
        </template>
        <template #bottom>
          <h5 class="title">
            Банк
          </h5>
          <div class="value">
            <IconPng
              name="dollar"
              :size="22"
            />
            <span>{{ data.cash }}</span>
          </div>
        </template>
      </CasinoInfoPanel>
    </div>
    <Bet
      class="roulette-page__bet"
      sum="394 123"
      :default-value="1000"
      @update:default-value="start"
    />
    <FaqModal
      :show="data.show"
      to="#r1-modal-container"
      namespace="casino-layout"
      @close="closeModal"
    />
  </div>
</template>


<script lang="ts">
export default {
  layout: 'roulette'
};
</script>

<script setup lang="ts">
import HistoryGames from '@/components/roulette/HistoryGames/HistoryGames.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, reactive } from 'vue';
import BetsGamers from '@/components/roulette/BetsGamers/BetsGamers.vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import Bet from '@/components/casino/Bet/Bet.vue';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import RouletteTimer from '@/components/roulette/RouletteTimer/RouletteTimer.vue';
import Button from '@/components/ui/Button/Button.vue';
import FaqModal from '@/components/roulette/FaqModal/FaqModal.vue';
const { handleError } = useHandleError();
const history = computed(() => storeProxy.roulette.historyList);
const betsList = computed(() => storeProxy.bets.betsList);

const data = reactive({
  chips: '10 000',
  cash: '10 000 000',
  bets: {
    red: '21',
    black: '12'
  },
  start: false,
  show: false
});


const getData = async() => {
  try {
    await storeProxy.roulette.getHistory();
    await storeProxy.bets.getBets();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

const start = (e: any) => {
  console.log('start val', e);
  data.start = true;
};

const showModal = () => {
  data.show = true;
};

const closeModal = (val: boolean) => {
  data.show = val;
};
</script>

<style scoped lang="scss" src="./roulette.scss"></style>