.roulette-page {
  &__bet {
    position: absolute;
    left: 50%;
    bottom: v(54);
    transform: translateX(-50%);
  }

  &__timer {
    position: absolute;
    top: v(140);
    left: 50%;
    transform: translateX(-50%);
  }

  &__faq-btn.r1-btn.r1-btn-question-romb {
    position: absolute;
    left: v(35);
    top: v(35);
    width: v(52);
    height: v(52);
  }
}