.r1-more {
  display: flex;
  align-items: center;
  height: v(23);
  width: v(23);
  cursor: pointer;
  color: #9b9b9b;
  transition: 150ms;

  svg {
    fill: currentColor;
  }

  &:hover svg {
    fill: white;
  }
}
