<template>
  <n-popover
    placement="bottom-end"
    trigger="hover"
    class="filter"
    :show-arrow="false"
  >
    <template #trigger>
      <slot>
        <div class="r1-more">
          <IconSvg
            name="more"
            :size="23"
          />
        </div>
      </slot>
    </template>
    <div class="filter__list">
      <grid-filter-toggle
        v-for="filter in list"
        :key="filter.id"
        :value="filter"
        @update:value="onUpdateFilter"
      />
    </div>
  </n-popover>
</template>
<script lang="ts" setup>
import { NPopover } from 'naive-ui';
import { InventoryItemClass } from "@gta5/gtanetsdk";
import { onMounted, PropType, ref, watch, watchEffect } from "vue";
import IconSvg from "@/components/ui/IconSvg.vue";
import GridFilterToggle from "@/components/Inventory/Grid/components/GridFilter/components/GridFilterToggle/GridFilterToggle.vue";
import { InventoryItem } from "@/services/inventory";

export interface GridItemFilter {
  id: FilterNames;
  name: string;
  filter: (i: InventoryItem) => boolean;
  active: boolean;
  count: number | null;
}

export type FilterNames =
  | "guns"
  | "food"
  | "resource"
  | "clothes"
  | "others"
  | "equipment";

const props = defineProps({
  items: {
    // для подсчёта чисел в фильтре, можно не передавать, тогда чисел не будет
    type: Array as PropType<InventoryItem[]>,
    default: () => []
  },
  filters: {
    type: Set as PropType<Set<FilterNames>>,
    default: () => new Set(["guns", "food", "resource", "clothes", "others"])
  }
});

const emit = defineEmits(["filter"]);

const filtersMap: Record<FilterNames, () => GridItemFilter> = {
  guns: () => ({
    id: "guns",
    name: "Оружие",
    filter: (i: InventoryItem) => {
      return i.item.type.toString().includes("weapon");
    },
    active: false,
    count: null
  }),
  food: () => ({
    id: "food",
    name: "Питание",
    filter: (i: InventoryItem) => i.item.class === InventoryItemClass.food,
    active: false,
    count: null
  }),
  resource: () => ({
    id: "resource",
    name: "Ресурсы",
    filter: (i: InventoryItem) => i.item.class === InventoryItemClass.resource,
    active: false,
    count: null
  }),
  clothes: () => ({
    id: "clothes",
    name: "Одежда",
    filter: (i: InventoryItem) => i.item.class === InventoryItemClass.clothes,
    active: false,
    count: null
  }),
  others: () => ({
    id: "others",
    name: "Прочее",
    filter: (i: InventoryItem) => {
      return (
        !i.item.type.toString().includes("weapon") &&
        !(i.item.class === InventoryItemClass.food) &&
        !(i.item.class === InventoryItemClass.resource) &&
        !(i.item.class === InventoryItemClass.clothes) &&
        !(i.item.class === InventoryItemClass.props)
      );
    },
    active: false,
    count: null
  }),
  equipment: () => ({
    id: "equipment",
    name: "Снаряжение",
    filter: (i: InventoryItem) => i.item.class === InventoryItemClass.props,
    active: false,
    count: null
  })
};

const fillFilterList = () => {
  props.filters.forEach((key: FilterNames) => {
    if (!filtersMap[key]) return;
    list.value.push(filtersMap[key]());
  });
};

const list = ref<GridItemFilter[]>([]);

const onUpdateFilter = (val: GridItemFilter) => {
  const item = list.value.find(_ => _.id === val.id);
  if (!item) return;
  item.active = val.active;
};

watch(list, () => emit("filter", list.value), { deep: true });

/* counts */
const calculateCounts = (items: InventoryItem[]) => {
  if (!items?.length) return;
  list.value.forEach(filter => {
    filter.count = items.filter(item => filter.filter(item)).length;
  });
};
watchEffect(() => calculateCounts(props.items));
onMounted(() => {
  fillFilterList();
  calculateCounts(props.items);
});
/* end counts */
</script>
<style lang="scss" scoped src="./GridFilter.scss"></style>
