<template>
  <div class="racing-controls">
    <header class="racing-controls__header">
      <div class="racing-controls__buttons">
        <div class="left">
          <Button
            preset="ok"
            @click="start"
          >
            Старт
          </Button>
          <Button
            preset="ok"
            @click="checkpoints"
          >
            Чекпоинты
          </Button>
          <Button
            preset="ok"
            @click="createStant"
          >
            Создать стант
          </Button>
        </div>

        <div class="right">
          <Button
            preset="try"
            @click="reset"
          >
            Сбросить
          </Button>
          <Button
            preset="ok"
            @click="save"
          >
            Сохранить
          </Button>
        </div>
      </div>

      <Slider
        v-model:value="value"
        class="racing-controls__slider"
        :min="2"
        :max="32"
        @update:value="changeRange"
      />
    </header>

    <footer class="racing-controls__footer">
      <race-number
        axis="x"
        :number="4673.84"
        @value="getNumX"
      />
      <race-number
        axis="y"
        :number="4673.84"
        @value="getNumY"
      />
      <race-number
        axis="z"
        :number="4673.84"
        @value="getNumZ"
      />
    </footer>
  </div>
</template>

<script setup lang="ts">
import Button from '@/components/ui/Button/Button.vue';
import Slider from './components/Slider/Slider.vue';
import RaceNumber from './components/Number/Number.vue';
import { useVModel } from '@vueuse/core';


const props = defineProps({
  sliderVal: {
    type: Number,
    required: true,
  },
  axis: {
    type: String,
    default: '',
    required: false,
  },
});

const value = useVModel(props, 'sliderVal');

const emit = defineEmits(['numX', 'numY', 'numZ', 'start', 'checkpoints', 'createStant', 'reset', 'save', 'range']);

const getNumX = (num: number) => {
  emit('numX', num);
};

const getNumY = (num: number) => {
  emit('numY', num);
};

const getNumZ = (num: number) => {
  emit('numZ', num);
};

const start = () => {
  emit('start');
};

const checkpoints = () => {
  emit('checkpoints');
};

const createStant = () => {
  emit('createStant');
};

const reset = () => {
  emit('reset');
};

const save = () => {
  emit('save');
};

const changeRange = (num: number) => {
  emit('range', num);
};
</script>
<style scoped lang="scss" src="./racing-controls.scss"></style>