.racing-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: v(45);
  padding-bottom: v(32);
  height: 100vh;
  max-width: v(1674);
  margin-left: v(214);
  padding-right: v(32);

  &__footer {
    display: flex;
    justify-content: center;
    gap: v(64);
  }

  &__buttons {
    display: flex;
    align-items: center;

    .left,
    .right {
      display: flex;
      gap: v(12);
    }

    .right {
      margin-left: auto;
    }
  }

  &__slider {
    margin-left: v(-60);
  }
}