<template>
  <div class="casino-page casino-page_chips">
    <div class="casino-page__left">
      <RateChips
        :buy="data.buy"
        :sell="data.sell"
      />
    </div>
    <div class="casino-page__content">
      <ChipsMenu />
      <ChipsSell @sell="sell" />
    </div>
    <div class="casino-page__right">
      <FeedGamers :list="feed" />
      <CasinoInfoPanel>
        <template #top>
          <h5 class="title">
            Куплено фишек
          </h5>
          <div class="value">
            <IconSvg
              name="chips"
              :size="18"
            />
            <span>{{ data.chips }}</span>
          </div>
        </template>
        <template #bottom>
          <h5 class="title">
            Выдано на сумму
          </h5>
          <div class="value">
            <IconPng
              name="dollar"
              :size="22"
            />
            <span>{{ data.cash }}</span>
          </div>
        </template>
      </CasinoInfoPanel>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  layout: 'casino'
};
</script>

<script setup lang="ts">
import { computed, onMounted, reactive } from 'vue';
import RateChips from '@/components/casino/RateChips/RateChips.vue';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import FeedGamers from '@/components/casino/FeedGamers/FeedGamers.vue';
import CasinoInfoPanel from '@/components/casino/InfoPanel/CasinoInfoPanel.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
import ChipsMenu from '@/components/casino/ChipsMenu/ChipsMenu.vue';
import ChipsSell from '@/components/casino/ChipsSell/ChipsSell.vue';
const { handleError } = useHandleError();

const data = reactive({
  pluses: [
    {
      iconName: 'bar',
      title: 'Бесконечный бар',
      description: 'Алкогольные напитки и не только в любом количестве'
    },
    {
      iconName: 'squares',
      title: 'Доступ в VIP зоны',
      description: 'Играйте и отдыхайте в особых VIP зонах казино'
    },
    {
      iconName: 'charts',
      title: 'Повышенные ставки',
      description: 'Выше ставки - выше выигрыши и выше азарт'
    },
    {
      iconName: 'gift',
      title: 'Бесплатные фишки',
      description: 'Получайте 5 или более фишек каждый день'
    },
  ],
  chips: '32',
  cash: '10 000',
  buy: '10 000',
  sell: '9 000'
});

const feed = computed(() => storeProxy.feed.feedList);

const getData = async() => {
  try {
    await storeProxy.feed.getFeedList();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

const sell = (data: any) => {
  console.log('sell data', data);
};
</script>

<style scoped lang="scss" src="../casino.scss"></style>