<route>
{
  "name": "animations-modal",
  "meta": { "title": "Анимации", "layout": "default" }
}
</route>
<template>
  <animations-modal
    namespace="default-layout"
    to="#r1-modal-container"
    :animations="animations"
    @searchQueryList="searchList"
    @searchQueryDetail="searchDetail"
    @selectCard="selectAnimation"
    @stopAnimation="stop"
  />
</template>

<script lang="ts" setup>
import { storeProxy } from '@/store';
import { computed, onMounted } from 'vue';
import AnimationsModal from '@/components/animations/animationsModal/AnimationsModal';
import { AnimationItem } from '@/services/animations';

const getData = async() => {
  try {
    await storeProxy.animations.getAnimations();
  } catch (e) {
    console.log(e);
  }
};

onMounted(() => {
  getData();
});

const searchList = (query: string) => {
  console.log('list query', query);
};

const searchDetail = (query: string) => {
  console.log('detail query', query);
};

const selectAnimation = (animation: AnimationItem) => {
  console.log('detail select card', animation);
};

const stop = () => {
  console.log('stop animation');
};

const animations = computed(() => storeProxy.animations.animations);
</script>

<style scoped lang="scss" src="./animations.scss"></style>