<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="item-sell">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="close"
        />
        <h2 class="item-sell__title">
          Продажа предметов
        </h2>
        <header class="item-sell__header">
          <r-search
            v-model:query="searchQuery"
            class="r1-search"
            @update:query="getSearchQuery"
          />

          <div class="item-sell__filter">
            <n-select
              v-model:value="filterValue"
              to="#items-filter-container"
              :options="data.filter"
              placeholder="Фильтр"
              @update-value="handlerFilter"
            />
          </div>
        </header>
        <div class="item-sell__content">
          <n-scrollbar
            :style="{ maxHeight: `${v(330)}` }"
            trigger="none"
          >
            <div class="item-sell__grid">
              <item-card
                v-for="item in itemsList"
                :key="item.id"
                :card="item"
                @select="getSelected"
              />
            </div>
          </n-scrollbar>
        </div>
        <footer class="item-sell__footer">
          <div class="total">
            <p>Общий доход:</p>
            <p><icon-png name="dollar" /> {{ data.total }}</p>
          </div>
          <btn
            preset="confirm"
            size="medium"
            @click="release"
          >
            Продать
          </btn>
        </footer>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { v } from '@/config';
import Btn from '@/components/ui/Button/Button.vue';
import IconPng from '@/components/ui/IconPng.vue';
import { PropType, reactive, ref, watchEffect } from 'vue';
import { IItem } from '@/services/items';
import RSearch from '../ui/RSearch/RSearch.vue';
import ItemCard from './components/ItemCard/ItemCard.vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  itemsList: {
    type: Array as PropType<IItem[]>,
    default: () => []
  }
});

const emit = defineEmits([
  'close',
  'releaseFish',
  'getFish',
  'filterValue',
  'searchQueryList'
]);

const show = ref(true);
const filterValue = ref(null);
const searchQuery = ref('');

const data = reactive({
  selectedFishes: [],
  total: 0,
  filter: [
    {
      label: "По цене",
      value: "price"
    },
    {
      label: "По цене",
      value: "price"
    },
  ]
});

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  emit('close');
};

const handlerFilter = (val: string) => {
  emit('filterValue', val);
};

const release = () => {
  if(data.selectedFishes.length) {
    emit('releaseFish', data.selectedFishes);
  } else {
    console.log('blank');
  }
};

const getSearchQuery = (e: string) => {
  emit('searchQueryList', e);
};

const getSelected = (fish: any) => {
  const notSelected = data.selectedFishes.some(val => fish.card.id === val.card.id);

  if(fish.isActive) {
    if(!notSelected) {
      data.selectedFishes.push(fish);
      data.total += parseInt(String(fish.card.price).replace(/ /g, ''));
    }
  }

  if(!fish.isActive) {
    data.selectedFishes = data.selectedFishes.filter(val => fish.card.id !== val.card.id);
    data.total -= parseInt(String(fish.card.price).replace(/ /g, ''));
  }
};

</script>

<style scoped lang="scss" src="./sell-items-modal.scss"></style>