.item-sell {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding-top: v(62);
  width: v(762);
  height: v(640);
  background-image:
          radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__header {
    display: grid;
    grid-template-columns: v(544) v(150);
    gap: v(20);
    padding: 0 v(24);
    margin-bottom: v(10);
  }

  &__title {
    margin-top: 0;
    margin-bottom: v(32);
    font-size: v(38);
    line-height: v(46);
    text-align: center;
  }

  &__content {
    flex: 1;
  }

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: v(12);
    padding: v(10) v(24) 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: v(23) v(24) v(25) v(40);

    .n-button {
      height: v(52);
      width: v(340);
    }

    .total {
      p {
        display: flex;
        align-items: center;
        margin: 0;
        &:first-of-type {
          font-weight: 700;
          font-size: v(12);
          line-height: v(15);
          text-transform: uppercase;
          opacity: 0.5;
        }

        &:last-of-type {
          font-weight: 700;
          font-size: v(24);
          line-height: v(29);
        }
      }
    }
  }
}