.r1-transport-modal {
  .r1-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: v(45);
    font-weight: 700;

    .r1-transport-avatar {
      height: v(92);

      :deep(img) {
        height: 100%;
      }
    }

    .r1-transport-name {
      font-size: v(24);
      line-height: v(29);
      margin-top: v(20);
    }

    .r1-transport-number {
      text-transform: uppercase;
      font-size: v(12);
      line-height: v(15);
      color: #797979;
      margin-top: v(3);
    }

    .r1-transport-owner {
      margin-top: v(21);

      .r1-owner-name {
        display: flex;
        gap: v(8);
        font-size: v(16);
        line-height: v(20);
        align-items: center;
      }

      .r1-title {
        font-size: v(12);
        line-height: v(15);
        text-align: center;
        text-transform: uppercase;
        color: #797979;
        margin-top: v(8);
      }
    }
  }
}