<route>
{
  "name": "modal-transport",
  "chunkName": "racing",
  "meta": { "layout": "racingModal" }
}
</route>

<template>
  <r-modal
    header-bg="./mocks/img/modal/transport/header.png"
    :info-items="infoItems"
    class="r1-transport-modal"
  >
    <template #header>
      <div class="r1-header">
        <n-image
          class="r1-transport-avatar"
          :src="transportInfo?.transportAvatar"
          object-fit="cover"
          preview-disabled
        />
        <div class="r1-transport-name">
          {{ transportInfo?.transportName }}
        </div>
        <div class="r1-transport-number">
          гос. номер {{ transportInfo?.transportNumber }}
        </div>
        <div class="r1-transport-owner">
          <div class="r1-owner-name">
            <avatar
              :src="transportInfo?.ownerAvatar"
              :size="24"
            />
            <div>{{ transportInfo?.ownerName }}</div>
          </div>
          <div class="r1-title">
            Владелец
          </div>
        </div>
      </div>
    </template>

    <template #body>
      <vehicle-upgrade-carousel
        v-model:value="grades"
      />
    </template>
  </r-modal>
</template>

<script lang="ts">
export default {
  layout: 'racingModal',
};
</script>

<script lang="ts" setup>
import RModal from '@/components/pages/racingModal/RModal/RModal.vue';
import VehicleUpgradeCarousel from '@/components/pages/racingModal/VehicleUpgradeCarousel/VehicleUpgradeCarousel.vue';
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import { storeProxy } from '@/store';
import { computed, onMounted, ref, watch } from 'vue';
import { formatNumber } from '@/helpers';
import { GradeType } from '@/services/transportModal';
import { buildModalItem, InfoItem } from '@/helpers/modalItems';

const transportInfo = computed(() => storeProxy.transportModal.transportInfo);

const stats = computed(() => storeProxy.transportModal.transportInfo?.stats);

const infoItems = computed(() => {
  return [
    buildModalItem(
      'Рыночная цена',
      (stats.value?.marketPrice || 0).toString(),
      {
        name: 'dollar',
        type: 'png',
        style: {
          size: 18,
        },
      },
    ),
    buildModalItem(
      'Цена с учетом тюнинга',
      (stats.value?.priceWithTuning || 0).toString(),
      {
        name: 'dollar',
        type: 'png',
        style: {
          size: 18,
        },
      },
    ),
    buildModalItem(
      'Состояние',
      stats.value?.state + ' %',
    ),
    buildModalItem(
      'Пробег',
      formatNumber(stats.value?.mileage || 0) + ' км',
    ),
  ] as Array<InfoItem>;
});

const gradesLoaded = computed(() => storeProxy.transportModal.transportInfo?.grades);

const grades = ref(new Array<GradeType>());

watch(gradesLoaded, g => {
  grades.value = g || [];
});

watch(grades, g => {
  setGrades(g);
});

const getTransportInfo = async () => {
  try {
    await storeProxy.transportModal.getTransportInfo();
  } catch (e) {
    console.log(e);
  }
};

const setGrades = async (grades: Array<GradeType>) => {
  try {
    await storeProxy.transportModal.setGrades(grades);
  } catch (e) {
    console.log(e);
  }
};

onMounted(() => {
  getTransportInfo();
});
</script>

<style lang="scss" scoped src="./transport.scss"></style>
