<template>
  <n-popover
    trigger="hover"
    :show-arrow="false"
    placement="bottom"
  >
    <template #trigger>
      <li class="place-item">
        <picture class="place-item__picture">
          <img
            ref="imgRef"
            :src="item.img"
            :alt="item.name"
          >
        </picture>
        <p class="place-item__distance">
          {{ item.distance }}
        </p>
      </li>
    </template>
    <router-link
      to="/"
      class="place-item__link"
    >
      {{ popoverText(item.type) }}
    </router-link>
  </n-popover>
</template>

<script setup lang="ts">
import { PlaceItem } from '@/components/Inventory/helpers';
import { PropType } from 'vue';
const props = defineProps({
  item: {
    type: Object as PropType<PlaceItem>,
    required: true,
  }
});

const popoverText = (type: string) => {
  switch (type) {
  case 'business':
    return 'Предложить обмен';
    break;
  case 'plate':
    return 'Шкаф';
    break;
  case 'car':
    return 'Багажник';
    break;
  case 'safe':
    return 'Сейф';
    break;
  case 'fridge':
    return 'Холодильник';
    break;
  case 'armory':
    return 'Оружие';
    break;
  case 'warehouse':
    return 'Склад';
    break;
  default:
    return '';
    break;
  }
};
</script>

<style scoped lang="scss" src="./place.scss">

</style>