.place-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: v(70);
  width: v(70);
  background: #242424;
  border-radius: 12px;
  cursor: pointer;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: v(32);
    width: v(56);

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__distance {
    margin-bottom: 0;
    margin-top: v(9);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-align: center;
    color: #797979;
  }

  &__link {
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-align: center;
    text-transform: uppercase;
  }
}