<template>
  <div class="chips-buy">
    <div
      v-if="cards"
      class="chips-buy__list"
    >
      <ChipsCard
        v-for="(item, index) in cards"
        :key="index"
        :card="item"
        :class="selectedIndex === index ? 'is-active' : ''"
        @selected="setActive"
      />
    </div>
    <footer class="chips-buy-footer">
      <h5 class="chips-buy-footer__title">
        Или введите свою сумму
      </h5>
      <div class="chips-buy-footer__fields">
        <n-input
          v-model:value="chipsValue"
          size="large"
          placeholder="ФИШКИ"
          @input="handlerChips"
        >
          <template #prefix>
            <icon-svg
              class="n-input-suffix-icon"
              name="chips"
              :size="16"
            />
          </template>
        </n-input>
        <span> = </span>
        <n-input
          v-model:value="totalValue"
          size="large"
          placeholder="СУММА"
          @input="handlerTotal"
        />
      </div>
    </footer>
    <btn
      preset="confirm"
      class="chips-buy__btn"
      @click="confirmBuy"
    >
      Подтвердить
    </btn>
  </div>
</template>

<script setup lang="ts">
import ChipsCard from '@/components/casino/ChipsBuy/components/ChipsCard/ChipsCard.vue';
import Btn from '@/components/ui/Button/Button.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import { IChipsCard } from '@/services/chips';
import { onMounted, PropType, ref } from 'vue';
import { NInput } from 'naive-ui';

const props = defineProps({
  cards: {
    type: Array as PropType<IChipsCard[]>,
    default: () => []
  },
  price: {
    type: String,
    default: '100'
  }
});

const chipsValue = ref('');
const totalValue = ref('');
const selectedIndex = ref(2);
const selected = ref({});

const emit = defineEmits(['confirm']);

const confirmBuy = () => {
  if(!chipsValue.value.length && !totalValue.value.length) {
    emit('confirm', selected.value);
  } else {
    emit('confirm', {
      card: selected.value,
      customValues: {
        chips: chipsValue.value,
        total: totalValue.value
      }
    });
  }
};

const handlerChips = () => {
  totalValue.value = Number(chipsValue.value) * props.price;
};

const handlerTotal = () => {
  chipsValue.value = parseInt(Number(totalValue.value) / props.price);
};

const setActive = (card: IChipsCard) => {
  selected.value = card;
  selectedIndex.value = props.cards.findIndex(item => item.id === card.id);
};

onMounted(() => {
  const currentCard = props.cards.filter(item => item.id === String(selectedIndex.value));
  selected.value = currentCard[0];
});
</script>

<style scoped lang="scss" src="./chips-buy.scss"></style>