<template>
  <icon-svg
    v-if="icon?.type === 'svg'"
    :name="icon.name"
    v-bind="icon.style"
  />
  <icon-png
    v-if="icon?.type === 'png'"
    :name="icon.name"
    v-bind="icon.style"
  />
</template>

<script lang="ts" setup>
import IconSvg from '@/components/ui/IconSvg.vue';
import IconPng from '@/components/ui/IconPng.vue';
import { PropType } from 'vue';
import { Icon } from '@/helpers/modalItems';

const props = defineProps({
  icon: {
    type: Object as PropType<Icon>,
    required: true,
  },
});

</script>

<style scoped>

</style>
