<template>
  <Menu
    :value="active"
    :options="menuOptions"
    class="chips-menu"
  />
</template>

<script setup lang="ts">
import { computed, h } from 'vue';
import { RouterLink, useRoute } from 'vue-router';
import Menu from '@/components/ui/Menu/Menu.vue';


const menuOptions = [
  {
    label: () => h(
      RouterLink,
      {
        to: {
          name: 'casino-chips-buy',
        },
        class: 'r1-label',
      },
      { default: () => `Покупка фишек` }
    ),
    key: 'casino-chips-buy'
  },
  {
    label: () => h(
      RouterLink,
      {
        to: {
          path: '/casino/chips/sell/',
        },
        class: 'r1-label',
      },
      { default: () => `Продажа фишек` }
    ),
    key: 'casino-chips-sell'
  },
  {
    label: () => h(
      RouterLink,
      {
        to: {
          path: '/casino/chips/free/',
        },
        class: 'r1-label',
      },
      { default: () => `Бесплатные фишки` }
    ),
    key: 'casino-chips-free'
  },
];
const route = useRoute();
const active = computed(() => route.name);
</script>

<style scoped lang="scss" src="./chips-menu.scss"></style>