<template>
  <div
    class="warmaps-page"
  >
    <ModalWarmaps
      namespace="default-layout"
      to="#r1-modal-container"
      :map="mapData?.image"
      :areas="mapData?.areas"
    />
  </div>
</template>


<script lang="ts" setup>
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted } from 'vue';
import ModalWarmaps from "../../components/ModalWarmaps/ModalWarmaps.vue";
const { handleError } = useHandleError();
const mapData = computed(() => storeProxy.areas.mapData);

const getData = async() => {
  try {
    await storeProxy.areas.getMapData();
  } catch(e) {
    handleError(e);
  }
};

onMounted(() => {
  getData();
});

</script>

<style scoped lang="scss" src="./warmaps.scss"></style>