<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="radio-modal">
        <btn
          class="radio-modal__exit"
          preset="exit-quarternary"
          @click="close"
        />
        <h2 class="radio-modal__title">
          {{ title }}
        </h2>
        <slot />
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script lang="ts" setup>
import Btn from '@/components/ui/Button/Button.vue';
import { ref, watchEffect } from 'vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
  title: {
    type: String,
    default: ''
  }
});
const emit = defineEmits(['close']);

const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  show.value = false;
};
</script>

<style scoped lang="scss" src="./radio-modal.scss"></style>