.radio-modal {
  position: relative;
  padding-top: v(52);
  min-height: v(360);
  max-height: 90vh;
  width: v(666);
  background-image:
          radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  &__exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__title {
    margin-bottom: v(22);
    font-size: v(28);
    line-height: v(34);
    text-align: center;
  }
}