<route>
{
  "name": "racing",
  "meta": { "title": "Гонка", "layout": "racing" }
}
</route>

<template>
  <div class="racing-page">
    <RacingControls
      :slider-val="16"
      @start="start"
      @checkpoints="checkpoints"
      @create-stant="createStant"
      @reset="reset"
      @save="save"
      @num-x="handlerX"
      @num-y="handlerY"
      @num-z="handlerZ"
    />
  </div>
</template>

<script lang="ts">
export default {
  layout: 'racing',
};
</script>

<script setup lang="ts">
import RacingControls from "@/components/racing/RacingControls/RacingControls.vue";

const start = () => {
  console.log('click start');
};

const checkpoints = () => {
  console.log('click checkpoints');
};

const createStant = () => {
  console.log('click create');
};

const reset = () => {
  console.log('click reset');
};

const save = () => {
  console.log('click save');
};

const handlerX = (num: number) => {
  console.log('emitx', num);
};

const handlerY = (num: number) => {
  console.log('emity', num);
};

const handlerZ = (num: number) => {
  console.log('emitz', num);
};
</script>

<style scoped></style>