<template>
  <n-config-provider
    abstract
    namespace="r1-ns-default-layout"
  >
    <n-modal
      v-model:show="show"
      :to="props.to"
    >
      <div class="r1-modal">
        <modal-header
          @close="close"
        />
        <slot name="content" />
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script lang="ts" setup>
import { ref, watchEffect } from 'vue';
import { useMounted } from '@vueuse/core';
import ModalHeader from './components/ModalMainHeader/ModalMainHeader.vue';

const props = defineProps({
  to: {
    type: String,
    default: '.layout',
  },
});
const emit = defineEmits(['close']);

const show = ref(true);

watchEffect(() => {
  if (!show.value) emit('close');
});

const close = () => {
  emit('close');
};

const isMounted = useMounted();
</script>

<style lang="scss" src='./ModalMain.scss' scoped></style>

