.r1-modal {
  height: 90vh;
  width: v(1555);
  position: relative;

  @media #{$table} {
    height: 100vh;
  }

  overflow: hidden;
  border-radius: v(32);
  box-shadow: 0 v(20) v(30) #0006;
  background:
    radial-gradient(circle at 50% -30%, #0000, #000f 150%),
    url("./images/bg-modal.png") top center no-repeat;
  background-size: auto, cover;
  display: grid;
  grid-template: v(84) calc(100% - #{v(84)}) / 100%;

  #r1-submodal-container {
    z-index: 3;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    :deep(.n-modal-container) {
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: auto;
      height: auto;

      & > .n-modal-mask {
        pointer-events: auto;
        position: absolute;
        backdrop-filter: blur(2px);
      }

      & > .n-modal-body-wrapper {
        pointer-events: auto;
      }
    }
  }
}
