.r1-grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: v(25);

  .r1-grid-title {
    display: flex;
    font-weight: bold;
    gap: v(24);
    align-items: center;
    text-transform: uppercase;
    font-size: v(18);

    .r1-grid-rank {
      text-transform: none;
      font-size: v(14);
      display: flex;
      gap: v(12);
      padding: v(9) v(12);
      border-radius: v(6);
      background-color: #0f0f0f;
    }

    &__name {
      max-width: v(139);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__exchange {
      display: flex;
      align-items: center;
      width: 100%;
      font-weight: 700;
      font-size: v(14);
      line-height: v(17);
    }

    &_avatar {
      gap: v(7);
      text-transform: none;
    }

    &_location {
      gap: 0;
      flex-wrap: wrap;

      .grid__mark {
        width: 100%;
      }
    }
  }

  .r1-grid-score {
    display: flex;
    gap: v(10);
    color: #9b9b9b;
    font-weight: bold;
    align-items: center;
  }

  .r1-grid-control {
    display: flex;
    gap: v(24);
    color: #9b9b9b;
    font-weight: bold;
    font-size: v(14);
  }

  &__status {
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-transform: uppercase;
    color: #7ED321;
  }

  &_exchange {
    max-width: 100%;

    .r1-grid-title__name {
      max-width: 100%;
    }
  }
}

.grid {
  &__control {
    display: flex;
    align-items: center;
  }

  &__mark {
    font-size: v(12);
    color: #ababb9;
    margin-top: v(2);
    display: flex;
    align-items: center;

    svg {
      width: v(10);
      height: v(13);
      margin-right: v(5);
      fill: currentcolor;
    }
  }

  &__suffix {
    margin-left: v(8);
  }

  &__quantity {
    font-size: v(14);
    color: #ababb9;
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      width: v(16);
      height: v(16);
      margin-right: v(10);
      fill: currentcolor;
    }

    &-limit {
      background: red;
      padding: 1rem 4rem;
      border-radius: 5rem;
      color: #fff;
    }
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: bold;
    padding: 0 v(19) 0 v(12);

    &_mark {
      margin-bottom: v(13);
      min-height: v(39);
    }

    &_exchange {
      margin-bottom: v(14);
    }

    &_close {
      margin-bottom: v(18);
    }
  }
}

