<template>
  <div :class="[computedHeaderClass, 'r1-grid-header']">
    <div :class="[computedTitleClass, titleLocationClass, 'r1-grid-title']">
      <div
        v-if="avatar"
        class="r1-grid-title__avatar"
      >
        <avatar
          :src="avatar"
          :size="32"
        />
      </div>
      <span class="r1-grid-title__name">
        {{ name }}
        <span
          v-if="props.exchange"
          class="r1-grid-title__exchange"
        >
          <slot name="exchangePrice" />
        </span>
      </span>
      <div
        v-if="location"
        class="grid__mark"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 10 13"
        >
          <path d="M5 0C2.288-.043.052 2.116 0 4.828c-.001 1.047.349 2.064.994 2.889l3.784 4.95c.052.07.135.11.222.11s.17-.04.222-.11L9.006 7.71C9.65 6.888 10 5.873 10 4.828 9.948 2.116 7.712-.043 5 0zm-.383 6.717c-.948-.197-1.604-1.064-1.536-2.03.069-.965.84-1.731 1.806-1.793.966-.061 1.829.601 2.019 1.55.127.637-.074 1.295-.534 1.752-.46.457-1.12.653-1.755.52z" />
        </svg>
        {{ location }}
      </div>
      <div
        v-if="rank"
        class="r1-grid-rank"
      >
        <IconSvg
          name="star"
          :fill="color"
          :size="14"
        />
        {{ rank }}
      </div>
    </div>
    <div
      v-if="$slots.titleSuffix"
      class="grid__title-suffix"
    >
      <slot name="titleSuffix" />
    </div>
    <div
      class="r1-grid-score"
    >
      <div
        v-if="showQuantity"
        class="grid__quantity"
      >
        <IconSvg
          name="package"
          :size="14"
        />
        {{ count }}/{{ limit }}
      </div>
      <div
        v-if="$slots.suffix"
        class="grid__suffix"
      >
        <slot name="suffix" />
      </div>
    </div>
    <span
      v-if="props.exchange"
      class="r1-grid-header__status"
    >
      <slot name="status" />
    </span>
  </div>
</template>
<script lang="ts" setup>
import IconSvg from '@/components/ui/IconSvg.vue';
import Avatar from '@/components/ui/Avatar/Avatar.vue';
import { computed } from 'vue';

const props = defineProps({
  name: {
    type: String,
    default: '',
  },
  location: {
    type: String,
    default: '',
  },
  rank: {
    type: String,
    default: '',
  },
  limit: {
    type: Number,
    default: 0,
  },
  count: {
    type: Number,
    default: 0,
  },
  color: {
    type: String,
    default: '#ECB21E',
  },
  avatar: {
    type: String,
    default: '',
  },
  showQuantity: {
    type: Boolean,
    default: true,
  },
  exchange: {
    type: Boolean,
    default: false
  }
});

const computedHeaderClass = computed(() => {
  if(props.exchange) return 'r1-grid-header_exchange';
  return '';
});

const computedTitleClass = computed(() => {
  if(props.avatar && props.avatar.length) return 'r1-grid-title_avatar';
  return '';
});
const titleLocationClass = computed(() => props.location && props.location.length ? 'r1-grid-title_location' : '');

</script>
<style lang="scss" scoped src="./GridHeader.scss"></style>
