<template>
  <div class="info-panel">
    <div class="info-panel__top">
      <slot name="top" />
    </div>
    <div class="info-panel__bottom">
      <slot name="bottom" />
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss" src="./casino-info-panel.scss"></style>