.info-panel {
  position: absolute;
  right: v(32);
  bottom: v(118);
  z-index: 5;
  background: rgba(21, 21, 21, 0.5);
  border: 1px solid #1F1F1F;
  border-radius: v(5);
  width: v(280);

  :deep(.title) {
    margin-top: 0;
    margin-bottom: v(4);
    font-weight: 700;
    font-size: v(12);
    line-height: v(15);
    text-align: center;
    text-transform: uppercase;
    color: #797979;
  }

  :deep(.value) {
    display: flex;
    align-items: center;
    gap: v(6);
    font-weight: 700;
    font-size: v(22);
    line-height: v(27);

    span {
      margin-top: v(2);
    }
  }

  :deep(.bets) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v(32);
  }

  :deep(.bets-item) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: v(12);

    span {
      font-weight: 700;
      font-size: v(22);
      line-height: v(27);
    }
  }

  :deep(.bets-icon) {
    width: v(38);
    height: v(38);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &_red {
      background: radial-gradient(100% 100% at 50% 0%, #FF5D54 0%, #811711 100%);
    }

    &_black {
      background: radial-gradient(100% 100% at 50% 0%, #4F4F4F 0%, #171717 100%);
    }
  }

  &__top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: v(10);
    height: v(65);
    background: radial-gradient(174.21% 174.21% at 50% 0%, #383838 0%, #1B1B1B 100%);
    border-radius: v(5) v(5) 0 0;
  }

  &__bottom {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: v(10);
    height: v(65);
  }
}