<template>
  <n-config-provider
    class="app-holder"
    :theme="darkTheme"
    :theme-overrides="themeOverrides"
    namespace="hud"
  >
    <n-message-provider>
      <n-dialog-provider>
        <router-view />
      </n-dialog-provider>
    </n-message-provider>
  </n-config-provider>
  <div id="r1-modal-container" />
  <div id="ads-notices-container" />
</template>

<script lang="ts" setup>
import { darkTheme, NConfigProvider, GlobalThemeOverrides, NMessageProvider, NDialogProvider } from 'naive-ui';
import { v } from '@/config';

const themeOverrides: GlobalThemeOverrides = {
  common: {
    fontSize: v(14),
    textColorBase: '#FF0000',
    primaryColor: '#9B9B9B',
    primaryColorHover: '#E34D45',
  },
  Modal: {
    textColor: '#FFF',
  },
  Avatar: {
    borderRadius: '15%',
  },
  Button: {
    heightMedium: v(34),
    paddingMedium: `0 ${v(14)}`,

    border: '1px solid #3B3B3B55',
    borderHover: '1px solid #fff2',
    borderPressed: '1px solid #3B3B3B55',
    borderFocus: '1px solid #3B3B3B55',

    borderPrimary: '1px solid #7E1E19',
    borderHoverPrimary: '1px solid #D74D4500',
    borderPressedPrimary: '1px solid #D74D4500',
    borderFocusPrimary: '1px solid #D74D4500',

    borderDisabled: 'none',
    borderRadiusMedium: v(8),

    textColorTextPrimary: '#9B9B9B',
    textColorTextPressedPrimary: '#FFF',
    textColorTextHoverPrimary: '#FFF',

    textColor: '#FFF',
    textColorPressed: '#FFF',
    textColorFocus: '#FFF',
    textColorHover: '#FFF',

    textColorPrimary: '#FFF',
    textColorPressedPrimary: '#FFF',
    textColorFocusPrimary: '#FFF',
    textColorHoverPrimary: '#FFF',

    fontSizeMedium: v(12),
    fontWeight: 'bold',
    iconSizeMedium: v(14),
    iconMarginMedium: v(6),
  },
  Menu: {
    itemTextColor: '#9B9B9B',
    itemTextColorHover: '#fff',
    itemTextColorActive: '#fff',
    borderColorHorizontal: '#E34D45',
    itemHeight: v(42),
  },
  Input: {
    color: '#242424',
    colorFocus: '#242424',
    iconColor: '#797979',
    placeholderColor: '#fff',
    fontSizeLarge: v(15),
    fontSizeMedium: v(14),
    paddingLarge: `0 ${v(14)}`,
    borderRadius: v(5),
    border: '1px solid rgba(255, 255, 255, 0.1)',
    borderHover: '1px solid rgba(255, 255, 255, 0.1)',
    borderFocus: '1px solid rgba(255, 255, 255, 0.1)',
    borderError: '1px solid rgba(255, 255, 255, 0.1)',
    borderHoverError: '1px solid rgba(255, 255, 255, 0.1)',
    borderFocusError: '1px solid rgba(255, 255, 255, 0.1)',
    boxShadowFocus: 'none',
    heightLarge: v(52),
  },
  Checkbox: {
    color: 'transparent',
    checkMarkColor: 'white',
  },
  Select: {
    peers: {
      InternalSelection: {
        border: '1px solid rgba(255, 255, 255, 0.1)',
        borderHover: '1px solid rgba(255, 255, 255, 0.1)',
        borderFocus: '1px solid rgba(255, 255, 255, 0.1)',
        borderActive: '1px solid rgba(255, 255, 255, 0.1)',
        boxShadowActive: 'none',
        boxShadowFocus: 'none',

        color: '#242424',
        colorActive: '#242424',
        textColor: '#FFF',
        heightMedium: v(54),
        heightSmall: v(34),
        fontSizeMedium: v(14),
        fontSizeSmall: v(14),
        arrowSize: v(18),
        paddingSingle: `0 ${v(26)} 0 ${v(14)}`,
        borderRadius: v(3),
      },
      InternalSelectMenu: {
        // optionHeightMedium: v(54)', // Naiveui don't work w/ vh here (used calc())
        optionFontSizeMedium: v(14), // if you set 'large' for Select, it means 'large' for InternalSelection, but not for InternalSelectMenu ('medium')
        optionPaddingMedium: `0 ${v(12)}`,
        borderRadius: v(3),
      },
    },
  },
  Skeleton: {
    borderRadius: v(12),
  },
  DataTable: {
    fontSizeMedium: v(14),
  },
  Progress: {
    fontSizeCircle: v(12),
    fontWeightCircle: 'bold',
    fillColorSuccess: '#2EF365',
  },
  Dropdown: {
    color: '#1A1A1A',
    optionColorHover: '#292929',
    optionHeightMedium: v(52),
    fontSizeMedium: v(12),
    optionTextColorHover: '#fff',
    borderRadius: v(24),
  },
  Popconfirm: {
    fontSize: v(16),
    peers: {
      Popover: {
        arrowHeight: '0',
        borderRadius: v(24),
        color: '#181818',
        boxShadow: 'none',
        padding: v(20),
      },
    },
  },
  Form: {
    asteriskColor: '#e34d45',
    feedbackTextColorError: '#e34d45',
  },
  Table: {
    fontSizeLarge: v(14),
    fontSizeMedium: v(14),
  },
  Pagination: {
    buttonIconSize: v(16),
  },
  Popover: {
    color: '#1A1A1A',
    borderRadius: v(6),
  }
};
</script>

<style lang="scss" src="@/assets/scss/index.scss"></style>
