<template>
  <div class="controlling">
    <div
      v-for="(item, index) in controls"
      :key="index"
      class="controlling-item"
    >
      <div class="controlling-item__label">
        {{ item.label }}
      </div>
      <p class="controlling-item__text">
        {{ item.text }}
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue';

interface Control {
  label: string,
  text: string
}

const props = defineProps({
  controls: {
    type: Array as PropType<Control[]>,
    default: () => []
  }
});
</script>

<style scoped lang="scss" src="./controlling.scss"></style>