<route>
{
  "name": "inventory",
  "meta": { "title": "Инвентарь", "layout": "default" }
}
</route>

<template>
  <div>
    <modal-main
      namespace="default-layout"
      to="#r1-modal-container"
    >
      <template #content>
        <inventory />
      </template>
    </modal-main>
  </div>
</template>

<script setup lang="ts">
import ModalMain from '@/components/ModalMain/ModalMain.vue';
import Inventory from '@/components/Inventory/Inventory.vue';

</script>

<style scoped>

</style>