<template>
  <div class="casino-layout">
    <div class="casino-layout__bg">
      <img
        src="@/assets/images/bjack_bg.png"
        alt=""
      >
    </div>
    <CasinoWallet
      :cash="data?.wallet?.cash"
      :card="data?.wallet?.card"
      :chips="data?.wallet?.chips"
    />
    <router-view />
    <footer class="casino-layout__footer">
      <Controlling :controls="data.hotkeysLeft" />
      <Controlling :controls="data.hotkeysRight" />
    </footer>
  </div>
</template>

<script setup lang="ts">
import Controlling from '@/components/ui/Controlling/Controlling.vue';
import CasinoWallet from '@/components/casino/wallet/CasinoWallet.vue';
import { reactive } from 'vue';

const data = reactive({
  hotkeysLeft: [
    {
      label: 'esc',
      text: 'Выйти'
    },
    {
      label: 'Enter',
      text: 'Начать игру'
    },
  ],
  hotkeysRight: [
    {
      label: 'T',
      text: 'ТОП игроков'
    },
    {
      label: 'R',
      text: 'Ставки'
    },
  ],
  wallet: {
    cash: '34 782',
    card: '48 900 799',
    chips: '3 671'
  }
});
</script>

<style src="./casino.scss" lang="scss"></style>
