.casino-layout {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: v(32);
  width: 100vw;
  height: 100vh;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
}