<template>
  <div class="default-layout">
    <div class="default-layout__bg">
      <img
        src="@/assets/images/bg.jpg"
        alt=""
      >
    </div>
    <router-view />
  </div>
</template>

<style src="./default.scss" lang="scss"></style>
