<template>
  <div class="racing-layout">
    <div class="racing-layout__bg">
      <img
        src="@/assets/images/man_bg.jpg"
        alt=""
      >
    </div>
    <router-view />
  </div>
</template>

<style src="./racing.scss" lang="scss"></style>
