<template>
  <div class="r1-layout">
    <modal-main
      to="#r1-modal-container"
      @close="close"
    >
      <h1>some title</h1>
      <router-view />
    </modal-main>
  </div>
</template>

<script lang="ts" setup>
import useLayout from '@/use/useLayout';
import ModalMain from "@/components/racingModal/ModalMain/ModalMain.vue";

const emit = defineEmits(['close']);

const { close } = useLayout(emit, 'racingModal');
</script>

<style lang="scss" scoped src="./default.scss"></style>
