.racing-layout {
  position: relative;
  width: 100vw;
  height: 100vh;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}