<template>
  <n-config-provider
    abstract
    namespace="r1-ns-submodal"
  >
    <n-modal
      v-model:show="isShow"
      :to="props.to"
      :on-mask-click="closeSub"
    >
      <div class="r1-modal">
        <h2 class="r1-modal__title">Увеличение срока</h2>
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="closeSub"
        />

        <div class="r1-modal__fields">
          <div class="r1-item">
            <label>Часы</label>
            <n-input
              :value="localFields.hours"
              placeholder="0"
            />
          </div>
          <div class="r1-item">
            <label>Минуты</label>
            <n-input
              :value="localFields.minutes"
              placeholder="0"
            />
          </div>
          <div class="r1-item">
            <label>Причина</label>
            <n-input
              :value="localFields.reason"
              placeholder="0"
            />
          </div>
        </div>

        <div class="r1-modal__buttons">
          <btn
            preset="cancel"
            size="large"
            @click="cancel"
          >
            Отмена
          </Btn>
          <btn
            preset="confirm"
            size="large"
            @click="confirm"
          >
            Подтвердить
          </btn>
        </div>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script setup lang="ts">
import { useVModel } from '@vueuse/core';
import Btn from '@/components/ui/Button/Button.vue';
import { PropType } from 'vue';
import { PrisonAddFields } from '@/services/prisonModal';
const props = defineProps({
  to: {
    type: String,
    default: 'body',
  },
  show: {
    type: Boolean,
    default: true,
  },
  fields: {
    type: Object as PropType<PrisonAddFields>,
    required: true,
  },
});
const emit = defineEmits(['close', 'confirm', 'cancel']);
const isShow = useVModel(props, 'show');
const localFields = useVModel(props, 'fields');

const closeSub = () => {
  emit('close');
};

const cancel = () => {
  emit('close');
  emit('cancel');
};

const confirm = () => {
  emit('confirm');
};
</script>

<style scoped lang="scss" src="./prison-submodal.scss"></style>