.r1-modal {
  min-height: v(454);
  max-height: 90vh;
  padding: v(52) v(33) v(21);
  width: v(666);
  position: fixed;
  left: 47%;
  background-image:
    radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__title {
    text-align: center;
    font-size: v(28);
    line-height: v(34);
    margin-bottom: v(22);
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: v(20);
    margin-bottom: v(42);

    .r1-item {
      &:last-of-type {
        grid-column: span 2
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: v(265) v(341);
    gap: v(12);
  }

  .r1-item {
    margin-bottom: v(28);

    label {
      display: block;
      font-weight: bold;
      font-size: v(14);
      line-height: v(17);
      text-transform: uppercase;
      color: #797979;
      margin-bottom: v(9);
    }

    :deep(.n-input) {
      height: v(62);

      .n-input-wrapper {
        padding-left: v(12);
        .n-input__prefix {
          color: #7ED321;
        }

        input {
          height: v(62);
        }

        .n-input__placeholder {
          color: #AAAAAA;
        }

        .n-input__placeholder, input, .n-input__prefix {
          font-family: Montserrat, serif;
          font-style: normal;
          font-weight: bold;
          font-size: v(16);
          line-height: v(20);
        }
      }
    }

    &.r1-prompt,
    &.r1-contribution,
    &.r1-set-route-btn {
      margin-top: v(-14);
    }

    &.r1-confirm {
      .n-button {
        width: 97%;
        margin: 0 1% v(2) 2%;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .n-checkbox {
      font-family: Montserrat, serif;
      font-style: normal;
      font-weight: bold;
      font-size: v(14);
      line-height: v(17);
      color: #FFFFFF;

      :deep(.n-checkbox-box) {
        height: v(18);
        width: v(18);
      }

      &.n-checkbox--checked {
        :deep(.n-checkbox-box) {
          background: radial-gradient(209.59% 209.59% at 50% 0%, #D74D45 0%, #530D09 100%)!important;
        }

        :deep(svg) {
          fill: white;
        }

        :deep(.n-checkbox-box__border) {
          border: none;
        }
      }
    }
  }
}

