<template>
  <n-notification-provider
    placement="bottom"
    scrollable
    :container-style="{ marginBottom: `${v(150)}` }"
    :max="10"
    to="#ads-notices-container"
  >
    <div class="ads-page">
      <ads-wrapper
        v-if="!loading"
        :list="adsItems"
      />
      <quick-access v-if="!loading" />
    </div>
  </n-notification-provider>
</template>

<script lang="ts">
export default {
  layout: 'racing',
};
</script>

<script setup lang="ts">
import { v } from '@/config';
import QuickAccess from '@/components/QuickAccess/QuickAccess.vue';
import AdsWrapper from '@/components/ads/wrapper/AdsWrapper.vue';
import { NNotificationProvider } from 'naive-ui';
import { storeProxy } from '@/store';
import { useHandleError } from '@gta5/vueplugin';
import { computed, onMounted, ref } from 'vue';
const { handleError } = useHandleError();

const adsItems = computed(() => storeProxy.ads.ads);
const loading = ref(true);

const getData = async() => {
  try {
    await storeProxy.ads.getAdsList();
  } catch (e) {
    handleError(e);
  }
};

onMounted(() => {
  Promise.all([getData()]).then(() => {
    loading.value = false;
  });
});

</script>

<style scoped>

</style>