.chips-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: v(30);
  width: v(279);
  height: v(382);
  background: url('~@/assets/images/chip_card_bg.jpg'), radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-size: cover;
  border-radius: v(24);
  cursor: pointer;
  border: 2px solid transparent;

  &__title {
    margin-top: 0;
    margin-bottom: v(7);
    font-size: v(24);
    line-height: v(29);
    text-align: center;
  }

  &__subtitle {
    margin: 0;
    font-weight: 700;
    font-size: v(14);
    line-height: v(17);
    text-align: center;
    color: #9B9B9B;
  }

  &__image {
    position: relative;
    margin-top: v(29);
    margin-bottom: v(25);
    height: v(178);
    width: v(178);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__chips {
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: 700;
    font-size: v(22);
    line-height: v(27);
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  &__fiat {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: v(24);
    line-height: v(29);
  }

  &__check {
    position: absolute;
    right: v(-8);
    top: v(-8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: v(32);
    height: v(32);
    border-radius: 50%;
    background-color: #E34D45;
    visibility: hidden;
  }

  &.is-active {
    border-color: #E34D45;

    .chips-card__check {
      visibility: visible;
    }
  }
}