<template>
  <div
    class="chips-card"
    @click="setActive"
  >
    <span
      class="chips-card__check"
    >
      <icon-svg
        name="check"
        :size="12"
      />
    </span>
    <h5 class="chips-card__title">
      {{ card?.title }}
    </h5>
    <p class="chips-card__subtitle">
      {{ card?.subtitle }}
    </p>
    <div class="chips-card__image">
      <img
        :src="imageSrc.default"
        alt=""
      >
      <span class="chips-card__chips">
        {{ card?.chips }}
      </span>
    </div>
    <div class="chips-card__fiat">
      <IconPng
        name="dollar"
        :size="24"
      />
      <span>
        {{ card?.fiat }}
      </span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from '@vue/reactivity';
import { PropType, ref } from 'vue';
import IconPng from '@/components/ui/IconPng.vue';
import IconSvg from '@/components/ui/IconSvg.vue';
import { IChipsCard } from '@/services/chips';

const props = defineProps({
  card: {
    type: Object as PropType<IChipsCard>,
    default: () => {{}}
  }
});

const emit = defineEmits(['selected']);

const imageSrc = computed(() => props.card?.imageColor.length ? require(`@/assets/images/chip_${props.card?.imageColor}.png`) : require(`@/assets/images/chip_black.png`));

const setActive = () => {
  emit('selected', props.card);
};

</script>

<style scoped lang="scss" src="./chips-card.scss"></style>