<template>
  <n-config-provider
    abstract
    namespace="r1-ns-submodal"
  >
    <n-modal
      v-model:show="isShow"
      :to="props.to"
    >
      <div class="animation-modal">
        <btn
          class="r1-exit"
          preset="exit-quarternary"
          @click="closeSub"
        />
        <header class="animation-modal__header">
          <h2
            class="animation-modal__title"
            @click="closeSub"
          >
            <icon-svg
              name="chevron-left"
              :size="19"
              stroke="#797979"
            />
            {{ title }}
          </h2>
          <r-search
            v-model:query="searchQuery"
            class="r1-search"
            @update:query="onSearch"
          />
        </header>

        <div class="animation-modal__list">
          <n-scrollbar :style="{ maxHeight: `${v(293)}` }">
            <div class="animation-modal__grid">
              <animation-card
                v-for="(item, index) in list"
                :key="index"
                :data="item"
                @select="selectCard"
              />
            </div>
          </n-scrollbar>
        </div>

        <footer class="animation-modal__footer">
          <btn
            preset="confirm"
            @click="emit('stopAnimation')"
          >
            Остановить анимацию
          </btn>
        </footer>
      </div>
    </n-modal>
  </n-config-provider>
</template>

<script lang="ts" setup>
import { v } from '@/config';
import { useVModel } from '@vueuse/core';
import Btn from '@/components/ui/Button/Button.vue';
import RSearch from '@/components/ui/RSearch/RSearch.vue';
import { PropType, ref } from 'vue';
import { AnimationItem } from '@/services/animations';
import IconSvg from '@/components/ui/IconSvg.vue';
import AnimationCard from './animationCard/AnimationCard.vue';

const props = defineProps({
  to: {
    type: String,
    default: 'body',
  },
  show: {
    type: Boolean,
    default: true,
  },
  title: {
    type: String,
    default: ''
  },
  list: {
    type: Array as PropType<AnimationItem[]>,
    default: () => []
  }
});
const searchQuery = ref('');
const emit = defineEmits(['close', 'searchQueryDetail', 'selectCard', 'stopAnimation']);
const isShow = useVModel(props, 'show');

const closeSub = () => {
  emit('close');
};

const onSearch = (e: string) => {
  emit('searchQueryDetail', e);
};

const selectCard = (animation: AnimationItem) => {
  emit('selectCard', animation);
};
</script>

<style scoped src="./animation-detail.scss" lang="scss"></style>