.animation-modal {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: v(573);
  width: v(666);
  padding-top: v(52);
  background-image:
          radial-gradient(523.03% 523.03% at 50.39% 50%, #181818 0%, #0E0E0E 100%);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: v(24);
  overflow: hidden;

  .r1-exit {
    position: absolute;
    top: v(32);
    right: v(32);
  }

  &__header {
    padding: 0 v(25);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: v(23);
    margin-bottom: v(32);
    font-size: v(28);
    line-height: v(34);

    svg {
      cursor: pointer;
    }
  }

  &__list {
    padding-top: v(20);
    flex: 1;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: v(12);
    padding: 0 v(25);
  }

  &__footer {
    display: flex;
    align-items: center;
    height: v(98);
    padding: 0 v(25);

    button {
      width: 100%;
      height: v(52);
    }
  }
}