<template>
  <inline-svg
    v-if="src"
    :src="src"
    :alt="`${props.name} icon`"
    :class="className"
    :style="{ width, height: 'auto', outline: 'none' }"
    :fill="fill"
    :stroke="props.stroke"
    :stroke-width="props.strokeWidth"
  />
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { v } from '@/config';
import InlineSvg from 'vue-inline-svg';

const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  folder: {
    type: String,
    default: 'icons',
  },
  size: {
    type: [Number, String],
    default: 23,
  },
  fill: {
    type: String,
    default: 'white',
  },
  stroke: {
    type: String,
    default: null,
  },
  strokeWidth: {
    type: Number,
    default: null,
  },
});

const src = computed(() => `./${props.folder}/${props.name}.svg`);
const className = computed(() => 'r1-icon-svg r1-icon-svg--' + props.name);

// when received size===null, you can use css class to set width
const width = computed(() => {
  if (props.size === null) return undefined;
  else if (typeof props.size === 'string') return props.size;
  return v(props.size);
});
</script>
