<template>
  <img
    :class="className"
    :src="src || iconPath"
    :style="{ objectFit: 'contain', width: size, height: size }"
  >
</template>

<script lang="ts" setup>
import { computed } from 'vue';
import { v } from '@/config';
const props = defineProps({
  src: {
    type: String,
    default: '',
  },
  name: {
    type: String,
    default: '',
  },
  size: {
    type: Number,
    default: 23,
  },
});
const size = computed(() => v(props.size));

const iconPath = computed(() => {
  if (!props.name) return '';
  // eslint-disable-next-line @typescript-eslint/no-var-requires
  let icon = require(`@/assets/icons/${props.name}.png`);
  if (Object.prototype.hasOwnProperty.call(icon, 'default')) {
    icon = icon.default;
  }

  return icon;
});
const className = computed(() => 'r1-icon-png r1-icon-png--' + props.name);
</script>
