.r1-menu.n-menu {
  align-self: center;
  overflow: visible;
  font-weight: bold;
  text-transform: uppercase;
  font-size: v(12);
  height: v(42);

  :deep(.n-menu-item) {
    height: auto;
    background-color: #242424;
    display: grid;
    align-items: center;
    justify-items: center;

    &:not(:first-child) {
      &::before {
        position: absolute;
        content: "";
        display: block;
        height: 100%;
        width: v(2);
        background: linear-gradient(#24242401, #3b3b3b, #24242401);
        top: 0;
        left: 0;
      }
    }

    &:first-child {
      border-radius: v(21) 0 0 v(21);

      .n-menu-item-content--selected {
        border-radius: v(21) v(5) v(5) v(21);
      }
    }

    &:last-child {
      border-radius: 0 v(21) v(21) 0;

      .n-menu-item-content--selected {
        border-radius: v(5) v(21) v(21) v(5);
      }
    }

    .n-menu-item-content {
      padding: 0 v(43);
      border: none;
      display: flex;
      justify-content: center;

      .n-menu-item-content-header a {
        color: #797979;

        &:hover {
          color: #fff;
        }
      }
    }

    .n-menu-item-content--selected {
      z-index: 2;
      background: linear-gradient(#ff5951, #660d05 150%);
      box-shadow: 0 v(3) #550600;
      border-radius: v(5);
      width: 105%;
      height: 110%;
      padding: 0 v(43);
      color: #fff;

      .n-menu-item-content-header a {
        color: #fff;
      }
    }
  }
}
