<template>
  <n-menu
    v-model:value="value"
    class="r1-menu"
    :options="props.options"
    mode="horizontal"
    :theme-overrides="menuThemeOverrides"
  />
</template>

<script lang="ts" setup>
import { PropType, computed } from 'vue';
import { NMenu, MenuOption, MenuProps } from 'naive-ui';

const props = defineProps({
  modelValue: {
    type: String,
    default: null,
  },
  options: {
    type: Array as PropType<Array<MenuOption>>,
    required: true,
  },
});

const emit = defineEmits(['update:modelValue']);
const value = computed({
  get: () => props.modelValue,
  set: val => emit('update:modelValue', val),
});

type MenuThemeOverrides = NonNullable<MenuProps['themeOverrides']>
const menuThemeOverrides: MenuThemeOverrides = {
  itemTextColor: '#797979',
};


</script>

<style lang="scss" scoped src="./Menu.scss"></style>
